 Supported Point Formats Extension in 3.0.0 (master)

During our research with differential testing, we disovered that the different parse processment of  Supported Point Formats Extension, and we think that this behavior is harmless but not RFC compliant. The relevant version is Openssl 3.0.0-alpha7-dev. 
In section 5.2.1 of RFC 4492, it is stated that 

> Three point formats are included in the definition of ECPointFormat  above.  The uncompressed point format is the default format in that implementations of this document MUST support it for all of their  supported curves.

Such as in Libressl3.2.1, it responds to the specification with following code: 
```
if (!CBS_contains_zero_byte(&ecpf)) {
		SSLerror(s, …);
		goto err;
	}
```
But the function "tls_parse_ctos_ec_pt_formats"  in openssl cannot meet the requirement.
```
int tls_parse_ctos_ec_pt_formats(SSL *s, PACKET *pkt, unsigned int context,
                                 X509 *x, size_t chainidx)
{
    PACKET ec_point_format_list;

    if (!PACKET_as_length_prefixed_1(pkt, &ec_point_format_list)
        || PACKET_remaining(&ec_point_format_list) == 0) {
        SSLfatal(s, SSL_AD_DECODE_ERROR, SSL_F_TLS_PARSE_CTOS_EC_PT_FORMATS,
                 SSL_R_BAD_EXTENSION);
        return 0;
    }

    if (!s->hit) {
        if (!PACKET_memdup(&ec_point_format_list,
                           &s->ext.peer_ecpointformats,
                           &s->ext.peer_ecpointformats_len)) {
            SSLfatal(s, SSL_AD_INTERNAL_ERROR,
                     SSL_F_TLS_PARSE_CTOS_EC_PT_FORMATS, ERR_R_INTERNAL_ERROR);
            return 0;
        }
    }

    return 1;
}
```


I disagree with you. The RFC does not require implementations to fail if a peer sends the extension without including the uncompressed point format. It simply requires that implementations must support it. We do support it and are therefore compliant with the RFC.