matching against name constraint with an email domain fails

Endpoint certificates with email subject alt name, such as "user@example.org", currently do not seem to match CA name constrains that specify an email domain, such as ".example.org". This causes the cert chain to fail to validate. I tested this with OpenSSL 1.1.1l.

I thought maybe OpenSSL does not support name constraints that contain an email domain. However, lines 589-597 in nc_email() in crypto/x509v3/v3_ncons.c check for an email name constraint that does not contain '@' and starts with '.'. This implies that email domains are supported, so I decided to submit this as a bug report.

Matching fails because ia5ncasecmp() compares, in the example above, baseptr = ".example.org" and emlptr = "@example.org".

This is illustrated by the following certificate chain and openssl verify:
openssl verify -CAfile <CA chain file> <endpoint cert file>

Endpoint certificate:
-----BEGIN CERTIFICATE-----
MIIDdjCCAl6gAwIBAgICEAgwDQYJKoZIhvcNAQELBQAwLzETMBEGA1UECgwKU2Ft
cGxlIE9yZzEYMBYGA1UEAwwPSW50ZXJtZWRpYXRlIENBMB4XDTIxMTIwNTA1NDcz
MVoXDTIyMTIwNTA1NDczMVowLTETMBEGA1UECgwKU2FtcGxlIE9yZzEWMBQGA1UE
AwwNU2FtcGxlIEhvc3QgMTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEB
AMeQvl89DaiEBO5ct6wSZOJ/P6Nd/6QRrhzhI9gEl/CJTyAnAQAjrO3frJcm/XD6
x0Jv1XItuFi0OHTxNi5h2vjcIiXwDQlPuplWc/rxV8oY3oukfUCV78rNJpkfxwe8
Uyy4OWbpUuQTxm2vAIV1viS/cq5iBCbQRA7uz0/4bl6n4un/x6sQe3aGBFleb6kb
Fy7zzDIIx2+ZFft3C3Y4c1AiPyn9RUEdRIpHQkLUhZF7vrktaBPBH9OF5kRnqWlI
/pRiYs43inUUsTXW6Ov5ITShF8YAYvsdaFgAIRvjJ5j90HOtKGlP0Ue3sbylFnDj
2Rytf0CKt1hwaJQUtHtEOCECAwEAAaOBnTCBmjAMBgNVHRMBAf8EAjAAMB0GA1Ud
DgQWBBSiGubiVPFXz88GjlosyhJ1KeAqhDAfBgNVHSMEGDAWgBRzQ5Gg7aVdbQO7
y9xsRhrqpFpxmzAOBgNVHQ8BAf8EBAMCA6gwHQYDVR0lBBYwFAYIKwYBBQUHAwEG
CCsGAQUFBwMCMBsGA1UdEQQUMBKBEHVzZXJAZXhhbXBsZS5jb20wDQYJKoZIhvcN
AQELBQADggEBACbjEg7iqLntkI2yDFjxM4Qtci1DbUFTFSuEFqNvR1M9tyVb/4AL
n4Ok4n9gLGv9UeYOC0UKYfap4zSzBxYgy2kvU5OqGJO0PF4J97Cl11reIkScYFqH
Etv/Bh/L4QccjA/hJPwEe2pMQ1w2QMNkN8iENcQ1biqNtJ88ZlNp6I8pKhNoEVvj
puXa4dSyf3U8dft8LpavroTKCytQEJvmK7JgghefMT2F43u9pyQCScrV/bxsDqmF
3odH92HzZJ1AfHPS8eOgif0OlY7BfG8WgiHhYPlWS85pDwcj6fF3S74RZW8HkcVj
NGVYIfpUIotKOpIbIW+dytVLgx/TGClsVa4=
-----END CERTIFICATE-----

Intermediate and root certificate:
-----BEGIN CERTIFICATE-----
MIIDTTCCAjWgAwIBAgIUTs5781g1L+Cnp+XGBLncvaegoewwDQYJKoZIhvcNAQEL
BQAwLjETMBEGA1UECgwKU2FtcGxlIE9yZzEXMBUGA1UEAwwOU2FtcGxlIFJvb3Qg
Q0EwHhcNMjExMjA1MDM0NjQ3WhcNMjYxMjA0MDM0NjQ3WjAuMRMwEQYDVQQKDApT
YW1wbGUgT3JnMRcwFQYDVQQDDA5TYW1wbGUgUm9vdCBDQTCCASIwDQYJKoZIhvcN
AQEBBQADggEPADCCAQoCggEBAMLVsBmdR+Bz70aafYzN0iLarN/aRJ+Oo7/dCKZy
l0z2tIJbTAeSIh2tMu2b2VegfJh7mmUiyNufSS7gHcvDwrqPE6Wb9hVKyeDkgIzH
/dZ5cBQbJXuXQHkrqdNDJ4GnD4C3SqqXYV/CMJLDp4FWAO4JajYizSYJt/4AlmTy
7CqZwzbj1mT7RaxiEXezZpeREC+bSi5UhTsYKBvFBHh2MbGJRKigYVMoay/Laeyv
yi3IpNadWiRB1HIBiGe2E0nvhjfH2sDaDkE7h6kTYRfNrp4OVfFjIFfBYR6Y7/r/
dYbxuIVQr2rh+tOASUZrzwiqAlZ8weyV2WuVnJuH1DvGi/UCAwEAAaNjMGEwDwYD
VR0TAQH/BAUwAwEB/zAdBgNVHQ4EFgQUjYvyLnuEao6LSTz8F49OSCkVgK8wHwYD
VR0jBBgwFoAUjYvyLnuEao6LSTz8F49OSCkVgK8wDgYDVR0PAQH/BAQDAgGGMA0G
CSqGSIb3DQEBCwUAA4IBAQBaymHN3qCaHZ5k8BwHff31kAmEI4AJvJfi7N1E7Cd/
bX1dbOnx4qXVdsejW7ADI1TU4r7KVmw+u3tf3m3ZpxX4yvBScs5pEaN9oP3NB41K
4aEL5ASZmz9jmtMkpmyCv/F1Ctp82NqmPKQI+dWppa+Q08M4q5/Wx5hLENbpP6Qn
jkTnvLkZeWpchualMZiB6w/QONkKjUUuguFtzOJvflg3LyURMfogp6PHvRuZ4XGf
LsONvz3G7OxMusreR3w/uS6Bl/PIFreBGyfw7DJ5hzHYx5ZjCJRurkM5u4Um2xhL
15lAyAOLGPXmb7p/zLbVFiFVbJdJTFDc44jsj1NGBe7d
-----END CERTIFICATE-----
-----BEGIN CERTIFICATE-----
MIIDWjCCAkKgAwIBAgICEAIwDQYJKoZIhvcNAQELBQAwLjETMBEGA1UECgwKU2Ft
cGxlIE9yZzEXMBUGA1UEAwwOU2FtcGxlIFJvb3QgQ0EwHhcNMjExMjA1MDQ0OTU1
WhcNMjYxMjA0MDQ0OTU1WjAvMRMwEQYDVQQKDApTYW1wbGUgT3JnMRgwFgYDVQQD
DA9JbnRlcm1lZGlhdGUgQ0EwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIB
AQCpjQ9zqLO0KdYz+85FFtWmkfrPLjQ4LJWhmF1ej9zp4R/A/ux6AD/+Fl9h46mm
9nBsaZX4Kbod5Fg229I0ps0+6JXHOL099sXp1EJWJO8iJ+X1OG68SVXrnvp4t0nI
fAG12WrJ93tpufmTVRv4czNEiteSslxTfc/cPDmNlX1JnU8lKeEGlAJQpiZSnUWc
HXoDm7mxDhc0ZVTFHviModzLktMKU7TfCMzcTvPFi+z73SlfW5/XC4VIkYCsBM2r
WWcaavfvV/q1hGjJJ+vnbORvxpAW3btX3we0JQ4Ny5hszDKofFNEa/ylo6o9+fiU
h5LtFW5zMS+6CqmR5E9FZn3DAgMBAAGjgYAwfjAPBgNVHRMBAf8EBTADAQH/MB0G
A1UdDgQWBBRzQ5Gg7aVdbQO7y9xsRhrqpFpxmzAfBgNVHSMEGDAWgBSNi/Iue4Rq
jotJPPwXj05IKRWArzAOBgNVHQ8BAf8EBAMCAYYwGwYDVR0eBBQwEqAQMA6BDC5l
eGFtcGxlLmNvbTANBgkqhkiG9w0BAQsFAAOCAQEAuw07DN6N1hbEpuWFsrgZuFGA
yKkTgpplCcHIuhMv0h0rts7GDzS6idbmbTAbqHxjwPVfw2CThbEamPjswPBWsTbN
BgqksyzStOKheTC75k8ESC0vyWg8G3zZqFPG9Zle8l8Lr056cR6NwNxDCSZWtoqV
18PupTalklHeMDdcf6vlO93d1ebw3Rm6EBQ3pE9WLpfntgwXG3Bs0dociZMYZKqq
uz27Gew3oghtZ2+bn7YNU5Q+QDIq555wPDTw5fsq7mnDFvridHE5HmCn9u+t69Pr
8wQAOHXT7knnOQvDF9q1S0jgIpTOzJVMECNt+1AxRmkP9GftcPcH6mVcOXZyqw==
-----END CERTIFICATE-----



> Endpoint certificates with email subject alt name, such as "user@example.org", currently do not seem to match CA name constrains that specify an email domain, such as ".example.org". This causes the cert chain to fail to validate.

This is the correct behavior. Section 4.2.1.10 of [RFC 5280](https://www.rfc-editor.org/rfc/rfc5280.html#section-4.2.1.10) says:
```
   A name constraint for Internet mail addresses MAY specify a
   particular mailbox, all addresses at a particular host, or all
   mailboxes in a domain.  To indicate a particular mailbox, the
   constraint is the complete mail address.  For example,
   "root@example.com" indicates the root mailbox on the host
   "example.com".  To indicate all Internet mail addresses on a
   particular host, the constraint is specified as the host name.  For
   example, the constraint "example.com" is satisfied by any mail
   address at the host "example.com".  To specify any address within a
   domain, the constraint is specified with a leading period (as with
   URIs).  For example, ".example.com" indicates all the Internet mail
   addresses in the domain "example.com", but not Internet mail
   addresses on the host "example.com".
```
So, if you want to constraint to permit all mailboxes on example.org as well as any mailboxes on any host matching *.example.org, then the constraint needs to include two permitted subtrees: example.org and .example.org.

Ok, so you mean that the constraint ".example.org" only matches email addresses in sub-domains of "example.org"? The RFC does not talk about sub-domains, so I read this section to mean that something like "user@example.org" would belong to the domain "example.com" and, thus, should match the constraint ".example.org".

If this is expected behavior, please feel free to close this report. Thank you.

Closing as the RFC 5280 (albeit with some less than perfectly clear wording) describes the difference meaning all hosts in a domain and a full host name.