The dtls over UDP receives invalid records and does not discard them silently.

according rfc8446 4.1.2.7
>Note that if DTLS is run over UDP, then any
implementation which does this will be extremely susceptible to
denial-of-service (DoS) attacks because UDP forgery is so easy.

https://github.com/openssl/openssl/blob/1441f2bc5b60b6cc0ca56515a95e9897c6e74936/ssl/record/ssl3_record.c#L1657-L1666

The packet is discarded, right? You're suggesting that alerts not be sent in this case (what about other similar checks in the same function)?

@mattcaswell 

> The packet is discarded, right? You're suggesting that alerts not be sent in this case (what about other similar checks in the same function)?
> 
> @mattcaswell

I mean, this scenario should be silently discarded, not alert.

The correct RFC citation is RFC 9147 §4.5.2:
> [4.5.2. ](https://datatracker.ietf.org/doc/html/rfc9147#section-4.5.2)[Handling Invalid Records](https://datatracker.ietf.org/doc/html/rfc9147#name-handling-invalid-records)
Unlike TLS, DTLS is resilient in the face of invalid records (e.g., invalid formatting, length, MAC, etc.). In general, invalid records SHOULD be silently discarded, thus preserving the association; however, an error MAY be logged for diagnostic purposes. Implementations which choose to generate an alert instead MUST generate fatal alerts to avoid attacks where the attacker repeatedly probes the implementation to see how it responds to various types of error. **_Note that if DTLS is run over UDP, then any implementation which does this will be extremely susceptible to DoS attacks because UDP forgery is so easy._** Thus, generating fatal alerts is NOT RECOMMENDED for such transports, both to increase the reliability of DTLS service and to avoid the risk of spoofing attacks sending traffic to unrelated third parties.
>
>If DTLS is being carried over a transport that is resistant to forgery (e.g., SCTP with SCTP-AUTH), then it is safer to send alerts because an attacker will have difficulty forging a datagram that will not be rejected by the transport layer.
>
>Note that because invalid records are rejected at a layer lower than the handshake state machine, they do not affect pending retransmission timers.

OpenSSL is inconsistent in how it responds to DTLS protocol errors.  In some places, it responds with fatal errors, while other places silently drop the packet.  As stated in the RFC, the preferred behavior for DTLS over UDP is to silently drop the incoming packet without responding with an error.

There are two approaches to tightening security per the RFC:  silently drop all packets causing protocol errors, or respond with fatal errors when using SCTP but not UDP.  Silently dropping packets is easier to implement since the relevant code is almost entirely transport agnostic.

Happy to have a go at that one