OpenSSL 3.0.x regression around OCSP w/ proxy

We have an application that uses OCSP with a proxy configured that suddenly started seeing their OCSP requests failing, with the proxy returning a 400 (Bad Request). After taking a packet trace for the working case v/s non-working, we found that currently the Request-Line looks like 

```
POST /http://ocsp.usertrust.com/ HTTP/1.0\r\n"
```

In the working case, there is no "/" preceding the Request-URI.

I was able to track this behavior to OSSL_HTTP_REQ_CTX_set_request_line():

```
 196     /* Make sure path includes a forward slash */                                                                                                                                                                                                                        
 197     if (path == NULL)                                                                                                                                                                                                                                                    
 198         path = "/";                                                                                                                                                                                                                                                      
 199     if (path[0] != '/' && BIO_printf(rctx->mem, "/") <= 0)                                                                                                                                                                                                               
 200         return 0;     
```

The NULL->"/" conversion seems to be longer-standing behavior, but the second portion specifically seems to have been added as part of the broader refactoring in https://github.com/openssl/openssl/commit/29f178bddfdbd11218fbcba0b8060297696968e3 (at which time the function in question was named OSSL_HTTP_REQ_CTX_header()).

This seems like an incorrect behavior to me. It appears to be predicated on the assumption that the Request-URI is an abs_path. However, as per [section 5.1.2 of RFC 1945](https://datatracker.ietf.org/doc/html/rfc1945) it may also be an absoluteURI. Only in the case of an abs_path does attempting to "correct" user input by prepending a "/" make any sense.

However, the NULL->"/" conversion still seems basically defensible to me in this context; it wouldn't make any sense for an absoluteURI to be effectively empty, so treating that particular case as abs_path seems OK.

I should note the broader call stack, since the local comments of OSSL_HTTP_REQ_CTX_set_request_line() seem to suggest some awareness of the rules here.

Call stack is through OCSP_sendreq_new(). At this time it isn't known that there will be proxy, but Request-URI (via "path") is supplied. So OCSP_sendreq_new() passes NULL for the proxy arguments (3rd and 4th) into OSSL_HTTP_REQ_CTX_set_request_line(). 

@DDvO would you like to look at this one?


Would the solution (perhaps too simplistic one?) be to use `path[0] != '/' && strchr(path, ':') == NULL && BIO_printf(rctx->mem, "/") <= 0` instead as the condition?


 After a longer debugging session i came sadly to the same bug, mentioned here.

Just checking for strchr(path, ':') seems a bit hackish to me. Anywhere inside the path can be a :.
in my personal opinion i would just remove the 2 added lines:
 199     if (path[0] != '/' && BIO_printf(rctx->mem, "/") <= 0)                                                                                                                                                                                                               
 200         return 0;     
 
Was there an explicit reason for adding those?


Ping @DDvO ?

Oh, I did not notice this issue before. Thanks @t8m for pointing me to it again.

`OSSL_HTTP_REQ_CTX_set_request_line()` was formerly called `OSSL_HTTP_REQ_CTX_header()` and originally called `OCSP_REQ_CTX_http()`.
The function was introduced in commit 6f9076ff37049affcc66705dec650b445e290cca
Its documentation was introduced by commit 83b6dc8dc739ce7ca82652461bea92c31e634a57.
Its last parameter always was called `path`, which should already have made clear that at this point no full URI is expected,
but just a path - which was then made explicit also in the documentation:
```
I<path> is the HTTP request path; if left NULL, C</> is used.
```
I later improved its behavior to prepend the `/` in case the path is present but was missing the `/` to form an absolute path.
By that time, the function was silently expecting that the path is either NULL or already had a preceding `/`.

@jwalch and @LugPaj looks like your applications sloppily have been abusing the `path` parameter by providing a full `URL` instead,
which worked as long as the function sloppily did not check for an absolute HTTP path.
The should have chopped the initial part of the URL themselves, such that only the path is provided as argument.

@t8m I do not agree to adding the **bug** ad **regression** flags here.

@DDvO I have to disagree with your disagreement. The older function did not have the server/port arguments but it still allowed for using proxy via this _abuse_ (not really an abuse, as the function was undocumented and just the name of argument is not relevant documentation) of path. And it worked fine. IMO it is a regression that we no longer allow the old API call to work like it was working.

I also do not see anywhere being documented that the `/` is prepended if not there already. IMO this is really a mistake and it should be removed.



> The older function did not have the server/port arguments 

Hmm, `OSSL_HTTP_REQ_CTX_header()` had the `server` and `port` parameters,
while the legacy function `OCSP_REQ_CTX_http(rctx, op, path)` did not have them
and is meanwhile defined as a macro setting both these parameters to NULL.
 
I just noticed that it was just later wrongly documented by commit 83b6dc8dc739ce7ca82652461bea92c31e634a57:
```
+OSSL_HTTP_REQ_CTX_header() adds an HTTP request line to the request context.
+The request command itself becomes C<GET> or C<POST> depending on the value
+of I<method_GET> in the OSSL_HTTP_REQ_CTX_new() call.  I<server> and I<port>
+may be set to indicate a proxy server and port that the request should go
+through, otherwise they should be left NULL.  I<path> is the HTTP request path;
+if left NULL, C</> is used.
```
while in fact `server` and `proxy` are not the host and port of the proxy, 
but of the server ultimately to connect to (via the proxy). I'm going to fix this later today.

I am pretty sure that the `path` parameter was never intended to receive a full URL.
Note that the documentation does not mention anything like this for use with a proxy.
Instead, `OSSL_HTTP_REQ_CTX.pod` is clear how a proxy URL is supposed to get set up: namely by the `OSSL_HTTP_REQ_CTX_set_request_line()` function using the `server` and optional `port` parameter to form an intentional(!) URL, which is then placed in the first line of the HTTP request.

So to me, using only the `path` parameter for a connection is a legacy hack, which worked just accidentally.
This also holds for `OCSP_sendreq_new()`.

What we can do is to officially rename the parameter of these functions to `path_or_url`,
and, as you suggested, skip prepending the `/` in case the argument starts with `http://` (which indicates the interpretation as a URL to be sent to a proxy).
In this case, it would be an error to give in addition the `server` (and possibly `port`) parameters.
I'm going to broaden the function definition and documentation in this way,
which will re-able the use intended by @jwalch and @LugPaj.


OSSL_HTTP_REQ_CTX_header is a post 1.1.1 addition so it is irrelevant in regards to whether this is a regression of OCSP_REQ_CTX_http() or not.