Possible non-RFC-conformant otherName encoding

I have two certificates created from two different sources, one of them OpenSSL. Both attempt to encode a Microsoft Universal Principal Name into the subjectAltNames extension.

For OpenSSL, the certificate was created with the following:
```sh
set -e

USER_NAME=${1:-devops}
UPN=$USER_NAME@localhost
SUBJECT="/CN=$USER_NAME"

EXT_CONF_FILE=`mktemp -t test-initXXXXXX.conf`
KEY_FILE=cert.key

cat > $EXT_CONF_FILE << EOF
distinguished_name  = req_distinguished_name
[req_distinguished_name]
[v3_req_client]
extendedKeyUsage = clientAuth
subjectAltName = otherName:1.3.6.1.4.1.311.20.2.3;UTF8:$UPN
EOF
export OPENSSL_CONF=$EXT_CONF_FILE

openssl req -x509 -nodes -days 3650 -newkey rsa:2048 -out "$PEM_FILE" \
-outform PEM -keyout $KEY_FILE -subj "$SUBJECT" \
-extensions v3_req_client 2> /dev/null

rm $EXT_CONF_FILE
```
The other certificate was created via some custom code in Go libraries.

There is a single important difference in the output certificates that has to do with the Subject Alternative Name octet string. Here's a dump of the one created by OpenSSL (`OCTET STRING      [HEX DUMP]:3022A020060A2B060104018237140203A0120C106465766F7073406C6F63616C686F7374`):
```
    0:d=0  hl=2 l=  34 cons: SEQUENCE          
    2:d=1  hl=2 l=  32 cons:  cont [ 0 ]        
    4:d=2  hl=2 l=  10 prim:   OBJECT            :Microsoft Universal Principal Name
   16:d=2  hl=2 l=  18 cons:   cont [ 0 ]        
   18:d=3  hl=2 l=  16 prim:    UTF8STRING        :devops@localhost
```
Here's the one created by the Go libraries (`OCTET STRING      [HEX DUMP]:3024A0223020060A2B060104018237140203A0120C106465766F7073406C6F63616C686F7374`)
```
    0:d=0  hl=2 l=  36 cons: SEQUENCE          
    2:d=1  hl=2 l=  34 cons:  cont [ 0 ]        
    4:d=2  hl=2 l=  32 cons:   SEQUENCE          
    6:d=3  hl=2 l=  10 prim:    OBJECT            :Microsoft Universal Principal Name
   18:d=3  hl=2 l=  18 cons:    cont [ 0 ]        
   20:d=4  hl=2 l=  16 prim:     UTF8STRING        :devops@localhost
```
Looking at RFC 5280 section 4.2.1.6 we see the following grammar:
```

   id-ce-subjectAltName OBJECT IDENTIFIER ::=  { id-ce 17 }

   SubjectAltName ::= GeneralNames

   GeneralNames ::= SEQUENCE SIZE (1..MAX) OF GeneralName

   GeneralName ::= CHOICE {
        otherName                       [0]     OtherName,
        rfc822Name                      [1]     IA5String,
        dNSName                         [2]     IA5String,
        x400Address                     [3]     ORAddress,
        directoryName                   [4]     Name,
        ediPartyName                    [5]     EDIPartyName,
        uniformResourceIdentifier       [6]     IA5String,
        iPAddress                       [7]     OCTET STRING,
        registeredID                    [8]     OBJECT IDENTIFIER }

   OtherName ::= SEQUENCE {
        type-id    OBJECT IDENTIFIER,
        value      [0] EXPLICIT ANY DEFINED BY type-id }

   EDIPartyName ::= SEQUENCE {
        nameAssigner            [0]     DirectoryString OPTIONAL,
        partyName               [1]     DirectoryString }
```
Looking at the OpenSSL and Go implementations, we see in both cases that the encoded subjectAltName is a SEQUENCE of GeneralName which is expected, and we see the expected tag 0 to indicate an OtherName. However, OpenSSL encodes this as an OBJECT containing a UTF8String, even while the RFC specifies that OtherName must be a SEQUENCE containing an OBJECT and a value of a type appropriate for that OID. The Go libraries encode this as a SEQUENCE containing an OBJECT containing a UTF8String.

As far as I can tell the Go libraries are actually correct here and OpenSSL is out of spec. Am I missing something or is this a legitimate bug?

Is RFC5280's default for tags IMPLICIT or EXPLICIT? If it's IMPLICIT, OpenSSL is right (this produces a sequence, with a tag of `0`), if it's EXPLICIT the sequence is _wrapped_ with another TLV containing a tag of `0`.

I _believe_ the default is IMPLICIT, but grep on 5280 is failing me.

https://crt.sh/?asn1=126941361 was a certificated issued to me which exhibits the IMPLICIT behavior that OpenSSL has, which lends some credibility to that being the correct interpretation.

@alex I just took a round trip through the RFC again and can also not find a statement explaining whether the default should be implicit or explicit. There are examples of `IMPLICIT` and `EXPLICIT` being supplied for some values, unhelpfully.

This may be a case of IMPLICIT being a de-facto default due to it being the way OpenSSL does things rather than it being actually _correct_. I'm not sure how to go about clarifying things other than pinging the IETF though.

A posting to the lamps@ietf.org<mailto:lamps@ietf.org> mailing list will probably engage the right experts.




@richsalz Awesome, thanks for the pointer!

Ok, I went back to https://www.itu.int/ITU-T/studygroups/com17/languages/X.690-0207.pdf which specifies:

```
The encoding of a choice value shall be the same as the encoding of a value of the chosen type. 
NOTE 1 – The encoding may be primitive or constructed depending on the chosen type. 
NOTE  2  –  The  tag  used  in  the  identifier  octets is  the  tag  of  the  chosen  type,  as  specified  in  the  ASN.1  definition  of  the  choice type. 
```

Which I believe is basically what I said, minus the confusion about IMPLICIT vs. EXPLICIT (which I guess isn't applicable to choices)

@alex The CHOICE value type in this case is an OtherName, and it's the definition of OtherName that specifies the SEQUENCE. This suggests that the encoding of an OtherName choice should in fact be a SEQUENCE...? Unless there is a default IMPLICIT for the RFC? Or am I misunderstanding what you're trying to point out?

I guess that was a circular way of saying "I'm pretty sure it's an implicit" :-)

Sorry, hold my hand slightly more if you can:
`The encoding of a choice value shall be the same as the encoding of a value of the chosen type. `
^ To me that says only that once you've marshaled bytes for the chosen value, you don't do any further modification or encapsulation to them, but doesn't say anything about how the chosen type (specifying a sequence) should be encoded.
`The  tag  used  in  the  identifier  octets is  the  tag  of  the  chosen  type`
^ I assume this is what's making you think it's implicit? Not disagreeing, just want to make sure I'm understanding properly.

Yeah, you're following.

OK. Pretty obtuse language, but...it's ASN.1/X.509 so. I'll close this for now, and if I end up mailing lamps and they say anything of note I will reopen.

Thanks for digging in with me on this!