CMS decrypt raises an error for AES GCM, but still decrypts the message and prints some other binary data

I have a Java application that uses [BouncyCastle](https://www.bouncycastle.org/java.html) to create a CMS EnvelopedData structure with a KeyAgreeRecipientInfo structure, using the AES algorithm with 256 bit key size and GCM mode. In that application, I wrote a JUnit to test encryption as well as decryption using BouncyCastle. It works. Even with GCM mode, the original message is decrypted correctly.

**However, OpenSSL doesn't successfully decrypt the CMS EnvelopedData structure if GCM mode is used**. CBC mode works. Given what I said earlier, it seems like there is a bug in OpenSSL, but of course, I'm not absolutely certain.

The command to reproduce is:
```
$ openssl cms -in cms_ed.der -inform DER -recip cms_ed_cert.pem -decrypt
```

OpenSSL outputs:
```
Error decrypting CMS structure
test�lJ�PI�cxnS�8=
```

where the leading `test` is indeed the original encrypted message, but the output after that is not.

Input files are attached to this post in a ZIP file.

I tested with OpenSSL v3.0.2 and OpenSSL v3.1.1. Same result.

I compiled both versions myself and only changed the `--prefix` option of the `Configure` command.

[cms_ed.zip](https://github.com/openssl/openssl/files/12003445/cms_ed.zip)


Maybe @bukka could have some insight into this?


@bukka did you happen to have time to look into this?  I'm running into the same issue on v3.1.2

Not yet as I had some holiday and did not have any time for unpaid OSS work unfurtunately. I'm still catching up with things but hoping to sort this out in the coming weeks.

I need to do some preparation first and I'm just refreshing my mind how the whole thing works and will also need to check how BouncyCastle implemented that. I actually tried to test BouncyCastle when I was implementing it so I created this app https://github.com/bukka/jcrypto but then I found out that it had just partial implementation at that time so it was kind of useless. I think it might be time to get it updated and make it actually useful which should help me to do some proper interop testing.

For reference, this is the java code I've been using to decrypt this type of encrypted data

```
import java.io.File;
import java.io.FileInputStream;
import java.io.IOException;
import java.io.InputStream;
import java.nio.file.Files;
import java.security.KeyStore;
import java.security.PrivateKey;
import java.security.Security;

import org.bouncycastle.cms.CMSEnvelopedDataParser;
import org.bouncycastle.cms.CMSException;
import org.bouncycastle.cms.Recipient;
import org.bouncycastle.cms.RecipientInformation;
import org.bouncycastle.cms.jcajce.JceKeyAgreeEnvelopedRecipient;
import org.bouncycastle.cms.jcajce.JceKeyTransEnvelopedRecipient;
import org.bouncycastle.jce.provider.BouncyCastleProvider;

import com.google.common.collect.Iterables;

public class DecryptTool {
   public static void main(String[] args) throws Exception {
      Security.addProvider(new BouncyCastleProvider());

      String p12File = "input.p12";
      char[] password = "1234".toCharArray();

      String encryptedFile = "encrypted.bin";
      String decryptedFile = "decrypted.ext";

      KeyStore keyStore = KeyStore.getInstance("PKCS12");
      keyStore.load(new FileInputStream(p12File), password);

      // Get the private key and certificate from the P12 file
      String alias = keyStore.aliases().nextElement();
      PrivateKey privateKey = (PrivateKey) keyStore.getKey(alias, password);

      decrypt(privateKey, new File(encryptedFile), new File(decryptedFile));
   }

   private static void decrypt(PrivateKey privateKey, File encrypted, File decryptedDestination)
         throws IOException, CMSException {
      byte[] encryptedData = Files.readAllBytes(encrypted.toPath());

      CMSEnvelopedDataParser parser = new CMSEnvelopedDataParser(encryptedData);

      RecipientInformation recInfo = getSingleRecipient(parser);
      String algorithm = privateKey.getAlgorithm();
      Recipient recipient = null;
      if (algorithm.equals("EC")) {
         recipient = new JceKeyAgreeEnvelopedRecipient(privateKey);
      }
      else if (algorithm.equals("RSA")) {
         recipient = new JceKeyTransEnvelopedRecipient(privateKey);
      }

      try (InputStream decryptedStream = recInfo.getContentStream(recipient).getContentStream()) {
         Files.copy(decryptedStream, decryptedDestination.toPath());
      }

      System.out.println(String.format("Decrypted '%s' to '%s'", encrypted.getAbsolutePath(),
            decryptedDestination.getAbsolutePath()));
   }

   private static RecipientInformation getSingleRecipient(CMSEnvelopedDataParser parser) {
      return Iterables.getOnlyElement(parser.getRecipientInfos().getRecipients());
   }
}
```

This is the code using BouncyCastle incase it helps.


**Encrypt:**

```
final JceKeyTransRecipientInfoGenerator recipientInfoGenerator =
        new JceKeyTransRecipientInfoGenerator(recipientCert).setProvider("BC");
final CMSEnvelopedDataStreamGenerator envelopedDataGenerator = new CMSEnvelopedDataStreamGenerator();
envelopedDataGenerator.addRecipientInfoGenerator(recipientInfoGenerator);
final OutputEncryptor encryptor = new JceCMSContentEncryptorBuilder(CMSAlgorithm.AES256_GCM)
        .setProvider(BOUNCY_CASTLE)
        .build();
try (final OutputStream envelopedOut = envelopedDataGenerator.open(envelopedData, target, encryptor)) {
    data.transferTo(envelopedOut);
}
```

**Decrypt:**
```
final CMSEnvelopedDataParser envelopedDataParser = new CMSEnvelopedDataParser(data);
final Iterator<RecipientInformation> recipients = envelopedDataParser
        .getRecipientInfos()
        .getRecipients()
        .iterator();
final RecipientInformation recipient = recipients.next();
final JceKeyTransRecipient jceKeyRecipient = new JceKeyTransEnvelopedRecipient(privateKey)
        .setProvider("BC");
try (final InputStream contentIn = recipient.getContentStream(jceKeyRecipient).getContentStream()) {
    contentIn.transferTo(target);
}
```


So finally managed to look to BouncyCastle and it seems to me it still does not have fully support for authEnvelopedData. So it's actually especially for encryption. I think BouncyCastle should introduce a new stream generator `CMSAuthEnvelopedDataStreamGenerator` to support this which is still not there.

It means that it produces `pkcs7-envelopedData` instead of `id-smime-ct-authEnvelopedData` which is also in the attached zip file. You can verify this using `openssl asn1parse`.

That said, there might be still issue in OpenSSL in terms of produced output. I will look into this if it would make sense to maybe fail if `aes-128-gcm` is used in envelopedData or how to better handle this.





We ran into the exact same problem and found one solution with the use of auth-enveloped-data, but as @bukka stated BouncyCastle has no stream support for the creation of a cms structure auth-enveloped-data. Only the use of CMSAuthEnvelopedDataGenerator is possible right now, so we created a feature request with BouncyCastle for stream support.

But shouldn't it be possible to use aes-gcm with enveloped-data as well? The ASN.1 structure of an example aes-gcm enveloped-data container is as follows, created with BouncyCastle:

	SEQUENCE {
	  OBJECT IDENTIFIER envelopedData (1 2 840 113549 1 7 3)
		(PKCS #7)
	...
	SEQUENCE {
	  OBJECT IDENTIFIER data (1 2 840 113549 1 7 1)
		(PKCS #7)
	  SEQUENCE {
		OBJECT IDENTIFIER aes128-GCM (2 16 840 1 101 3 4 1 6)
		  (NIST Algorithm)
		SEQUENCE {
		  OCTET STRING 5B FC 19 68 73 A1 C2 99 1C 28 38 59                .(8Y
		  INTEGER 16
		  }
		}
	  [0] {
		OCTET STRING    
		  00 35 D5 B4 C1 1D BE B6    .5......
		  0F FF 56 E6 59 99 FD 8E    ..V.Y...
		  BC CD 3D C4 30 88 5E 28    ..=.0.^(
		  F2 DF A9 3E 16             ...>.
		}
	  }
	...
	}

The first 13 Bytes are ciphertext as gcm has no padding and ciphertext length is equal to plaintext length, the remaining 16 Bytes define the gcm authentication tag that is concatenated with the ciphertext. This is in accordance with RFC 5116 (https://www.rfc-editor.org/rfc/rfc5116#section-5.1)

	"An authentication tag with a length of 16 octets (128 bits) is used.  The AEAD_AES_128_GCM ciphertext is formed by appending the authentication tag provided as an output to the GCM encryption operation to the ciphertext that is output by that operation."
  
Additionally, RFC 5652 (https://datatracker.ietf.org/doc/html/rfc5652#section-6) states that an enveloped-data content consists of ANY type of encrypted content, so this would include aes-gcm as well?

	"The enveloped-data content type consists of an encrypted content of any type[...]"

RFC 5084 defines the use of aes-gcm (and ccm) with the auth-enveloped-data content type, unfortunately this RFC is based on an obsolete CMS RFC 3852, the newest CMS RFC 5652 does not mention auth-enveloped-data content type at all. Regardless, RFC 5084 does not specifically state that you have to use auth-enveloped-data type when using aes-gcm. Only the other way around is defined in RFC 7192 (https://datatracker.ietf.org/doc/html/rfc7192#section-5).

On the other hand, if openssl decides not to support aes-gcm with enveloped-data content type, the failed decryption as shown in the original post of such a cms content type should not reveal the plaintext unless the authentication tag is successfully verified, step 8 of section 7.2 in the gcm nist specification: 
https://nvlpubs.nist.gov/nistpubs/Legacy/SP/nistspecialpublication800-38d.pdf
But failing the decryption, as bukka mentioned, would solve this.

Unfortunately fixing this issue is currently not a priority giving there are multiple higher priority issues to be fixed. That is why we are asking if somebody is willing to contribute a fix - either a proper support or at least giving out just an error and not a broken plaintext.

There is most likely nothing to fix as incorrect structure is passed but maybe some things could be improved. It just needs someones time to verify it. I currently have to prioritise paid OSS work and don't have much time for free OSS work. I will see if I find time on this.

To quickly answer about AES-GCM in pkcs7-envelopedData . This is not really allowed because there is no place for storing nonce with its length. That's just defined for auth enveloped data - see https://www.rfc-editor.org/rfc/rfc5084 . 

I just had a look what could be done about this and we could actually produce a better here. It will probably require introducing extra param for `ossl_cms_EncryptedContent_init_bio` (so some `ossl_cms_EncryptedContent_init_bio_ex`) with info about the envelope (whether it is auth env data or just env data) and then do check with the alg if it's an AEAD. I will try to provide a change in the comming weeks - will need to produce the incorrect envelope with BouncyCastle.

The BouncyCastle actually got AuthEnvelopedData support now so it's not a big issue but different classes need to be used for that (specifically `CMSAuthEnvelopedDataGenerator`) so it is still possible that people will produce those incorrect envelopes (when using `CMSEnvelopedDataGenerator`).