Why TLS client certificate CA chain, if EKU is present, must have EKU=clientAuth?

OpenSSL TLS server requests TLS client end-entity certificate that has EKU to include clientAuth purpose in it (if it doesn't have any EKU - nothing is requested). This requirement is based on RFC 3280, section "4.2.1.13  Extended Key Usage":
```
If the extension is present, then the certificate MUST only be used
   for one of the purposes indicated.  If multiple purposes are
   indicated the application need not recognize all purposes indicated,
   as long as the intended purpose is present.  Certificate using
   applications MAY require that a particular purpose be indicated in
   order for the certificate to be acceptable to that application.

   If a CA includes extended key usages to satisfy such applications,
   but does not wish to restrict usages of the key, the CA can include
   the special keyPurposeID anyExtendedKeyUsage.  If the
   anyExtendedKeyUsage keyPurposeID is present, the extension SHOULD NOT
   be critical.
```

However OpenSSL applies the same requirement also to CA certificates in the client chain. I haven't found the source of such requirement. The RFC above doesn't ask this for non end-entity certificates. 

Also: OpenSSL 1.0.2u didn't have this requirement for client CA certificates but OpenSSL 1.1.1 already has it. So client chains accepted by 1.0.2u may not be accepted by 1.1.1 due to this reason.

If we take EAP-TLS RFC 5216, it also requests EKU=clientAuth only from end-entity certificates but not from client CA chain (Section 5.3. Certificate Validation):

```
In the case
   of the server, this involves ensuring the certificate presented by
   the EAP-TLS peer was intended to be used as a client certificate.
   Implementations SHOULD use the Extended Key Usage (see [Section](https://www.rfc-editor.org/rfc/rfc3280#section-4.2.1.13)
   [4.2.1.13 [RFC3280]](https://www.rfc-editor.org/rfc/rfc3280#section-4.2.1.13)) extension and ensure that at least one of the
   following is true:

   1) The certificate issuer included no Extended Key Usage identifiers
      in the certificate.
   2) The issuer included the anyExtendedKeyUsage identifier in the
      certificate (see [Section 4.2.1.13 of [RFC3280]](https://www.rfc-editor.org/rfc/rfc3280#section-4.2.1.13)).
   3) The issuer included the id-kp-clientAuth identifier in the
      certificate (see [Section 4.2.1.13 of [RFC3280]](https://www.rfc-editor.org/rfc/rfc3280#section-4.2.1.13)).

```

OpenSSL 3.2.0-dev demonstrates the same behavior as OpenSSL 1.1.1.

Please help to understand OpenSSL motivation for this check and for changing behavior between 1.0.2u and 1.1.1. I found discussion that touches this topic but it doesn't provide the answer to this question https://github.com/openssl/openssl/issues/13965


@mattcaswell @davidben @vdukhovni might have some answers?

OpenSSL uses EKUs (whether part of the signed certificate, or augmented in the trust store via a "TRUSTED CERTIFICATE" wrapper) as the only viable mechanism to restrict the purposes for which a CA is valid. This is not standardised in any RFC, with the unwieldy policy tree mechanism (that pretty much nobody uses) as the only standard alternative.

OpenSSL is not alone in overloading EKUs for CAs. This is a longstanding pragmatic choice.  Actually OpenSSL 1.0.2 did apply similar constraints to CAs, just not consistently, it used to matter whether the CA was from the local trust store or supplied by the remote peer. That distinction became much too fragile once users started add some intermediate (cross) CAs to their trust stores, and with "trusted first" becoming the default. So the distinction was removed in OpenSSL 1.1.1.

>This is not standardised in any RFC, with the unwieldy policy tree mechanism (that pretty much nobody uses) as the only standard alternative.
This is why the standards exist - they list requirements for all implementations. If one implementation requests more than listed in the standard, then some other party may become not complaint with this implementation. Specifically to the problem described above: there's TLS client that uses chain Root (EKU=serverAuth) -> End-entity certificate (EKU=clientAuth, serverAuth). The end-entity EKU content is required by RFC 3280. But Root EKU content is not regulated by any document. Thus this TLS client considers its chain as a totally valid. However OpenSSL in TLS server fails it. For such TLS server there is no justification to provide to the TLS client why such requirement exists. 

To overcome this problem I created a patch to OpenSSL that checks EKU for CA based on configuration option. So if I want to be compliant with the standard I have to set option to not to check EKU for CA. If you see a value in checking EKUs for CA based on X509_VERIFY_PARAM then I can contribute this patch. 


Sorry, not interested in such a patch. It just creates more confusion. Restriction of CAs by EKU is a common de facto practice, the less additional variability, especially with application or site-specific options, the better. You can decorate your root CA with additional EKUs by adding them outside the certificate in your trust store.

> You can decorate your root CA with additional EKUs by adding them outside the certificate in your trust store.

Can you please explain more how to do that?



> > You can decorate your root CA with additional EKUs by adding them outside the certificate in your trust store.
> 
> Can you please explain more how to do that?

See the `-addtrust` option of `x509`.

Thanks for sharing this approach, it is a good option for Certificate Trusted List (CTL) CA certificates. However I'm not sure how to apply it to an intermediate CA certificate in client chain that comes from the client in TLS handshake and is not present in the CTL. The only option for the TLS server application code that comes to my mind is: in verify callback to walk through all received from the client X509 intermediate CA certificates and call X509_add1_trust_object() to add "clientAuth" to each, prior the client chain is being verified. 

Where are all these EKU-constrained intermediate client CAs (with EKU lists that don't include clientAuth) coming from???

The scenario is: 

- TLS client uses the following certificate chain Root->CA1->CA2->End-Entity
- End-Entity certificate has EKU=clientAuth, serverAuth
- Root, CA1 and CA2 have EKU=serverAuth
- Server has Root in its CTL
- Client sends End-Entity + CA1 + CA2 certificates during TLS handshake
- Server builds client certificate chain for verification using Root from its CTL and CA1, CA2, End-Entity certificates received from the client
- Server fails CA2 verification with "verify error:num=26:unsupported certificate purpose"
- Thus it's not feasible on the server side to apply the trusted certificate decoration to CA1 and CA2 unless doing the trick in verify callback as explained above



My question was **why** Root, CA1 and CA2 have "serverAuth" EKUs?  If CA EKUs don't have a well-defined meaning in PKIX, what is their intent in these certificates?  Who created these certificates and why?

How many such CA certificates are there?  You can in fact put intermediate certificates (with trust EKUs bolted on) in your CAfile/CApath, they're issued from your root, so transitively trusted, and you may as well say so...

The whole client certificate chain is created by a 3rd party and is not under my control. Root, CA1 and CA2 have "serverAuth" EKUs and it sounds weird and maybe even means a wrong intent to use such CA certificates in a client certificate chain. But, as I explained above per RFC quotations, there are no regulations that prohibit such approach. Thus I cannot request from a 3rd party to change those certificates since there's no standard that says this is incorrect. There are quite a few of 3rd parties with such approach. 

This one is a problem for me as well, and the intermediate certs even have an EKU of AnyKeyUsage, but still are rejected by opensll 1.1.1. Shouldn't that EKU allow for clientAuth purpose?

I found issue 17959, which explains more about AnyKeyUsage in openssl. I will follow up on that aspect of my comments in the other issue.

Closing since this is marked as resolved.