CMS: The signer info contenttype attribute should match the signed data content type.

Currently there is no check when verifying.

The following check should happen..

static int cms_check_si_contentType_attr(CMS_ContentInfo *cms,
                                         CMS_SignerInfo *si)
{
    ASN1_OBJECT *attr_ctype;
    ASN1_OBJECT *ctype = cms->d.signedData->encapContentInfo->eContentType;
    X509_ATTRIBUTE *attr;
    int pos = -1;

    attr = cms_attrib_get(NID_pkcs9_contentType, si->signedAttrs, &pos);
    attr_ctype = X509_ATTRIBUTE_get0_object(attr);
    if (ctype == NULL || attr_ctype == NULL)
        return 0;
    return OBJ_cmp(ctype, attr_ctype) == 0;
}

I cant see a good place to plumb this change into the code..

<!--
Thank you for your bug report.

NOTE:

    If you're asking about how to use OpenSSL, this isn't the right 
    forum.  Please see our User Support resources:
    https://github.com/openssl/openssl/blob/master/.github/SUPPORT.md

Please remember to tell us in what OpenSSL version you found the issue.

For build issues:

    If this is a build issue, please include the configuration output
    as well as a log of all errors.  Don't forget to include the exact
    commands you typed.

    With OpenSSL before 1.1.1, the configuration output comes from the
    configuration command.  With OpenSSL 1.1.1 and on, it's the output
    of `perl configdata.pm --dump`

For other issues:

    If it isn't a build issue, example code or commands to reproduce
    the issue is highly appreciated.
    Also, please remember to tell us if you worked with your own
    OpenSSL build or if it is system provided.

Please remember to put ``` lines before and after any commands plus
output and code, like this:

    ```
    $ echo output output output
    output output output
    ```

    ```
    #include <stdio.h>
    
    int main() {
        int foo = 1;
        printf("%d\n", foo);
    }
    ```
-->


> I cant see a good place to plumb this change into the code..

I dunno either...

@slontis I assume this check is meant to be preformed on verification of a cms receipt?

It seems in the intervening years that ossl_cms_Receipt_verify gives us the opportunity to preform this validation, no?

I would have just read RFC 5652 Section 5.3 where it discusses signed Attrs - if they exist must contain at a minimum 2 attributes (the content type attribute). So whenever the SignedAttributes are constructed (dont think that is just the verify?)