DICE Embedded CA certificates should not be required to include all EKUs of end-entity certificates

Background:
Intel's embedded security engines incorporate a DICE (Device Identifier Composition Engine) embedded Certificate Authority (CA) within their ROM. During factory provisioning, each security engine receives a DICE Embedded CA Certificate that is permanently stored in the engine's fuses. This embedded CA generates intermediate and leaf certificates on-device for each firmware level, following DICE specification requirements. These certificates serve multiple purposes, including attestation and authentication, with leaf certificates configured for ClientAuth and ServerAuth Extended Key Usage (EKU).
 
Technical Requirement:
The DICE Certificate Profile specification (https://trustedcomputinggroup.org/wp-content/uploads/DICE-Certificate-Profiles-v1.1_pub.pdf) mandates that DICE embedded CA certificates include the "tcg-dice-kp-eca" OID in their EKU field. Accordingly, our embedded CA certificates incorporate these required DICE OIDs in their EKU extensions. On the other hand, one of our end-entity certificates acts as a webserver and must include ServerAuth in EKU and other end-entity certificate requires ClientAuth in EKU.

Issue Encountered:
OpenSSL is rejecting our security engine's certificate chains because it requires that: if the end-entity certificate includes ServerAuth or ClientAuth or other OID in EKU and a CA certificate contains EKU, then this CA certificate’s EKU must also include these OIDs. Our embedded CA certificates contain EKU extensions with DICE-specific OIDs but lack ClientAuth and ServerAuth and other OIDs. While RFC 5280 does not mandate this requirement, OpenSSL has adopted a policy originally introduced by Microsoft that enforces this restriction.

Requested Solution:
We request that OpenSSL create a policy exception for DICE embedded CA certificates, allowing them to omit ClientAuth and ServerAuth and other end-entity certificate OIDs from their EKU extensions even when leaf certificates in the chain has these OIDs in EKU. This exception is critical because DICE embedded CA certificates are permanently fused into hardware during manufacturing, and without this exception it is impossible to add new usage OIDs post-production when additional leaf certificate use cases emerge.
Relevant DICE Embedded CA OIDs:
2.23.133.5.4.100.12
2.23.133.5.4.100.6

<!--
Thank you for your feature request. If this is your first one,
please take the time to read the following lines before posting it.

NOTE:

    If you're asking about how to use OpenSSL, this isn't the right
    forum.  Please see our User Support resources:
    https://github.com/openssl/openssl/blob/master/SUPPORT.md

Please remember to put ``` lines before and after any commands plus
output and code, like this:

    ```
    $ echo output output output
    output output output
    ```

    ```
    #include <stdio.h>

    int main() {
        int foo = 1;
        printf("%d\n", foo);
    }
    ```
-->


The easiest fix is to add your own validation callback.

@DDvO may be ? 


The problem is that OpenSSL is integrated into many products and we are failing with these products since OpenSSL added this rule. It is easier to change this in OpenSSL than to request from every individual product that is using OpenSSL to make this modification.

Submitting a pull request adding the functionality you want is usually the best way to get new features into OpenSSL.

Hi @paulidale,

I have created a [PR](https://github.com/openssl/openssl/pull/28597) and verified it fixes the issue locally.
I had to switch to other thing and now coming back to work on it but it seems i am blocked on "cla required":

<img width="412" height="104" alt="Image" src="https://github.com/user-attachments/assets/4cee2ad5-1043-4256-94e6-5d1a081456f3" />

* **Is this requirement due to the fact I am an Intel employee?**
Do you have example to such license agreements and where are they placed?

I also see some coding style violation on an autogen header files (crypto/objects/obj_dat.h and include/openssl/obj_mac.h)

> The easiest fix is to add your own validation callback.
> 
> [@DDvO](https://github.com/DDvO) may be ?

Sorry, I did not notices this issue before, despite that ping.

> OpenSSL is rejecting our security engine's certificate chains because it requires that: if the end-entity certificate includes ServerAuth or ClientAuth or other OID in EKU and a CA certificate contains EKU, then this CA certificate’s EKU must also include these OIDs. Our embedded CA certificates contain EKU extensions with DICE-specific OIDs but lack ClientAuth and ServerAuth and other OIDs. While RFC 5280 does not mandate this requirement, OpenSSL has adopted a policy originally introduced by Microsoft that enforces this restriction.

I dislike that non-standard EKU check on CA certs and already wanted to remove it,
but at least @vdukhovni is in favor of it and it has have been kept at least for backward compatibility.

> We request that OpenSSL create a policy exception for DICE embedded CA certificates, allowing them to omit ClientAuth and ServerAuth and other end-entity certificate OIDs from their EKU extensions even when leaf certificates in the chain has these OIDs in EKU. 

Rather than making a specific exception for the DICE case,
I suggest adding a generic verification option, e.g, `X509_V_FLAG_NO_CA_EKU_CHECK` which is not set by default.
Would this solve the issue for you?

It should be possible for your CAs EKU extensions to also include `anyExtendedKeyUsage` in addition to `tcg-dice-kp-eca`.

If that's the case, the change in OpenSSL that makes most sense is to ensure better support for the `anyExtendedKeyUsage` EKU in end-entity and CA certificates.  This improves conformance with [RFC5280 Section 4.2.1.12](https://datatracker.ietf.org/doc/html/rfc5280#section-4.2.1.12):

```
   If a CA includes extended key usages to satisfy such applications,
   but does not wish to restrict usages of the key, the CA can include
   the special KeyPurposeId anyExtendedKeyUsage in addition to the
   particular key purposes required by the applications.  Conforming CAs
   SHOULD NOT mark this extension as critical if the anyExtendedKeyUsage
   KeyPurposeId is present.  Applications that require the presence of a
   particular purpose MAY reject certificates that include the
   anyExtendedKeyUsage OID but not the particular OID expected for the
   application.
```
While OpenSSL explicitly objects to the presence of `anyExtendedKeyUsage` in code-signing certificates, the EKU is fine for all other purposes.

Of course no proposed change will have any effect on applications still using unchanged OpenSSL library versions, not much we can do about that...

Proposed change:
```c
--- a/crypto/x509/v3_purp.c
+++ b/crypto/x509/v3_purp.c
@@ -426,7 +426,8 @@ static int check_sig_alg_match(const EVP_PKEY *issuer_key, const X509 *subject)
 #define ku_reject(x, usage) \
     (((x)->ex_flags & EXFLAG_KUSAGE) != 0 && ((x)->ex_kusage & (usage)) == 0)
 #define xku_reject(x, usage) \
-    (((x)->ex_flags & EXFLAG_XKUSAGE) != 0 && ((x)->ex_xkusage & (usage)) == 0)
+    (((x)->ex_flags & EXFLAG_XKUSAGE) != 0 \
+     && ((x)->ex_xkusage & (usage | XKU_ANYEKU)) == 0)
 #define ns_reject(x, usage) \
     (((x)->ex_flags & EXFLAG_NSCERT) != 0 && ((x)->ex_nscert & (usage)) == 0)
 
```

With that change, verification works as expected:
```sh
$ ( umask 077
     ( openssl req -x509 -new -nodes -newkey ed25519 -subj "/CN=Trusted CA" \
            -addext "basicConstraints = critical,CA:true" \
            -addext "extendedKeyUsage = anyExtendedKeyUsage, tcg-dice-kp-eca" \
            -config <(printf "oid_section = oids\n[oids]\ntcg-dice-kp-eca = 2.23.133.12\n"
    ) > ca.pem )

$ ( umask 077
      ( openssl genpkey -algorithm ed25519 |
            tee >( openssl req -new -key /dev/stdin -subj "/CN=Untrusted" \
                           -addext "extendedKeyUsage = clientAuth" |
                           openssl x509 -req -copy_extensions copyall \
                               -CA ca.pem -CAkey ca.pem
                      )
    ) > ee.pem)

$ openssl verify -trusted ca.pem -purpose sslclient -show_chain ee.pem
ee.pem: OK
Chain:
depth=0: CN=Untrusted (untrusted)
depth=1: CN=Trusted CA
```

For the record the CA and EE certificates in question were:
```
$ openssl x509 -in ee.pem -text 
Certificate:
    Data:
        Version: 3 (0x2)
        Serial Number:
            4d:e3:5d:33:4e:7d:3a:61:a7:95:83:57:42:9c:46:d1:65:7c:fa:ca
        Signature Algorithm: ED25519
        Issuer: CN=Trusted CA
        Validity
            Not Before: Dec 23 00:58:11 2025 GMT
            Not After : Jan 22 00:58:11 2026 GMT
        Subject: CN=Untrusted
        Subject Public Key Info:
            Public Key Algorithm: ED25519
                ED25519 Public-Key:
                pub:
                    d6:1f:41:89:aa:32:9d:99:b0:bf:06:93:28:ad:de:
                    08:5d:b0:05:bf:c3:1b:3d:6f:2f:39:13:1b:cb:49:
                    91:76
        X509v3 extensions:
            X509v3 Extended Key Usage: 
                TLS Web Client Authentication
            X509v3 Subject Key Identifier: 
                99:23:4E:84:B1:A6:DF:A5:7B:F5:78:A1:F0:32:86:AB:10:E7:FC:6A
            X509v3 Authority Key Identifier: 
                39:19:CF:37:F0:40:67:EB:96:B9:E4:7E:5C:28:72:F0:18:4B:C5:8A
    Signature Algorithm: ED25519
    Signature Value:
        73:c7:9a:8f:eb:4e:f2:7d:0d:0e:31:19:79:58:a0:4f:5e:a8:
        ab:42:08:ff:72:35:f7:15:04:f8:4a:6f:e5:ca:a4:09:34:30:
        d9:73:85:bf:dd:64:25:29:f8:e7:f0:86:47:ae:df:5e:62:8b:
        f4:af:cc:8c:96:9c:06:e1:26:0a
-----BEGIN CERTIFICATE-----
MIIBQTCB9KADAgECAhRN410zTn06YaeVg1dCnEbRZXz6yjAFBgMrZXAwFTETMBEG
A1UEAwwKVHJ1c3RlZCBDQTAeFw0yNTEyMjMwMDU4MTFaFw0yNjAxMjIwMDU4MTFa
MBQxEjAQBgNVBAMMCVVudHJ1c3RlZDAqMAUGAytlcAMhANYfQYmqMp2ZsL8Gkyit
3ghdsAW/wxs9by85ExvLSZF2o1cwVTATBgNVHSUEDDAKBggrBgEFBQcDAjAdBgNV
HQ4EFgQUmSNOhLGm36V79Xih8DKGqxDn/GowHwYDVR0jBBgwFoAUORnPN/BAZ+uW
ueR+XChy8BhLxYowBQYDK2VwA0EAc8eaj+tO8n0NDjEZeVigT16oq0II/3I19xUE
+Epv5cqkCTQw2XOFv91kJSn45/CGR67fXmKL9K/MjJacBuEmCg==
-----END CERTIFICATE-----

$ openssl x509 -in ca.pem -text 
Certificate:
    Data:
        Version: 3 (0x2)
        Serial Number:
            19:ae:a8:30:15:3a:89:7b:69:d9:db:04:84:57:84:cd:e6:63:83:a4
        Signature Algorithm: ED25519
        Issuer: CN=Trusted CA
        Validity
            Not Before: Dec 23 00:58:07 2025 GMT
            Not After : Jan 22 00:58:07 2026 GMT
        Subject: CN=Trusted CA
        Subject Public Key Info:
            Public Key Algorithm: ED25519
                ED25519 Public-Key:
                pub:
                    d5:7f:94:71:55:f5:9e:d1:f5:2a:43:3b:93:96:60:
                    96:c7:1f:65:e7:99:c5:bc:91:a2:bf:ab:7f:61:63:
                    e7:d9
        X509v3 extensions:
            X509v3 Basic Constraints: critical
                CA:TRUE
            X509v3 Extended Key Usage: 
                Any Extended Key Usage, 2.23.133.12
            X509v3 Subject Key Identifier: 
                39:19:CF:37:F0:40:67:EB:96:B9:E4:7E:5C:28:72:F0:18:4B:C5:8A
    Signature Algorithm: ED25519
    Signature Value:
        62:42:66:a2:00:a8:db:c0:9c:3a:3d:df:7c:da:04:c3:e6:02:
        40:cc:e6:bf:26:a9:a3:e0:72:7e:d0:9b:51:72:e2:a1:6e:42:
        c2:2e:8e:95:5c:46:ce:2e:cc:fc:18:9a:eb:da:19:7c:18:cd:
        62:7d:d2:5b:fe:ac:87:b5:69:03
-----BEGIN CERTIFICATE-----
MIIBNDCB56ADAgECAhQZrqgwFTqJe2nZ2wSEV4TN5mODpDAFBgMrZXAwFTETMBEG
A1UEAwwKVHJ1c3RlZCBDQTAeFw0yNTEyMjMwMDU4MDdaFw0yNjAxMjIwMDU4MDda
MBUxEzARBgNVBAMMClRydXN0ZWQgQ0EwKjAFBgMrZXADIQDVf5RxVfWe0fUqQzuT
lmCWxx9l55nFvJGiv6t/YWPn2aNJMEcwDwYDVR0TAQH/BAUwAwEB/zAVBgNVHSUE
DjAMBgRVHSUABgRngQUMMB0GA1UdDgQWBBQ5Gc838EBn65a55H5cKHLwGEvFijAF
BgMrZXADQQBiQmaiAKjbwJw6Pd982gTD5gJAzOa/Jqmj4HJ+0JtRcuKhbkLCLo6V
XEbOLsz8GJrr2hl8GM1ifdJb/qyHtWkD
-----END CERTIFICATE-----
```


@vdukhovni  wrote:

> It should be possible for your CAs EKU extensions to also include `anyExtendedKeyUsage` in addition to `tcg-dice-kp-eca`.
> 
> If that's the case, the change in OpenSSL that makes most sense is to ensure better support for the `anyExtendedKeyUsage` EKU in end-entity and CA certificates. This improves conformance with [RFC5280 Section 4.2.1.12](https://datatracker.ietf.org/doc/html/rfc5280#section-4.2.1.12):

Right in its beginning, section 4.2.1.12 states about the EKU cert extension:
> In general, this extension will appear only in end entity certificates.
 
From its context in section 4.2.1.12, it should be clear that the paragraph you refer to above does not apply to `anyExtendedKeyUsage` added to CA certs, but to `anyExtendedKeyUsage` inserted by a CA in an EE cert. 
It only adds an exception to regular EKUs in EE certs as described in the paragraph before it.

Therefore, I found surprising that you wrote that the change you propose above (namely, adding an `anyExtendedKeyUsage` exception also on CA cert checks) would improve conformance with RFC 5280,
because this RFC generally speaks against presence/use of any EKU (be it `anyExtendedKeyUsage` or whichever regular EKU) in CA certs.
OTOH, in case one stretches the use of the EKU extension to non-EE certs, as Microsoft and OpenSSL do,
the addition of `anyExtendedKeyUsage` to CA certs in conjunction with the change proposed above
could indeed serve as a workaround towards the spirit of RFC 5280,
in the sense that CA certs should not lead to any restrictions on EKUs in EE certs.

Yet as stated already by @liranper, also for pragmatic reasons we cannot assume that CA certs include `anyExtendedKeyUsage`.

> Most CAs do not have EKU extensions at all. To the extent that DICE subordinate CAs need to have some DICE-mandated EKUs, if they cannot ensure that all EKUs needed in EE certs are included, the solution is to list anyExtendedKeyUsage.

Good point. 
Since, as stated in the OP, the DICE Certificate Profile specification (https://trustedcomputinggroup.org/wp-content/uploads/DICE-Certificate-Profiles-v1.1_pub.pdf) mandates that DICE embedded CA certificates include the "tcg-dice-kp-eca" OID in their EKU field,
it anyway stretches RFC 5820 section 4.2.1.12.
Consequently, it should suggest including also `anyExtendedKeyUsage` in order not to preclude other uses.
Which in effect will defeat any EKU-based restrictions by the CA certs involved (for good or for bad).

> > Which in effect will disable any EKU-based restrictions by these CA certs.
> 
> No, not quite, because under appropriate conditions a validator is free to require an **explicit** EKU match, despite any `anyExtehdedKeyUsage`, as for example is the case for the code signing and timestamp purposes.
> 
> What `anyExtendedKeyUsage` does is generally cover various EKUs when the validator is not specifically stringent. Thus in the DICE case, validators that enforce the DICE profile can require **explicit** DICE mandated EKUs, in addition to allowing `anyExtendedKeyUsage` to suffice for `clientAuth` in the EE cert...

Ah, right.
 
> Bottom line, we are where we are, nothing we do will solve the DICE issue for existing device,

Not quite. If we removed all EKU checks in CA certs this would solve the issue,
yet this would not be compatible with de-facto habits of OpenSSL and some other implementations.
And there is still the somewhat ugly but pragmatic option to special-case the DICE EKU.

> but we can do the right thing in the future, without hacks. 

While your above proposal will in the near future unfortunately not solve the specific issue given here,
I do support it as an independent improvement for other reasons:
1. It makes the OpenSSL implementation more consistent (regarding EKU checks in general) with itself and likely with some others.
2. It opens up for the future the workaround of adding `anyExtendedKeyUsage` to CA certs that (for whatever non-RFC 5280 conformant reason) are required to explicitly contain certain EKUs).



> > Bottom line, we are where we are, nothing we do will solve the DICE issue for existing device,
> 
> Not quite. If we removed all EKU checks in CA certs this would solve the issue, 

Not for many years if ever, and as I've mentioned many times before, I don't believe we can do that. So that is not a productive direction for this issue.

> yet this would not be compatible with de-facto habits of OpenSSL and some other implementations.

Which is the main reason why we're not considering changing this.

> And there is still the somewhat ugly but pragmatic option to special-case the DICE EKU.

But, given it does not actually solve the issue, it makes more sense to do the more correct thing that addresses the more general issue.

> > but we can do the right thing in the future, without hacks.
> 
> While your above proposal will in the near future unfortunately not solve the specific issue given here, I do support it as an independent improvement for other reasons:
> 
> 1. It makes the OpenSSL implementation more consistent (regarding EKU checks in general) with itself and likely with some others.
> 2. It opens up for the future the workaround of adding `anyExtendedKeyUsage` to CA certs that (for whatever non-RFC 5280 conformant reason) are required to explicitly contain certain EKUs).

Thus we seem agree on the merits of the alternative change. Perhaps you *also* support special-casing the DICE EKU, but I'm not, at least not without a stronger case for doing so.


I would like to propose the following: 

When the CA certificate EKU contains **ONLY** OIDs that may be included in a **CA certificate** such as the DICE ECA OID, and no other OIDs that may be included in an EE certificate (leaf certificate), then the policy that ALL the OIDs in EE EKU must appear in CA EKU is not enforced - **same as when** **there is no EKU extension in the CA certificate at all**.

However, when the EKU in the CA certificate includes additional OIDs that are suitable to EE certificates, then it is required that all OIDs in the EE EKU be included also in the CA EKU extension. 

With this our proposed change is not an exception just for DICE CA certificates, rather it is aligned with the current implementation for CA certificate with no EKU extension.

> I did not understand why there is a claim that the change that we requested "will in the near future unfortunately not solve the specific issue given here" - our understanding is that it resolves the issue for us. 

I also do not see why one could claim that your proposed exception would not solve the issue.

Since something like this (possibly refined/extended in the way you just wrote), on the contrary, appears to be the only pragmatically working solution for the near future,
I support adding a special treatment for the DICE ECA OID (and possibly further ones like this).

> No change, whether the one you proposed, or the implementation of support for `anyExtendedKeyUsage` will (for a long time) help with the already released devices because any change made now will take years to deploy.

This is incorrect. We are still supporting IoT devices that were manufactured over 10 years ago with firmware updates. And as we stated, devices that will be out even a couple of years from now, will still comply to DICE specs as-is.

In addition to that, once this correction will bein openssl - it will be much easier to deploy this necessary fix to web-browsers and other client out there that wish to be able to display a web page of a device that implement DICE.

> The prudent thing to do is to as quickly as possible make sure that new devices include `anyExtendedKeyUsage` along with any other profile-required EKUs in their subordinate CA certs, though best to not include the extension in CA certificates at all whenever possible, unless the intent is specifically to limit which EKUs are valid in EE-certificates chained to that CA.

This is simply incorrect solution. EKU was never meant to limit childs of a given certificate. 
Moreover, the current behavior of expecting existence of server-auth OID as EKU together with KU that contain keyCertSign actually `MUST NOT` be used as a CA if you want to comply with last paragraph of [Extended Key Usage](https://datatracker.ietf.org/doc/html/rfc5280#section-4.2.1.12):

```

   If a certificate contains both a key usage extension and an extended
   key usage extension, then both extensions MUST be processed
   independently and the certificate MUST only be used for a purpose
   consistent with both extensions.  If there is no purpose consistent
   with both extensions, then the certificate MUST NOT be used for any
   purpose.

   The following key usage purposes are defined:

   anyExtendedKeyUsage OBJECT IDENTIFIER ::= { id-ce-extKeyUsage 0 }

   id-kp OBJECT IDENTIFIER ::= { id-pkix 3 }

   id-kp-serverAuth             OBJECT IDENTIFIER ::= { id-kp 1 }
   -- TLS WWW server authentication
   -- Key usage bits that may be consistent: digitalSignature,
   -- keyEncipherment or keyAgreement
```

So the only thing that i see as "too late" is to support the RFC as-is since you need to support backward compatibility. The correct way of indicating something on CA's descendants was to add another extension (in addition to id-ce-extKeyUsage) that it's purpose is to limit descendant.

but now openssl code does not allow us to do what the original RFC purposed with EKU extension which is indicate the **certified key's** usage (and not indicate all it's descendant). 

### **IMNSHO Keeping backward compatibility shall not be in the costs of not accepting correctly formed certificate paths**

if your understanding was correct, a CA that included DICE eCA with initial identity can only sign other DICE eCA with initial identity which breaks [OCP's Caliptra](https://chipsalliance.github.io/Caliptra/2.0/specification/HEAD/#certificate-format) (where an IDevID can endorse an LDevID).

**To advance**, I am willing to take more time to try amend my PR so it will only accept CA's that have EKUs that intended to indicate information on CAs. for now, this list will include the relevant DICE oids (in addition to ECA, there are local-identity and initial-identity oids).
This will make sure all existing use case shall not break and all assumption of using EE EKU in CAs will still apply.

Following up on this again. We would really like to see this issue addressed for several generations of Intel devices already in the market and those to be manufactured through 2027 for which the hardware is already closed. **These devices are compliant with RFC5280 and with DICE specification for embedded CA - hence there is really no good reason that they should not work well with OpenSSL.** My suggestion proposed above would solve the issue for DICE compliant devices without breaking the option to still benefit from the new security enhancement added to OpenSSL beyond RFC5280 requirements if desired. This can be done by adding additional EE certificate EKU OIDs in the subordinate CA certificate EKU, in addition to the DICE OIDs. If no additional EKU OIDs are added beyond the DICE OIDs then OpenSSL will treat DICE certificate chain the same as certificate chain with no EKU extension in the subordinate CA.  

@openssl/committers what do others think?


We do not know if other vendors run into the same problem - but it makes sense that they would if they implement a DICE embedded CA in their hardware. What are the drawbacks of OpenSSL treating CA certificates with just "CA specific OIDs" (like the DICE ECA OID) in EKU just the same as CA certificate with no EKU extension at all is treated today by OpenSSL? 

Hi OpenSSL contributors, raising this again:

We are confident that this change we are asking for to OpenSSL will enable the valuable use case of zero touch on-boarding to 802.1x networks as described in IEEE 802.1AR for at least 5 generations of devices that are already manufactured with DICE IDevID certificates in the hardware - and hence cannot add anyExtendedKeyUsage in the CA certificate.

We are confident that RADIUS Server vendors will integrate this OpenSSL change to make this use case available. On their part this is just a software update.
As this is an exception only for CA certificates that include only DICE ECA OIDs, this change has is no impact to mainstream TLS implementations.

The current OpenSSL implementation already has an exception for CA that had ["Netscape or MS Server-Gated Crypto" OID](https://github.com/openssl/openssl/blob/6f73fe1c688dc3e4c3815e8f33e5b672abeb28d3/include/openssl/x509v3.h.in#L476), hence I feel we have solid ground for this ask.

Please reconsider.

In the meantime has proper support for anyExtendedKeyUsage been added to in OpenSSL?

Hi @vdukhovni ,
Do you have any ETA for submission of the anyExtendedKeyUsage change you proposed in https://github.com/openssl/openssl/issues/28466#issuecomment-3684703956?