X509 chain validation: non-standard handling of EKU extensions in CA certs

Due to a recent discussion on the IETF LAMPS mailing list, I had a close look at the way
OpenSSL handles extended key usages (EKU) in CA certs during certificate chain validation.

In most cases, EKUs are ignored for CA certs, which is correct because [RFC 5280 section 4.2.1.12](https://www.rfc-editor.org/rfc/rfc5280.html#section-4.2.1.12) says:
> In general, this extension will appear only in end entity certificates.

and section 6 on certification path validation does not mention them.

Yet when verifying for the `sslserver` purpose, all certs,
including end entity, subordinate CA, and even root CA certs,
must allow (implicitly or explicitly) for serverAuth.
Likewise for the `sslclient` purpose, where all certs must allow for clientAuth.
For `smimesign` and `smimeencrypt"` all certs must allow for emailProtection.

For example:
```
cd test/certs/
# verify for sslserver purpose using an subordinate CA cert having serverAuth as its (only) allowed EKU:
openssl verify -purpose sslserver -trusted root-cert.pem -untrusted sca-cert.pem ee-cert.pem
# test/certs/ee-cert.pem: OK
```
Taking the semantics of EKUs serious, since there is no EKU allowing for certificate issuance,
the above validation call should fail because the subordinate CA cert contains only some EE-oriented EKU.
```
./mkcert.sh genroot "Root CA" root-key root-cert-clientAuth -p clientAuth
# verify for sslserver purpose using root, subordinate CA, and root CA certs having clientAuth as their EKU:
openssl verify -purpose sslserver -trusted root-cert-clientAuth.pem -untrusted cca-cert.pem ee-client.pem
CN = server.example
error 26 at 0 depth lookup: unsuitable certificate purpose
CN = CA
error 26 at 1 depth lookup: unsuitable certificate purpose
CN = Root CA
error 26 at 2 depth lookup: unsuitable certificate purpose
error ee-client.pem: verification failed
```
The latter call should indeed fail, but only because the end-entity cert EKU is not suitable,
not because the EKU extension of the CA certs do not contain serverAuth.
Moreover, it is questionable take into account the EKU extension of the root cert at all,
because according to RFC 5280 it serves just as a trust anchor,
where only the public key and subject plays a role for cert part validation.

This behavior dates back to Oct 1999, 
when the author Stephen Henson called the whole purpose mechanism "very experimental": https://github.com/openssl/openssl/commit/673b102c5b265bd6c517ac40ab76e1606a243c08
Even now, 25 years later, it is not even properly documented.

The purpose mechanism itself clearly has its merits, but the way its EKU checks are done is at least very questionable.
Can anyone defend its motivation and point out where it is maybe officially defined or even standardized?

In my view, the EKU checks should be done for EE certs only, and at least with `X509_V_FLAG_X509_STRICT`, 
any EKU extensions in CA certs (that do not allow for certificate issuance) should be rejected.

I am marking this as a feature as although I agree with your view, I do not think this is something to be backported as a bug fix.

@vdukhovni I just found that you mentioned this in your recent webinar
["Working with X.509 Keys and Certificates" at minute 17:40](https://www.youtube.com/watch?v=OuH4vwmzP_o&t=1060s).

I wonder what your view is on how this should be handled.

I'm strongly inclined to close this as **won't fix**.

> The RFCs are out of sync with long-standing industry practice in multiple implementations. The bug is in the RFCs.

There may be multiple implementations of this behavior, but they violate the existing standards, in particular RFC 5280.
This should not be taken by OpenSSL or others as an excuse to continue simply doing wrong.

All those who feel that the respective RFC is wrong should get it changed, rather than doing non-interperable things.
Microsoft is one of them. And this BTW is not the only case where they consciously subvert existing standards.
In 2012 an MS veteran tried persuading Mozilla to follow them in this regard, 
but did not succeed: https://bugzilla.mozilla.org/show_bug.cgi?id=725351
It is very instructive to read.

Read my lips:

I don't care what the RFC says. We're ~25 years in on supporting allowing applications to constrain CA behaviour based on EKUs in the CA cert.  THIS IS NOT going to change.  If the RFCs are out of sync with 2 decades of industry practice, so much the worse for the RFCs.

> I don't care what the RFC says. 

Hmm.

I do care what the IETF says in its RFCs
(and also what others require in their respective recognized standards as far as relevant for my topics).
And I am clearly against proprietary pseudo-standard practice violating them.

> We're ~25 years in on supporting allowing applications to constrain CA behaviour based on EKUs in the CA cert.

Did you read the technical arguments given in https://bugzilla.mozilla.org/show_bug.cgi?id=725351 ?
That use of EKU extensions in CA certs is a clear abuse of the EKU mechanism.
There are other ways of achieving its intention while not violating the applicable RFC standard.
As partly mentioned there, other forms of constraints, even defined in the same RFC 5280, can serve the wanted purpose.

On this whole matter, see also last week's email exchange in the IETF LAMPS working group:
https://mailarchive.ietf.org/arch/msg/spasm/bT8Snhout1xnff-McscwC5iNA48/

The policy crap is too complex for real-world use.

Given our current practice is not really breaking anything except the "strict RFC 5280 correctness" I would like to ask OTC whether we want to actually have this feature.

**OTC: Do we want this feature or not?**


One way forward could be to keep the existing behavior by default for 3.x for backward compatibility
while offering RFC5280-compliant EKU checking with `X509_V_FLAG_X509_STRICT`
and making the compliant checks the default in 4.0.

The important thing to note is that there is a long history of multiple implementations and multiple experts having a very different viewpoint to that expressed in RFC 5280. Changing anything that has been long distributed in this area is not a path to a useful outcome for users.

The thread notes that this issue pops up every now and then and those that want to see strict enforcement of RFC 5280 and corresponding breakage of deployed software generally do not have a compelling case as the issue is conformance with a document that is at odds with generally deployed software - and working deployed code wins out where there isn't a compelling reason to change it.
 
Russ also notes as a nice summary "X.509 and RFC 5280 says that EKU is only useful in end entity certificates. The CA/Browser forum says otherwise." Russ took a stab at defining an approach in https://datatracker.ietf.org/doc/html/draft-housley-spasm-eku-constraints-00 which was proposed as an update to RFC 5280 to "fix" the RFC. 

The summary from the prior discussion was effectively that Microsoft, OpenSSL and NSS all do this and the CA Browser Forum also doesn't think the RFC 5280 restriction makes sense. I haven't looked to see the current status across all the SDKs- but absent a compelling reason to change I don't see a driver to make any changes here simply because an unnecessary limitation is written into RFC 5280 presumably to encourage usage of a much more complicated mechanism to achieve the same outcome.


> The policy crap is too complex for real-world use.

The policy mechanism is really pretty complex. I never found the time to take a close look and fully understand it.

Rather recently an update on the policy validation algorithm has become RFC: https://datatracker.ietf.org/doc/rfc9618/
which makes it at least more efficient (and secure in terms of potential DoS) and maybe also simpler to understand.
BTW, did anyone consider implementing it for OpenSSL?

> Russ also notes as a nice summary "X.509 and RFC 5280 says that EKU is only useful in end entity certificates. The CA/Browser forum says otherwise." 

Nice quote. Where did you get it from?

> Russ took a stab at defining an approach in https://datatracker.ietf.org/doc/html/draft-housley-spasm-eku-constraints-00 which was proposed as an update to RFC 5280 to "fix" the RFC.

This looks good!
I wonder why it was not pursued further.

> The summary from the prior discussion was effectively that Microsoft, OpenSSL and NSS all do this 

From what do you conclude that NSS does this?
The above mentioned [Bugzilla discussion](https://bugzilla.mozilla.org/show_bug.cgi?id=725351) indicates the contrary.

> and the CA Browser Forum also doesn't think the RFC 5280 restriction makes sense.

Looks like they added their non-compliant requirement in July 2013:
https://cabforum.org/uploads/Baseline_Requirements_V1_1_6_Redline1.pdf
> For a Subordinate CA Certificate to be considered Technically Constrained, the certificate MUST include an
Extended Key Usage (EKU) extension specifying all extended key usages that the Subordinate CA Certificate is
authorized to issue certificates for. The anyExtendedKeyUsage KeyPurposeId MUST NOT appear within this
extension. 

> One way forward could be to keep the existing behavior by default for 3.x for backward compatibility while offering RFC5280-compliant EKU checking with `X509_V_FLAG_X509_STRICT` and making the compliant checks the default in 4.0.

Although `X509_V_FLAG_X509_STRICT` enforces some additional requirements form RFC 5280, I do not think changing the EKU checking based on this flag would be a good idea as most of the additional checks covered by `X509_V_FLAG_X509_STRICT` are checks that should not break any current legitimate usage and/or improve the security of the verification.

> > Russ also notes as a nice summary "X.509 and RFC 5280 says that EKU is only useful in end entity certificates. The CA/Browser forum says otherwise."
> Nice quote. Where did you get it from?

From the SPASM thread you pointed at:

https://mailarchive.ietf.org/arch/msg/spasm/SwbnrhXaOwGBHue5jWo6BPP6scg/

> From what do you conclude that NSS does this?

From the Bugzilla thread you pointed at:

https://bugzilla.mozilla.org/show_bug.cgi?id=725351

![image](https://github.com/user-attachments/assets/d39b16cf-240e-4166-b7a3-cb630febc048)

It is an assumption from that statement - I haven't gone and checked the details myself - and I could be completely misreading Bob's statement - and mostly because even if NSS doesn't support it, my view on the topic wouldn't change. That we have had this in for a very long time and we knew we had it in and it clearly has not done any real harm to the level of community demand to change it all work to reinforce that changing it now doesn't really have a driver.


> Looks like they added their non-compliant requirement in July 2013: https://cabforum.org/uploads/Baseline_Requirements_V1_1_6_Redline1.pdf
> 
> > For a Subordinate CA Certificate to be considered Technically Constrained, the certificate MUST include an
> > Extended Key Usage (EKU) extension specifying all extended key usages that the Subordinate CA Certificate is
> > authorized to issue certificates for. [...]

BTW, OpenSSL does not implement this in its general form.
Only the very specific cases for the `sslserver`, `sslclient`, `smimesign`, and `smimeencrypt` purposes,
where the EKUs `serverAuth`, `clientAuth`, or `emailProtection`, respectively, are checked.


No, the implementation is general, because users can extend the list of known "purposes" at runtime. Don't know who does that, but the capability is there.

> No, the implementation is general, because users can extend the list of known "purposes" at runtime. Don't know who does that, but the capability is there.

It would be pretty awkward to implement a check for the mentioned CA/B Forum concept of "Technically Constrained" "Subordinate CA Certificate" with the available "purpose" callback mechanism because CA/B defined it very universally for all EKUs, requiring general EKU set inclusion along the cert chain. So one would need to make it work for any EKUs (including proprietary ones) used in that OpenSSL instance, not only for the few ones for which the "purpose" is pre-defined.
Yet I'm glad that the purpose checks pre-defined 25 years ago (long before CA/B) are not done in the core of the OpenSSL path validation and are limited to the four ones mentioned in this issue.

Note also that those four pre-defined purpose checks in the following sense go beyond what is specified by the CA/B Forum:
they check also also EKU compatibility of root CA certs!

This makes little sense also because, as already mentioned above, root CA certs essentially serve as containers of trust anchors (TAs) only, for which the EKU extension should be irrrelevant!
(If one wants to express specific local trust in a TA, this must be done using trust attributes, not using the EKU extension.)

Consequently, at least the following test cases in `test/recipes/25-test_verify.t` are conceptually very questionable and IMO wrong:
```
ok(!verify("ee-cert", "sslserver", [qw(croot-cert)], [qw(ca-cert)]),         "fail client purpose");
ok(!verify("ee-cert", "sslserver", [qw(croot-clientAuth)], [qw(ca-cert)]),   "fail client mistrust with client purpose");
ok(!verify("ee-cert", "sslserver", [qw(cca-cert)], [], "-partial_chain"),    "fail partial chain with client purpose"):
ok(!verify("ee-cert", "sslserver", [qw(root-cert cca-cert)], [qw(ca-cert)]), "fail client purpose");
```

Note that some of the test trust anchors are *externally* decorated with trust EKUs as a "TRUSTED CERTIFICATE", this is in fact *more* compliant with the specs than checking of EKUs inside the cert. Anyway, my views have not changed.

Talking here about long-standing industry practice in multiple implementations is hand-waiving and even self-referential.
In particular in the presence of even contradicting well-established core standards on the subject, namely X.509 and IETF RFC 5280, I find this is a pretty poor argument.
It boils down to saying: 

>   "We do so because we and some others happen to do so since long, 
    even with experts and the main applicable standards contradicting".

> Note that some of the test trust anchors are _externally_ decorated with trust EKUs as a "TRUSTED CERTIFICATE", this is in fact _more_ compliant with the specs than checking of EKUs inside the cert. Anyway, my views have not changed.

I am aware of those trust anchor decorations, which I referred to above as "trust attributes".

Note that in three of the mentioned test cases, no such trust attributes are present. Thus default trust correctly kicks in,
which should make these test calls succeed. Yet these validations fail for a weird reason: EKU checks on the TA cert.

And note hat for the remaining of those four test cases, the 2nd one, 
the given TA cert `croot-clientAuth.pem` has the following **negative** trust attribute:
```
Rejected Uses:
  TLS Web Client Authentication
```
which does not affect the `sslserver` purpose being checked.
Also in this case, the validation fails just due to that weird EKU check on the TA cert.

**OTC:**

1. We need to document the current behavior.
2. For considering changing the behavior of the strict flag we would need a survey of the other major libraries (NSS, GnuTLS, BouncyCastle, Microsoft Crypto API) and the impact that this change of behavior would make.

@DDvO could you please provide the above?


> > The policy mechanism is really pretty complex. I never found the time to take a close look and fully understand it.
> > Rather recently an update on the policy validation algorithm has become RFC: https://datatracker.ietf.org/doc/rfc9618/
> > which makes it at least more efficient (and secure in terms of potential DoS) and maybe also simpler to understand.
> > BTW, did anyone consider implementing it for OpenSSL?
> 
> As I am the author of that RFC, I think I can speak with some authority on how this mechanism works.
> 
> @vdukhovni is absolutely right that the policy machinery is _**not**_ a replacement for this EKU-chaining behavior.

Just to avoid misunderstandings: I did not say that the policy machinery can serve as a replacement.
@vdukhovni brought the policy topic in and mentioned that he does not see it as such.
BTW, also name constraints ([mentioned](https://bugzilla.mozilla.org/show_bug.cgi?id=725351#c0) by that MS veteran suggesting the EKU mechanism to Mozilla) cannot provide a replacement.
To me, the [approach proposed by Russ](https://datatracker.ietf.org/doc/html/draft-housley-spasm-eku-constraints-00) looks very good, and I regret that it was not pursued further.

> Nor does RFC 9618 do anything to make it simpler to understand. I, in fact, tried to come up with a simpler algorithm, but the mechanism is so poorly-defined that you're basically forced to match the rough structure of the RFC 5280 algorithm. There are a number of quirks that fall out of doing it that way. And there are a lot of features (anyPolicy, policy mapping, inhibition of both) that are forced to interact with each other.
> 
> RFC 9618 only exists for applications that are stuck in an unfortunate position of needing to interoperate with PKIs that use this horrible mechanism. If you can, you should choose the much, much, _much_ better mitigation of [disabling the whole thing](https://www.rfc-editor.org/rfc/rfc9618.html#section-6.5). Indeed when I first presented the work for adoption, many voices in the room wanted to skip the whole thing and only ship section 6.5.

Thank you for the clarifications and interesting extra information.

> As OpenSSL does implement policy validation, it would make sense to implement it (we implement it in BoringSSL), but that has no bearing on this EKU-chaining thing.

Yes.


> As for the EKU-chaining thing, I also agree with @vdukhovni that, for better or worse, this is the reality of how EKUs work in many PKIs today. It is a pity we ended up with such a divergence, but pointing fingers about who did what wrong 25 years ago won't change the situation.

When mentioning a name along with the experimental inclusion of this wonderful feature, my intention was not point fingers but to provide some more detail that may be helpful for tracing down how and why it crept in.
That commit is the earliest thing that I found out about it, but possibly it was 'inspired' by some predecessors in other implementations.
It looks like that at least by that time there was no (de-facto or other pseudo-)standard requiring such behavior.


> **OTC:**
> 
> 1. We need to document the current behavior.

I'm going to do that soon, no problem.

> 2. For considering changing the behavior of the strict flag we would need a survey of the other major libraries (NSS, GnuTLS, BouncyCastle, Microsoft Crypto API) and the impact that this change of behavior would make.
> 
> @DDvO could you please provide the above?

I do not have the time and the overview unfortunately to perform such a survey.

Anyway, I do not think it would be the best approach to make the decision dependent on what others happen to do,
but at least primarily find out what all applicable standards require on this topic.
I asked already twice in this exchange if anyone can point to a standard that backs or even requires that behavior,
but interestingly at least by now nobody was able to bring one up (apart from RFC 5280 and X.509 even contradicting it).

For a discussion on if and how to possibly changing the behavior
I believe we need to differentiate between
* EKU checks on subordinate CA certs
* EKU checks on trust anchor (root CA) certs


 
> Anyway, in general, in the presence of standards it is not the best approach to make the decision dependent on what others happen to do, but to at least primarily find out what all applicable standards require on this topic. I asked already twice in this exchange if anyone can point to a standard that backs or even requires that chain validation behavior, but interestingly at least by now nobody was able to bring one up (apart from RFC 5280 and X.509 even contradicting it).

There exist de jure standards and de facto standards. The latter become increasingly more important as time goes by.
In this case, my view is that the implementations have become the standards, regardless of what some dated RFCs might or might not say.

Documentation was merged, I do not think there is anything more to do here.
