OpenSSL validation passed the final entity certificate with name constraints

Actual results:
openssl verify -CAfile NCCA.pem NC.pem
NC.pem: OK

Expected Behavior:
According to RFC 5280, Section 4.2.1.10, the Name Constraints extension is permitted only in CA certificates, not in end-entity certificates. Therefore, openssl should reject any end-entity certificates that include this extension.
The verification results of Cryptography are as follows：Certificate verification failed: validation failed: invalid extension: 2.5.29.30: Certificate contains prohibited extension

[certs.zip](https://github.com/user-attachments/files/18821985/certs.zip)

There is no staff to handle this report for a long time.This is very important for my work. Can I continue to deal with this problem?

All such certificate rule strictness issues are feature requests unless they have a direct impact on security.



> All such certificate rule strictness issues are feature requests unless they have a direct impact on security.
GnuTLS has the same problem, it also incorrectly accepts the critical Nmeconstrains present in the EE certificate. I linked this related issue. GnuTLS classifies their incorrect behavior as a bug.
https://gitlab.com/gnutls/gnutls/-/issues/1171
I believe the main purpose of name restrictions is to ensure that certificates do not contain unauthorized domain names, thereby helping to prevent domain name hijacking or abuse. In fact, implementation is a safety best practice and auxiliary measure.

> All such certificate rule strictness issues are feature requests unless they have a direct impact on security.

GnuTLS has the same problem, it also incorrectly accepts the critical Nmeconstrains present in the EE certificate. I linked this related issue. GnuTLS classifies their incorrect behavior as a bug.
https://gitlab.com/gnutls/gnutls/-/issues/1171
I believe the main purpose of name restrictions is to ensure that certificates do not contain unauthorized domain names, thereby helping to prevent domain name hijacking or abuse. In fact, implementation is a safety best practice and auxiliary measure.

> All such certificate rule strictness issues are feature requests unless they have a direct impact on security.

GnuTLS has the same problem, it also incorrectly accepts the critical Nmeconstrains present in the EE certificate. I linked this related issue. GnuTLS classifies their incorrect behavior as a bug.
https://gitlab.com/gnutls/gnutls/-/issues/1171
I believe the main purpose of name restrictions is to ensure that certificates do not contain unauthorized domain names, thereby helping to prevent domain name hijacking or abuse. In fact, implementation is a safety best practice and auxiliary measure.



Yes, but here we are talking about having an extension in an end-entitiy cert which has no effect there because its effect is defined on CA certs only. This is no real security problem -> a strict RFC cert validation feature.



Please note we are looking for community help implementing this issue. Please comment if you are interested in implementing this feature or if you have reasons why this feature is important enough so we should consider implementing it with higher priority than other requested features. The issue will be closed after 2 months otherwise.

This issue was closed because it was marked with the help wanted label and there was no interest in implementing this issue or any other activity leading to implementing or re-prioritizing it for more than 2 months.