OpenSSL allows the client to present certificates with a negative version number.

### Affected Versions
1.1.1g, 1.0.2u

### Setup
OpenSSL has been compiled from source in an alpine docker container. The following excerpt of the used docker file shows the build related commands:
```
RUN ./config --prefix=/build/ --openssldir=/build/ no-async 
RUN make -s && make install_sw -s
```
After building it the respective OpenSSL version and required libraries have been copied into an minimal docker container (from scratch).

The server is later started using the following command:
`openssl s_server -accept 4433 -Verify 100 -cert /cert/inputCerts/rootv3.pem -key /cert/keys/rootv3.pem -CAfile /cert/inputCerts/root.pem -verify_return_error`

All files mentioned in this report (certificates, keys, etc.) have been included in the attached zip archive.

### Issue
OpenSSL allows certificates with negative version numbers even though [RFC 5280 Section 4.1](https://tools.ietf.org/html/rfc5280#section-4.1) defines the version type as an integer that may only be one, two, or three.

### Reproduction
Uses OpenSSL 1.1.1 on Ubuntu 18.04.
Connect to the started server using the following command:
`openssl s_client -connect localhost:4433 -cert ROOTv3_CAv3_LEAF_RSAvNeg1__leaf_certificate1.pem -key rsakey_2.pem -CAfile ROOTv3_CAv3_LEAF_RSAvNeg1__ca_certificate1.pem`

### Expected Result
OpenSSL should reject the certificate.

### Actual Result
OpenSSL happily accepts the certificate and proceeds with the handshake.

### Attachment
[opensslVersionNegOne.zip](https://github.com/openssl/openssl/files/4774627/opensslVersionNegOne.zip)



The command line you used are not enough to actually show that there is a problem. You only used the -verify_return_error on the server side, you should also have used it on the client side. You then mix the certificates on the server and client side, resulting in the client always rejecting the server cert. You then also need to add -partial_chain, since it's not actually a root CA. You can also add the -x509_strict option.

So those command actually show that it doesn't give an error:

openssl s_server -accept 4433 -Verify 100 -cert outputCerts/ROOTv3_CAv3_LEAF_RSAvNeg1__leaf_certificate1.pem -key keys/rsakey_2.pem -CAfile outputCerts/ROOTv3_CAv3_LEAF_RSAvNeg1__ca_certificate1.pem -verify_return_error -partial_chain -x509_strict

openssl s_client -connect localhost:4433 -cert outputCerts/ROOTv3_CAv3_LEAF_RSAvNeg1__leaf_certificate1.pem -key keys/rsakey_2.pem -CAfile ROOTv3_CAv3_LEAF_RSAvNeg1__ca_certificate1.pem -verify_return_error -partial_chain -x509_strict

@DDvO: Do you want to add a check for this?

> @DDvO: Do you want to add a check for this?

I do not see the practical value for more checks on the cert version number than what we have already.
Moreover, RFC 5280 says:
>  Implementations SHOULD be prepared to accept any version certificate.


That's a good point. I don't actually see a reason to reject that version based on RFC5280.

This has been marked as "resolved: not a bug", so closing.