Incorrect alert type for unsupported profiles

<!--
Thank you for your bug report. If this is your first one,
please take the time to read the following lines before posting it.

NOTE:

    If you're asking about how to use OpenSSL, this isn't the right
    forum.  Please see our User Support resources:
    https://github.com/openssl/openssl/blob/master/SUPPORT.md

Please remember to tell us in what OpenSSL version you found the issue.

For build issues:

    If this is a build issue, please include the configuration output
    as well as a log of all errors.  Don't forget to include the exact
    commands you typed.

    With OpenSSL before 1.1.1, the configuration output comes from the
    configuration command.  With OpenSSL 1.1.1 and on, it's the output
    of `perl configdata.pm --dump`

For other issues:

    If it isn't a build issue, example code or commands to reproduce
    the issue is highly appreciated.
    Also, please remember to tell us if you worked with your own
    OpenSSL build or if it is system provided.

Please remember to put ``` lines before and after any commands plus
output and code, like this:

    ```
    $ echo output output output
    output output output
    ```

    ```
    #include <stdio.h>

    int main() {
        int foo = 1;
        printf("%d\n", foo);
    }
    ```
-->
**RFC 8446** states that Peers which receive a message which is syntactically correct but semantically invalid (e.g., a DHE share of p -1, or an invalid enum) MUST terminate the connection with an \"illegal_parameter\" alert.

However, the function ``int tls_parse_stoc_use_srtp(SSL_CONNECTION *s, PACKET *pkt, unsigned int context, X509 *x, size_t chainidx)'' in file openssl/ssl/statem/extensions_clnt.c  does not conform the above rule.  It incorrectly uses **decode_error** for other semantic errors like **unsupported profiles**, which should trigger **illegal_parameter**. 

<img width="509" alt="Image" src="https://github.com/user-attachments/assets/b37722df-182a-471e-b077-1582b877e461" />


> RFC 8446 states that Peers which receive a message which is syntactically correct but semantically invalid (e.g., a DHE share of p -1, or an invalid enum) MUST terminate the connection with an "illegal_parameter" alert.

Well, yes. But the SRTP support is defined in RFC5764 which predates RFC8446 by 8 years. Strictly speaking RFC8446 is only about TLSv1.3, whereas the SRTP support is for DTLSv1.2. So RFC8446 is only relevant to DTLS in the context of DTLSv1.3 (RFC9147). OpenSSL does not currently support RFC9147. It only became a standard in September last year. Having said that work is ongoing to implement it in OpenSSL.

With all that said this isn't really a bug, but it would be better to align the code with the future DTLSv1.3 support so it wouldn't be a bad idea to correct this now.