[tentative] ECDH implementation doesn't care about peer key parameters, should it?

*[I call this "tentative" because I'm not sure if this behaviour difference is acceptable or not]*

Looking at the provider side function `ecdh_plain_derive`, it looks like the only thing it currently cares about from the peer key is the public key.

https://github.com/openssl/openssl/blob/82e1fc1bc06a87278b2dada07e40a4296e6898c7/providers/implementations/exchange/ecdh_exch.c#L383-L459

Looking back at the CMS specific EVP_PKEY_ASN1_METHOD implementation, peer key parameters are indeed used if available, falling back to the main key parameters only if they aren't:

https://github.com/openssl/openssl/blob/82e1fc1bc06a87278b2dada07e40a4296e6898c7/crypto/ec/ec_ameth.c#L856

Having a look at the general EVP_PKEY_METHOD for ECDH derivation, we don't care about peer key parameters there either, which explains why we don't in the provider code either:

https://github.com/openssl/openssl/blob/82e1fc1bc06a87278b2dada07e40a4296e6898c7/crypto/ec/ec_pmeth.c#L158-L192

A mitigating fact that kind of hides the problem can be found in `EVP_PKEY_derive_set_peer()`, where the peer key parameters are checked against the main key parameters, if there are any:

https://github.com/openssl/openssl/blob/82e1fc1bc06a87278b2dada07e40a4296e6898c7/crypto/evp/exchange.c#L368-L379

So the question remains, does this condition -- that the parameters must be the same -- apply to CMS as well, or can we in fact have a peer key with different parameters?

> So the question remains, does this condition -- that the parameters must be the same -- apply to CMS as well, or can we in fact have a peer key with different parameters?

It makes no sense to have a peer key with different parameters. They *must* be the same in order for us to get sane output.

> It makes no sense to have a peer key with different parameters. They must be the same in order for us to get sane output.

That makes sense to me, but then I wonder why we have the special CMS code in the ec_ameth.c.  It very obviously circumvents the use of `EVP_PKEY_derive_set_peer()`

It is paramount for ECDH (and I suppose for CMS as well) that the parameters at the same, and it is correct to check this when the peer key is being set, because that's when the error occurs: setting an incompatible key as the peer key is the error. 

> > It makes no sense to have a peer key with different parameters. They must be the same in order for us to get sane output.
> 
> That makes sense to me, but then I wonder why we have the special CMS code in the ec_ameth.c. It very obviously circumvents the use of `EVP_PKEY_derive_set_peer()`

@levitte can you point to the CMS special purpose code in question? If that check is circumvented it is very likely a serious security problem! 

Okie, so what you're both telling me is that the special code in ec_ameth.c is essentially invalid, or rather that, if there's ever a case where the parameters differ, things will go **KABOOM**.

> @levitte can you point to the CMS special purpose code in question? If that check is circumvented it is very likely a serious security problem!

Look around the comment in `ec_ameth.c` that I showed in the introducing text

> @levitte can you point to the CMS special purpose code in question? If that check is circumvented it is very likely a serious security problem!

Oh, or perhaps you meant in `crypto/cms`.  I don't know how indicative it is, but what I've mainly done is to replace this code (which looks the same in 1.1.1):

https://github.com/openssl/openssl/blob/82e1fc1bc06a87278b2dada07e40a4296e6898c7/crypto/cms/cms_kari.c#L253-L255

With legacy keys, `cms_env_asn1_ctrl(ri, 1)` ends up here:

https://github.com/openssl/openssl/blob/82e1fc1bc06a87278b2dada07e40a4296e6898c7/crypto/ec/ec_ameth.c#L504

.... which ends up calling the internal `ecdh_cms_set_peerkey()`

https://github.com/openssl/openssl/blob/82e1fc1bc06a87278b2dada07e40a4296e6898c7/crypto/ec/ec_ameth.c#L1001

... which is this:

https://github.com/openssl/openssl/blob/82e1fc1bc06a87278b2dada07e40a4296e6898c7/crypto/ec/ec_ameth.c#L842-L891

Why `CMS_RecipientInfo_kari_decrypt()` doesn't just call `EVP_PKEY_derive_set_peer()` is plain weird, unless there are reasons to circumvent the parameter comparison check.

I tried to look into [RFC 5753 section 3.1](https://tools.ietf.org/html/rfc5753#section-3.1), but other than saying the the originator key can indeed come with ECParameters, I'm staring myself blind trying to find how it's used, if at all...

https://github.com/openssl/openssl/blob/82e1fc1bc06a87278b2dada07e40a4296e6898c7/crypto/ec/ec_ameth.c#L842-L891

@levitte this code looks fine to me: if the parameters for the peer key are omitted we force them to be identical to our key, otherwise we use eckey_type2param to retrieve the parameters as they were transmitted.

At the end we call EVP_PKEY_derive_set_peer which for the latter case makes sure the parameters match.

It seems to me the only thing that is sidestepped here is that we can't reach the "missing parameters" clause in set_peer.

I am not familiar with CMS, but I guess this function exists because of the ways the peer key can be transmitted.
In ECDH we get a SECG encoded EC key, so we can easily create an in-memory EC_KEY or EVP_PKEY decoding it.
Here it seems a custom format is being used so we need to manually create an EC_KEY object, set its parameters and then set its public key, so we need to have some parameters (either implicitly identical to our own key or what was transmitted using the CMS custom format). 

> At the end we call EVP_PKEY_derive_set_peer which for the latter case makes sure the parameters match.
> 
> It seems to me the only thing that is sidestepped here is that we can't reach the "missing parameters" clause in set_peer.

Ah!  Thanks.  So essentially, it looks like we need a general method to get an EVP_PKEY out of an X509_ALGOR...  that EVP_PKEY would, of course, only contain domain parameters...

> Ah! Thanks. So essentially, it looks like we need a general method to get an EVP_PKEY out of an X509_ALGOR... that EVP_PKEY would, of course, only contain domain parameters...

This turns out to be a bigger project than I anticipated.  We do have all the building blocks in place...  except no specific function in EVP_PKEY_ASN1_METHOD to decode parameters only...

@levitte Have things changed enough now that this could be reexamined?

@levitte is this something that was already addressed and should be closed or does it need work before beta1?

(added to the beta1 milestone because we at least need to answer the previous question before beta1)

I have frankly not look at this at all since our last discussion here.

We should check that the peer key is equivalent.


@levitte @paulidale @romen I'm having trouble determining what, if any action is required, or being asked for here, can someone please summarize?

@levitte said:
> So essentially, it looks like we need a general method to get an EVP_PKEY out of an X509_ALGOR... that EVP_PKEY would, of course, only contain domain parameters...

My impression of the code at the time was that this was not a bug, but rather a simplification/enhancement for the interaction between the CMS code and the provider-way. 

I am not familiar enough with CMS to judge if this really is something that would bring a considerable improvement or not. @levitte do you have additional feedback? 
