[openssl-3] Usage of ansi-x9.42 related APIs

Input Parameters:
------------------------------------------------------------------
```
"algorithm": "kdf-components",
"mode": "ansix9.42",
"hashAlg": "SHA-1",
"kdfType": "DER",
"oid": "060960864801650304012D",
 "zz": "72",
"keyLen": 2264,
"partyUInfo": "......",
"partyVInfo": "......",
"suppPubInfo": "......",
"suppPrivInfo": "......"
```
---------------------------------------------------------------------

Usage of Openssl-3 APIs:
----------------------------------------------------------------------------------------------------------
```
md = EVP_sha1();
mdname = EVP_MD_name(md);
kdf = EVP_KDF_fetch(NULL, OSSL_KDF_NAME_X942KDF_ASN1, NULL);
kctx = EVP_KDF_CTX_new(kdf);

*p++ = OSSL_PARAM_construct_utf8_string(OSSL_KDF_PARAM_DIGEST, (char *)mdname, 0);
*p++ = OSSL_PARAM_construct_utf8_string(OSSL_KDF_PARAM_CEK_ALG, (char *)"AES-256-WRAP", 0);
*p++ = OSSL_PARAM_construct_octet_string(OSSL_KDF_PARAM_SECRET, (unsigned char *)data->zz.buf, data->zz.len);
*p++ = OSSL_PARAM_construct_octet_string(OSSL_KDF_PARAM_X942_PARTYUINFO, (unsigned char *)data->party_u_info.buf, data->party_u_info.len);
*p++ = OSSL_PARAM_construct_octet_string(OSSL_KDF_PARAM_X942_PARTYVINFO, (unsigned char *)data->party_v_info.buf, data->party_v_info.len);
*p++ = OSSL_PARAM_construct_octet_string(OSSL_KDF_PARAM_X942_SUPP_PUBINFO, (unsigned char *)data->supp_pub_info.buf, data->supp_pub_info.len);
*p++ = OSSL_PARAM_construct_octet_string(OSSL_KDF_PARAM_X942_SUPP_PRIVINFO, (unsigned char *)data->supp_priv_info.buf, data->supp_priv_info.len);
*p = OSSL_PARAM_construct_end();
ret = EVP_KDF_derive(kctx, data->derived_key.buf, data->derived_key.len, params);
```
----------------------------------------------------------------------------------------------------------------

All the API calls are working fine and there is no error value returned. But result generated is not matching with expected one.

Please point out the issue with my code. It will be really helpful.

Note: Test-vectors and expected results are from reliable source, no reason to doubt those.

Thank You



I'd be checking your inputs.  The code looks reasonable.

The `......` look suspicious at the ends of the various fields.  Are they truncated?
Should the hex digit pairs be converted to bytes?


Yes "..." means truncated, sorry for confusion.

and hex digit pairs for (oid, zz, partyUInfo, partyVInfo, suppPubInfo & suppPrivInfo) are converted to bytes,
for example "data->zz.buf" is the array of unsigned chars of size  "data->zz.len"

I put some prints in "x942kdf_derive" to dump fields of "KDF_X942 *ctx",
all the values in test vector are reaching that function correctly. I tried to debug with my limited knowledge of openssl code.
But still result generated is incorrect.

One Complete testcase:
------------------------------------------------
Input:
====================================
"algorithm": "kdf-components",
"mode": "ansix9.42",
"hashAlg": "SHA-1",
"kdfType": "DER",
"oid": "060960864801650304012D",
"zz": "E69A4E00C4998002A748095C340D44AEE885440E1AEAA52C3F3826BE45805421B435403B13BC6A99BF8FE2",
"keyLen": 376,
"partyUInfo": "F73BD0EF29555CFC8292193184",
"partyVInfo": "D80B18570032F765D3E455B075",
"suppPubInfo": "66F32ADD96030ADD3F738C3E43",
"suppPrivInfo": "2CDF44CF8CB00D386D0BB8E7B1"

Expected 
======================================
"derivedKey": 410CD12549268A7BDA543B3A1A937EBC96CFD9B6184D97A599DD5FE748CDCEE942306FD7A8703DAC5756BCECD46AEC

I don't see any obvious problems.

@slontis?

I remember that we did have problems with this algorithm and the LAB needed to get ACVP to change their code so it worked correctly.

I would check with the 'reliable source' what they expect the otherinfo data to look like and compare it to what you get in openssl - since that is where things probably go wrong here..
Since the actual algorithm is fairly simple and  does KDF(z || otherinfo).. (with the counter embedded inside the DER data)

The encoding of Otherinfo has one of 2 forms: 
 * The ANS X9.42-2003 standard uses OtherInfo:
 *
 *  OtherInfo ::= SEQUENCE {
 *      keyInfo KeySpecificInfo,
 *      partyUInfo [0] OCTET STRING OPTIONAL,
 *      partyVInfo [1] OCTET STRING OPTIONAL,
 *      suppPubInfo [2] OCTET STRING OPTIONAL,
 *      suppPrivInfo [3] OCTET STRING OPTIONAL
 *  }
 *
 *  KeySpecificInfo ::= SEQUENCE {
 *      algorithm OBJECT IDENTIFIER,
 *      counter OCTET STRING SIZE (4..4)
 *  }
 * 

 OR

 *  RFC2631 Section 2.1.2 Contains the following definition for OtherInfo
 *
 *  OtherInfo ::= SEQUENCE {
 *      keyInfo KeySpecificInfo,
 *      partyAInfo [0] OCTET STRING OPTIONAL,
 *      suppPubInfo [2] OCTET STRING
 *  }
 *  Where suppPubInfo is the key length (in bits) (stored into 4 bytes)

Thanks for reply.

test vectors that I am using are "demo vectors" and were generated on "13th Sept 2021".
Hopefully those should be in correct format.

==================================================================
other info is generated inside "x942kdf_derive" using parameters passed by calling program:
/* generate the otherinfo der */
    if (!x942_encode_otherinfo(ctx->use_keybits ? ctx->dkm_len : 0,
                               ctx->cek_oid, ctx->cek_oid_len,
                               ctx->acvpinfo, ctx->acvpinfo_len,
                               ctx->partyuinfo, ctx->partyuinfo_len,
                               ctx->partyvinfo, ctx->partyvinfo_len,
                               ctx->supp_pubinfo, ctx->supp_pubinfo_len,
                               ctx->supp_privinfo, ctx->supp_privinfo_len,
                               &der, &der_len, &ctr))

What change in source code can I try at my end to make it generate correct output?

Thank You




> What change in source code can I try at my end to make it generate correct output?

I was suggesting that the generated output is wrong... (So no changes to openssl source code should be done).

See https://github.com/usnistgov/ACVP/issues/1056
It says it should be fixed in release V1.1.0.15

You will need to pass the `acvp-info` parameter which you need to build up correctly from `partyUInfo`, `partyVInfo`, `suppPubInfo` and `suppPrivInfo`.  Also, don't pass these latter parameters in individually.  The `acvp-info` parameter replaces them.

The value is:
> **A0** | _#partyUInfo_ | partyUInfo | **A1** | _#partyVInfo_ | partyVInfo | **A2** | _#suppPubInfo_ | suppPubInfo | **A3** | _#suppPrivInfo_ | suppPrivInfo

where the **bold** are bytes, _#italic_ is the length of that value in a single byte, `|` is concatenation and the rest are the values.

I have manually confirmed that your example works and generates the expected output using OpenSSL.


Thanks for explanation.

Now other Info generated with test my vector:
30 64
30 11 06 09 60 86 48 01 65 03 04 01 2D 04 04 00 00 00 01     <---- Oid + Counter 
A0 0D F7 3B D0 EF 29 55 5C FC 82 92 19 31 84        <------Correct
A1 0D D8 0B 18 57 00 32 F7 65 D3 E4 55 B0 75        <------Correct
A2 0D 66 F3 2A DD 96 03 0A DD 3F 73 8C 3E 43     <------Correct
A3 0D 2C DF 44 CF 8C B0 0D 38 6D 0B B8 E7 B1     <------Correct
00 00 00 00 00 00 00 00 00 00 00 00 00 A2 06 04 04 00 00 01 00         <------Extra bytes

In 2nd line, is counter value correct?
Last line is also having extra bytes

My result generated is still not matching.



In the form you have given you supply the party and  sup Info..
A2 == suppPubInfo and you have two values for this..

Set OSSL_KDF_PARAM_X942_USE_KEYBITS  to 0 will remove this extra value..

Thank you so much for help.
Now it is working perfectly fine.