Add certificate spuport to PKCS8

The updated PKCS#8 syntax, described in RFC 5958, now allows the certificate to be included with the private key.  The new syntax is backward compatible.  OpenSSL should support this.


@richsalz, do you have any real-life or synthetic examples of such files? 

Russian GOST PKCS#12 allows public keys in the AsymmetricKeyPackage but I'm not aware of other implementations

Actually, that's nothing new.  It's true that [RFC 5958](https://www.rfc-editor.org/rfc/rfc5208.html) explains things in better detail:

>    - attributes is OPTIONAL.  It contains information corresponding to
>      the public key (e.g., certificates).  The attributes field uses the
>      class ATTRIBUTE which is restricted by the
>      OneAsymmetricKeyAttributes information object set.
>      OneAsymmetricKeyAttributes is an open ended set in this document.
>      Others documents can constrain these values.  Attributes from
>      [RFC2985] MAY be supported.

However, the `attributes` field itself already exists in [RFC 5208](https://www.rfc-editor.org/rfc/rfc5208.html#section-5) and hasn't changed type, so you could actually have a certificate as part of the PKCS#8 blob already.

But there's no API support in OpenSSL for this, right?

There are generic attribute setting and getting functions... Have a look in https://github.com/openssl/openssl/blob/master/crypto/asn1/p8_pkey.c 

RFC 5958 offers a clean way to distribute a private key and a certificate.  The only real alternative is PKCS#12, and it has interoperability concerns. 

So maybe, @levitte all the pieces are there already.  At least one openssl committer didn't think so. :)  Perhaps this issue becomes closed when wired up to the apps/pkcs8.

I am a bit embarrassed with the relationship between the private key and the public key/certificate from a particular PKCS#8 file. 

I didn't find any recommendations about checking the match and behaviour on mismatch. In my GOST implementation I just ignored the public key, but I am not sure that it is the best possible idea. 

@beldmit, I'll have you note that @richsalz is talking about a *certificate*, not just a public key.

It's true that the `openssl pkcs8` command has no support for PKCS#8 attributes, nor does any of the other commands that can produce PKCS#8 files.  That could certainly become an added feature, after 3.0 is released.


Sure, but there is still a question about checking the match... 

Oh yeah, definitely post-3.0  BTW, @russhousley is the co-chair of the IETF working group chartered to update crypto in various places, and it seems like having full support for this in PKCS8 will be better than trying to update the horrorshow that is PKCS12.