OpenSSL allows version two features in version one certificates.

### Affected Versions
1.1.1g, 1.0.2u

### Setup
OpenSSL has been compiled from source in an alpine docker container. The following excerpt of the used docker file shows the build related commands:
```
RUN ./config --prefix=/build/ --openssldir=/build/ no-async 
RUN make -s && make install_sw -s
```
After building it the respective OpenSSL version and required libraries have been copied into an minimal docker container (from scratch).

The server is later started using the following command:
`openssl s_server -accept 4433 -Verify 100 -cert /cert/inputCerts/rootv3.pem -key /cert/keys/rootv3.pem -CAfile /cert/inputCerts/root.pem -verify_return_error`

All files mentioned in this report (certificates, keys, etc.) have been included in the attached zip archive.

### Issue
OpenSSL allows the user to present a version one certificate with version two features. [RFC 5280 Section 4.1.2.8](https://tools.ietf.org/html/rfc5280#section-4.1.2.8) states that unique identifiers may only appear in version two and three certificates.

### Reproduction
Uses OpenSSL 1.1.1 on Ubuntu 18.04.
Connect to the started server using the following command:
`openssl s_client -connect localhost:4433 -cert ROOTv3_CAv3_LEAF_RSAv1_UniqueIdentifiers__leaf_certificate1.pem -key rsakey_2.pem -CAfile ROOTv3_CAv3_LEAF_RSAv1_UniqueIdentifiers__ca_certificate1.pem`

### Expected Result
OpenSSL should reject the invalid certificate.

### Actual Result
OpenSSL happily accepts the certificate and proceeds with the handshake.

### Attachment
[opensslVersionOneUniqueIdentifiers.zip](https://github.com/openssl/openssl/files/4774619/opensslVersionOneUniqueIdentifiers.zip)



Closing as the issue was labeled as inactive for extended period of time and there was no additional input.
Please add a comment if you have any further information to support reopening the issue.
