STARTTLS w NNTP often doesn't work


Hello,

I am trying to get into a project I started [testssl.sh](https://github.com/drwetter/testssl.sh) NNTP support via STARTTLS flying.

I was using  OpenSSL 1.1.1 (the initially released version) just to get the STARTTLS handshake tested. 

However it seems when looking at https://github.com/openssl/openssl/commit/8f85aa6bd3737547634bbbe1e141f728674fb594 from @robert-scheck openssl is trying to get the CAPABILITIES returned which in the cases I tested doesn't work at all.

Some realistic examples (CAPABILITIES,STARTTLS and ^] is my keyboard input):

```
prompt% telnet 212.55.233.150 119                 
Trying 212.55.233.150...
Connected to 212.55.233.150.
Escape character is '^]'.
200 NNTP server ready
CAPABILITIES
500 command not recognized: CAPABILITIES
HELP
100 Avaliable commands:
ARTICLE
AUTHINFO
BODY
GROUP
HEAD
HELP
IHAVE
LAST
LIST
NEWGROUPS
NEWNEWS
NEXT
POST
QUIT
SLAVE
STAT
XHDR
.
STARTTLS
382 Continue with TLS negotiation
^]
```

```
prompt% telnet 50.201.87.210 119 
Trying 50.201.87.210...
Connected to 50.201.87.210.
Escape character is '^]'.
200 Kerio Connect 9.2.7 patch 3 NNTP server ready
CAPABILITIES
500 command not recognized: CAPABILITIES
STARTTLS
382 Continue with TLS negotiation
^]
telnet> Connection closed.
```

```
prompt% telnet 115.159.94.197 119 
Trying 115.159.94.197...
Connected to 115.159.94.197.
Escape character is '^]'.
200 CCProxy NNTP Service
CAPABILITIES
200 CCProxy NNTP Service
STARTTLS
Connection closed by foreign host.
prompt% telnet 115.159.94.197 119
Trying 115.159.94.197...
Connected to 115.159.94.197.
Escape character is '^]'.
200 CCProxy NNTP Service
STARTTLS
200 CCProxy NNTP Service
^]
telnet>
```
```
prompt% telnet 219.240.134.52 119 
Trying 219.240.134.52...
Connected to 219.240.134.52.
Escape character is '^]'.
200 NNTP Service 6.0.3790.3959 Version: 6.0.3790.3959 Posting Allowed
CAPABILITIES
500 Command Not Recognized
STARTTLS
500 Command Not Recognized
^]
telnet> Connection closed.
```

This one works as expected and only here during my little research openssl returns  ``Didn't find STARTTLS in server response, trying anyway...\nSTARTTLS failed: 500 What?``

```
telnet 88.191.250.122 119 
Trying 88.191.250.122...
Connected to 88.191.250.122.
Escape character is '^]'.
200 usenet-fr.net InterNetNews NNRP server INN 2.5.3 (20111012 snapshot) ready (posting ok)
CAPABILITIES
101 Capability list:
VERSION 2
IMPLEMENTATION INN 2.5.3 (20111012 snapshot)
AUTHINFO USER
HDR
LIST ACTIVE ACTIVE.TIMES COUNTS DISTRIB.PATS DISTRIBUTIONS HEADERS MODERATORS MOTD NEWSGROUPS OVERVIEW.FMT SUBSCRIPTIONS
OVER
POST
READER
.
STARTTLS
500 What?
^]
telnet> 
```

This one works too (openssl: ``Didn't find STARTTLS in server response, trying anyway...\nSTARTTLS failed: 480 Authentication Required*``
```
prompt% telnet 81.171.92.211 119 
Trying 81.171.92.211...
Connected to 81.171.92.211.
Escape character is '^]'.
200 Welcome to Usenet (fx06.am4)
CAPABILITIES
101 Capabilities list:
VERSION 1
AUTHINFO USER PASS
.
STARTTLS
480 Authentication Required*
^]
telnet> Connection closed.
```

In other cases openssl just hung after ``CONNECTED(00000005)``.

RFC 8143 [1], section 3.4, states _news clients SHOULD attempt to negotiate TLS even if the server does not advertise the  STARTTLS capability label in response to the CAPABILITIES command  (Section 2.1 of [RFC4642])._

So probably either it would make sense not to wait whether STARTTLS shows up after  ``BIO_printf(fbio, "CAPABILITIES\r\n");`` or maybe just to send STARTTLS instead and check whether there's a 382 returned for proceeding or anything else to stop with it.

I just picked a few server from shodan. This are probably not a good statistics but I checked a few common ones

```
Kerio Connect nntpd            4,546
Microsoft NNTP Service         2,815
CCProxy NNTP proxy             1,073
InterNetNews (INN)               463
Citadel (UX) messaging server    123
```

You might want to have a broader coverage as a few I checked didn't provide STARTTLS at all.

Cheers,Dirk

[1] Using Transport Layer Security (TLS) with Network News Transfer Protocol (NNTP)


``while (mbuf_len > 1 && mbuf[0] != '.')`` ? Maybe ``while (mbuf_len == 0)`` is more appropriate to avoid the hanger.

Any news when this is being fixed.

I did a check on ~100 random hosts and the current status of NNTP support via STARTTLS is pretty much: not working. :-( 

Hmmm. Support for the CAPABILITIES command seems to be required by RFC3977. Those servers that don't respond to is properly seem to be non-compliant....that's annoying! :-)
Probably we should check that the response code starts with 101, and ignore it otherwise.

We should also probably check that the STARTTLS response code is 382 and fail otherwise.

PRs welcome.

https://tools.ietf.org/html/rfc8143 :

```
3.4.  Prevention of SSL Stripping:   

   In order to help prevent SSL Stripping attacks (Section 2.1 of
   [RFC7457]), NNTP implementations and deployments MUST follow the
   recommendations provided in Section 3.2 of RFC 7525 [BCP195].
   Notably, in case implicit TLS is not used, news clients SHOULD
   attempt to negotiate TLS even if the server does not advertise the
   STARTTLS capability label in response to the CAPABILITIES command
   (Section 2.1 of [RFC4642]).

```

> We should also probably check that the STARTTLS response code is 382 and fail otherwise.

Oh - it seems we do do that in the latest version of the code.

@drwetter I'm not sure of the relevance of your quote. AFAICT the code does (attempt to) do that. It does check the CAPABILITIES response but then regardless of whether STARTTLS is explicitly listed or not, it tries to do it anyway. The only reason it checks CAPABILITIES at all is to print a helpful warning if it isn't explicitly there. Unfortunately that code seems to have a bug. It doesn't check for a 101 response code before it starts to parse the list of capabilities. This means if it gets something other than 101 it blocks trying to read the next line after the response code. But that input never comes because the server is waiting for the client to send it another command (hence the hang you experience).

>@drwetter I'm not sure of the relevance of your quote

I was just referring to your previous answer, not to the code. :)

So it should send CAPABILITIES, look for an 101 or STARTTLS, maybe issue a warning and then just send STARTTLS and look for the 382?



-- 
Sent from my mobile. Excuse my brevity&typos+the phone's autocorrection 


It should send CAPABILITIES and look for a 101 response code. If it gets 101 then look for STARTTLS as it does now. If it doesn't get 101 then don't attempt to parse the CAPABILITIES list (because we're not getting one). This is the bug as I see it at the moment - we attempt to parse CAPABILITIES whether or not we've had 101.

The rest of the behaviour seems correct AFAICT, i.e. if we've not seen STARTTLS in CAPABILITIES then we issue a warning. Regardless of whether or not we've seen STARTTLS in the CAPABILITIES list we try it anyway and check for a 382 response.

Just a clarification, should the client still attempt to negotiate TLS even after _not_ receiving a 101 response code when requesting CAPABILITIES, or should it consider it a sign that the server is non-compliant and close the connection?

It should attempt to negotiate TLS no matter what CAPABILITIES returns. We only check CAPABILITIES to decide whether to print the warning or not.

I am happy to check this against a larger number of NNTP servers.  

forgot to say: testing against > 100 server worked for those support STARTTLS

Why wasn't this backported ? 