Server sends extended master secret extension even if client renegotiates without it (fixed in master, request to backport)

For openssl 1.1.1,
if a client tries to renegotiate a connection that previously used an extended master secret,
but, this time, *omits* it from the ClientHello,
openssl server sends ServerHello with extended master secret *present*.
This violates [section 7.4.1.4 of RFC 5246](https://tools.ietf.org/html/rfc5246#section-7.4.1.4):

    An extension type MUST NOT appear in the ServerHello unless the same
    extension type appeared in the corresponding ClientHello.  If a
    client receives an extension type in ServerHello that it did not
    request in the associated ClientHello, it MUST abort the handshake
    with an unsupported_extension fatal alert.

This is fixed in current master
(see commit 088dfa133561d7613b9391a56ddbce58f32c934a and discussion https://github.com/openssl/openssl/pull/3910/files#r137740899),
but not in current stable (1bf29d497e66efef0fbc9b1864d8a5db64bf898e)

Could this change be backported to the 1.1.1 branch?

<details><summary>reproducing with tlsfuzzer</summary>
relevant line of the test: https://github.com/tomato42/tlsfuzzer/blob/345f1ffb109f4be761e68dbe59878f89dcd8f8ad/scripts/test-extended-master-secret-extension.py#L692

```
#!/usr/bin/env bash
set -uex

PYTHON=/usr/bin/python3
OPENSSL=./openssl/apps/openssl  # built with ./config no-shared for simplicity

openssl req -x509 -newkey rsa -keyout /tmp/localhost.key -out /tmp/localhost.crt -subj /CN=localhost -nodes -batch

git clone https://github.com/tomato42/tlsfuzzer
pushd tlsfuzzer
git checkout 345f1ffb109f4be761e68dbe59878f89dcd8f8ad

git clone https://github.com/tomato42/tlslite-ng .tlslite-ng
pushd .tlslite-ng
git checkout a328159326bb8aef43e5384ddbd6b31734239658
popd
ln -s .tlslite-ng/tlslite tlslite

git clone https://github.com/warner/python-ecdsa .python-ecdsa
ln -s .python-ecdsa/src/ecdsa ecdsa
pushd .python-ecdsa
git checkout 72621b15a7c37f2c7cb7f11a2bc8feaac68b3914
popd
popd

$OPENSSL s_server -debug -key /tmp/localhost.key -cert /tmp/localhost.crt -www &>server.log &
openssl_pid=$!

PYTHONPATH=tlsfuzzer $PYTHON tlsfuzzer/scripts/test-extended-master-secret-extension.py \
    'renegotiate without EMS in session with EMS' || true
kill $openssl_pid
```

</details>

<details><summary>tlsfuzzer output</summary>

```
renegotiate without EMS in session with EMS ...
Error encountered while processing node <tlsfuzzer.expect.ExpectServerHello object at 0x7f8411295b50> (child: <tlsfuzzer.expect.ExpectCertificate object at 0x7f8411295b90>) with last message being: <tlslite.messages.Message object at 0x7f841129afd0>
Error while processing
Traceback (most recent call last):
  File "tlsfuzzer/scripts/test-extended-master-secret-extension.py", line 734, in main
    runner.run()
  File "/home/asosedki/tmp/openssl-reproducer/tlsfuzzer/tlsfuzzer/runner.py", line 227, in run
    node.process(self.state, msg)
  File "/home/asosedki/tmp/openssl-reproducer/tlsfuzzer/tlsfuzzer/expect.py", line 609, in process
    self._compare_extensions(srv_hello)
  File "/home/asosedki/tmp/openssl-reproducer/tlsfuzzer/tlsfuzzer/expect.py", line 453, in _compare_extensions
    for i in diff)))
AssertionError: Server sent unexpected extension(s): extended_master_secret

Test end
successful: 0
failed: 1
  'renegotiate without EMS in session with EMS'
```

</details>


<details><summary>openssl output</summary>

```
Using default temp DH parameters
ACCEPT
read from 0x7d0f40 [0x7dcf93] (5 bytes => 5 (0x5))
0000 - 16 03 00 00 38                                    ....8
read from 0x7d0f40 [0x7dcf98] (56 bytes => 56 (0x38))
0000 - 01 00 00 34 03 03 00 00-00 00 00 00 00 00 00 00   ...4............
0010 - 00 00 00 00 00 00 00 00-00 00 00 00 00 00 00 00   ................
0020 - 00 00 00 00 00 00 00 00-02 00 2f 01 00 00 09 ff   ........../.....
0030 - 01 00 01 00 00 17 00 00-                          ........
write to 0x7d0f40 [0x7eb710] (895 bytes => 895 (0x37F))
0000 - 16 03 03 00 55 02 00 00-51 03 03 0a 2e 27 49 36   ....U...Q....'I6
0010 - 77 a3 8f 75 47 e7 81 0e-aa b1 0d d0 c0 54 99 a2   w..uG........T..
0020 - 19 43 f3 44 4f 57 4e 47-52 44 01 20 ad cb a2 3b   .C.DOWNGRD. ...;
0030 - 1c 8a ed b3 42 15 0e ee-45 1e ef d9 0c 9a 8a 51   ....B...E......Q
0040 - 49 88 2f 6a 3c e1 52 b8-e4 ec c9 64 00 2f 00 00   I./j<.R....d./..
0050 - 09 ff 01 00 01 00 00 17-00 00 16 03 03 03 17 0b   ................
0060 - 00 03 13 00 03 10 00 03-0d 30 82 03 09 30 82 01   .........0...0..
0070 - f1 a0 03 02 01 02 02 14-78 86 d3 10 f3 76 99 8a   ........x....v..
0080 - b7 67 72 6d 8e 35 85 44-ce 83 8e f6 30 0d 06 09   .grm.5.D....0...
0090 - 2a 86 48 86 f7 0d 01 01-0b 05 00 30 14 31 12 30   *.H........0.1.0
00a0 - 10 06 03 55 04 03 0c 09-6c 6f 63 61 6c 68 6f 73   ...U....localhos
00b0 - 74 30 1e 17 0d 31 39 30-39 30 33 31 32 32 34 32   t0...19090312242
00c0 - 36 5a 17 0d 31 39 31 30-30 33 31 32 32 34 32 36   6Z..191003122426
00d0 - 5a 30 14 31 12 30 10 06-03 55 04 03 0c 09 6c 6f   Z0.1.0...U....lo
00e0 - 63 61 6c 68 6f 73 74 30-82 01 22 30 0d 06 09 2a   calhost0.."0...*
00f0 - 86 48 86 f7 0d 01 01 01-05 00 03 82 01 0f 00 30   .H.............0
0100 - 82 01 0a 02 82 01 01 00-de 4a d8 a8 ba fc 9a 47   .........J.....G
0110 - 08 8c 2e 4c 71 bc c9 f1-01 5a 8a 62 50 aa 85 a4   ...Lq....Z.bP...
0120 - f7 99 29 d7 e9 c4 d1 09-f3 24 26 d4 43 25 29 7c   ..)......$&.C%)|
0130 - 84 45 84 1c d7 66 da f3-f1 4b bc e7 e2 b7 8d e5   .E...f...K......
0140 - fc 6e 8e ea 0e 94 a2 43-01 2f 60 b8 6a 95 47 0f   .n.....C./`.j.G.
0150 - d4 4e ad fc 03 ee fe 80-5d a6 dc bb 5f d9 09 0f   .N......]..._...
0160 - 11 ef b8 93 6f 45 89 01-a9 e1 00 99 50 6c 88 14   ....oE......Pl..
0170 - df f3 2e f9 96 51 dc a5-ce e7 a0 0c c6 fb ab 41   .....Q.........A
0180 - f7 50 7f b4 03 2d c1 99-7f a3 f6 22 cf 78 90 1d   .P...-.....".x..
0190 - 0b b7 0b 90 14 f4 df 2d-a8 89 b9 ca df 19 c1 b0   .......-........
01a0 - 0a e8 0a 90 c4 46 2b 23-bf 87 1f 58 10 ad c1 26   .....F+#...X...&
01b0 - 12 ef af 3c d2 6e ce 75-ac 3b 47 89 e7 5c c7 a0   ...<.n.u.;G..\..
01c0 - e3 00 d4 1d db 87 cd f6-c3 e5 41 7a 2c 7a cd 02   ..........Az,z..
01d0 - 0b f4 6f 0b 74 fc 22 91-bc b9 79 c7 c1 69 5f e2   ..o.t."...y..i_.
01e0 - cf 62 18 30 e1 db ef 2a-83 65 5e 61 4c 2c a9 7a   .b.0...*.e^aL,.z
01f0 - f8 81 e7 42 61 d2 b9 45-d3 13 1e 17 f5 0d 40 1d   ...Ba..E......@.
0200 - da f4 1c b8 f0 11 d0 bf-02 03 01 00 01 a3 53 30   ..............S0
0210 - 51 30 1d 06 03 55 1d 0e-04 16 04 14 cb 68 92 36   Q0...U.......h.6
0220 - f6 b8 3e 36 2d 8e 3f d2-c7 2e 52 3b 53 5e 63 95   ..>6-.?...R;S^c.
0230 - 30 1f 06 03 55 1d 23 04-18 30 16 80 14 cb 68 92   0...U.#..0....h.
0240 - 36 f6 b8 3e 36 2d 8e 3f-d2 c7 2e 52 3b 53 5e 63   6..>6-.?...R;S^c
0250 - 95 30 0f 06 03 55 1d 13-01 01 ff 04 05 30 03 01   .0...U.......0..
0260 - 01 ff 30 0d 06 09 2a 86-48 86 f7 0d 01 01 0b 05   ..0...*.H.......
0270 - 00 03 82 01 01 00 b8 8e-88 05 b5 e2 71 f8 cb de   ............q...
0280 - ec ed 80 9e 6b 2f 8e 68-89 9f cf c1 ad 99 32 e2   ....k/.h......2.
0290 - 71 6f 28 34 0a 48 f3 2d-dd df f4 5f d4 72 30 9d   qo(4.H.-..._.r0.
02a0 - 1f 32 18 cf 85 a2 2f 7f-bb e8 a9 3e 72 54 24 21   .2..../....>rT$!
02b0 - ea 5b 93 6e bb 97 11 71-02 8b d7 2a df ad f8 91   .[.n...q...*....
02c0 - db b7 35 76 14 c8 78 37-ad e2 b2 13 86 ad 1d 17   ..5v..x7........
02d0 - b0 73 ae eb ca 00 69 8b-8f 28 8b 14 61 e4 df 04   .s....i..(..a...
02e0 - 38 6d 92 77 c8 fd 9c 96-4c cc 1c d5 55 c1 3f 56   8m.w....L...U.?V
02f0 - 42 c2 91 c5 4d 49 e7 24-a2 32 dc b1 88 d8 fd 0f   B...MI.$.2......
0300 - 71 f8 f1 bb 6a 82 e2 b6-7c d0 28 8f 6c 4c 64 0d   q...j...|.(.lLd.
0310 - 40 39 b1 49 5a 68 67 42-17 35 03 b0 f7 37 40 16   @9.IZhgB.5...7@.
0320 - 9d 90 e7 84 64 6b 18 fc-91 8d 33 d7 5f 5c b9 7a   ....dk....3._\.z
0330 - 93 cf 73 96 d3 5c 75 e1-a2 03 7f e0 d6 c1 99 49   ..s..\u........I
0340 - 7a 1c 84 2a 00 4d 2c 6f-d4 bc 8e f8 d7 cf b9 29   z..*.M,o.......)
0350 - fb d2 db 2e d4 ff 8c dc-0f c4 54 38 a5 21 74 44   ..........T8.!tD
0360 - 9b e5 b0 03 7e a4 83 a8-7e e6 af 30 a0 ac 2a 86   ....~...~..0..*.
0370 - 79 13 cf 54 ca c5 16 03-03 00 04 0e 00 00 00      y..T...........
read from 0x7d0f40 [0x7dcf93] (5 bytes => 5 (0x5))
0000 - 16 03 03 01 06                                    .....
read from 0x7d0f40 [0x7dcf98] (262 bytes => 262 (0x106))
0000 - 10 00 01 02 01 00 9a 5b-d1 11 f7 e3 6c dd c0 a0   .......[....l...
0010 - 4a 0d aa c0 82 15 81 9b-b3 b3 4a 57 02 4d 55 fc   J.........JW.MU.
0020 - de 8d 57 a5 6f 67 d9 5c-89 0d 58 d6 a6 58 02 e3   ..W.og.\..X..X..
0030 - cc de f2 0a 55 b9 a7 d1-e9 72 70 e3 3d f9 0c 72   ....U....rp.=..r
0040 - 88 ea bf 2b db e7 8d 36-90 f8 09 d4 d2 2a 74 37   ...+...6.....*t7
0050 - 14 a3 d8 6d d7 35 5c cd-d2 03 bd 78 9f 1d 12 62   ...m.5\....x...b
0060 - ee e2 3a 33 bc 0a 3c 53-f6 60 b4 fb 4b 2e 32 5c   ..:3..<S.`..K.2\
0070 - ab cf 68 02 c0 ca 2c 55-c8 5c dd 21 f5 3a 31 05   ..h...,U.\.!.:1.
0080 - ec 1e 8d b4 6d 04 50 bc-b6 11 3d 58 dc 58 49 52   ....m.P...=X.XIR
0090 - bf 86 97 b7 1e 61 82 56-14 61 f8 ac e7 5e e1 26   .....a.V.a...^.&
00a0 - 78 7b f5 f3 c6 0e 24 78-7c f8 56 e6 f7 07 52 57   x{....$x|.V...RW
00b0 - 4f db bc f5 5a e8 b0 6d-3f db 21 6f 54 60 a0 d6   O...Z..m?.!oT`..
00c0 - 59 8a 77 e9 41 e6 55 54-2d 13 f9 a8 d4 46 55 22   Y.w.A.UT-....FU"
00d0 - 07 41 81 f0 d4 5c 62 b8-2b 0d 1c 7f 46 73 62 37   .A...\b.+...Fsb7
00e0 - 74 fd b2 90 a3 50 3f 6c-58 4b 2e a1 e2 8d 96 15   t....P?lXK......
00f0 - 01 33 db 91 fb 86 3c bb-55 00 f3 2c 1c 29 9f 41   .3....<.U..,.).A
0100 - cb ea bb 04 95 5f                                 ....._
read from 0x7d0f40 [0x7dcf93] (5 bytes => 5 (0x5))
0000 - 14 03 03 00 01                                    .....
read from 0x7d0f40 [0x7dcf98] (1 bytes => 1 (0x1))
0000 - 01                                                .
read from 0x7d0f40 [0x7dcf93] (5 bytes => 5 (0x5))
0000 - 16 03 03 00 40                                    ....@
read from 0x7d0f40 [0x7dcf98] (64 bytes => 64 (0x40))
0000 - ed 4e 66 88 51 b2 b7 bc-8c 14 a1 bc 1b a9 ad 77   .Nf.Q..........w
0010 - 62 95 a6 6f a0 df b3 be-fe 6c 65 0d c2 6f e4 9e   b..o.....le..o..
0020 - 3f f3 88 6a 7f 47 49 e2-df 6c 94 72 24 36 63 9f   ?..j.GI..l.r$6c.
0030 - a8 3f 90 0f 0f b7 eb 24-0c 6f d9 d2 63 28 f7 ae   .?.....$.o..c(..
write to 0x7d0f40 [0x7eb710] (75 bytes => 75 (0x4B))
0000 - 14 03 03 00 01 01 16 03-03 00 40 67 20 9c df 7a   ..........@g ..z
0010 - 54 75 6d c1 3b c1 c4 4c-ed cf 86 ee 57 60 52 c3   Tum.;..L....W`R.
0020 - 6c 1f ed 00 98 7e 85 ad-2b 7d 08 be f4 ac 19 c2   l....~..+}......
0030 - 11 0e 19 62 a7 c9 08 ce-11 5a 34 6a 64 f1 b0 bb   ...b.....Z4jd...
0040 - 0c 8c b8 db a4 b2 99 51-c4 30 90                  .......Q.0.
read from 0x7d0f40 [0x7dcf93] (5 bytes => 5 (0x5))
0000 - 16 03 03 00 70                                    ....p
read from 0x7d0f40 [0x7dcf98] (112 bytes => 112 (0x70))
0000 - 30 bf 45 52 a4 31 b9 7c-79 14 19 42 90 3f 79 43   0.ER.1.|y..B.?yC
0010 - a4 ad 08 d1 e2 f7 3b b2-f2 40 06 5a 7a 99 74 a3   ......;..@.Zz.t.
0020 - 5b c7 77 f4 b7 85 d7 42-01 a1 e0 ce b4 a4 2f 35   [.w....B....../5
0030 - 3c 57 86 4f 1f c8 63 91-09 6f 05 2e 34 1b b8 cf   <W.O..c..o..4...
0040 - 1b 0b 05 b9 83 e2 4d af-54 3f 8e d5 fb b9 44 bc   ......M.T?....D.
0050 - df 82 07 86 0f 0a b5 eb-8f 5c 8a bb 5e a1 38 5f   .........\..^.8_
0060 - 89 91 02 33 e6 c4 4f 60-97 7f 3e f4 47 a8 ea 5a   ...3..O`..>.G..Z
write to 0x7d0f40 [0x7eb710] (1055 bytes => 1055 (0x41F))
0000 - 16 03 03 00 a0 84 86 4b-99 36 12 68 62 16 5e 4f   .......K.6.hb.^O
0010 - a3 a3 ee 7a dd 39 06 b6-95 1d 23 b4 6e 1c e0 65   ...z.9....#.n..e
0020 - 5a 1d 76 59 df 39 3b 81-c0 d3 1f f7 a0 53 99 1d   Z.vY.9;......S..
0030 - ff 75 f0 07 01 45 24 31-43 b8 f2 96 a4 8c be 20   .u...E$1C...... 
0040 - 04 03 c0 db c7 5e d2 11-04 83 4b b7 2f ae 57 6d   .....^....K./.Wm
0050 - 65 ea 53 56 c7 0f ff ee-04 e1 ee a1 5b e8 f0 20   e.SV........[.. 
0060 - 09 3d 20 ba bd 25 cb 33-88 99 00 45 40 a5 bf cc   .= ..%.3...E@...
0070 - 55 cf e2 ff f8 ee 72 72-d0 fb 33 fe 26 c9 8e 1f   U.....rr..3.&...
0080 - c3 9b d0 fd 2a c2 f5 f4-2f 09 e6 fd 78 ed 18 6a   ....*.../...x..j
0090 - b7 01 51 b9 17 be 08 46-ad 8e 0b 57 72 a4 4c 54   ..Q....F...Wr.LT
00a0 - 14 ef 6e dd 79 16 03 03-03 40 a3 9d 97 e2 2d 0e   ..n.y....@....-.
00b0 - 79 5a 73 06 ca 9b 1a 76-a2 99 a8 f0 eb 48 8e f0   yZs....v.....H..
00c0 - ce d1 fc 15 89 c8 b6 73-2a 49 7c d1 64 19 72 f8   .......s*I|.d.r.
00d0 - 0c 48 90 83 34 9e ee 3c-ab 3e d6 6b 2a 1f 87 ae   .H..4..<.>.k*...
00e0 - 12 6f 50 43 8d 96 aa 4a-a2 eb 6b 5e 5a b6 f8 d7   .oPC...J..k^Z...
00f0 - ba 01 8b 8e 9d d2 98 0b-55 7b ed cf 39 78 f6 f9   ........U{..9x..
0100 - b5 5a ab 28 9b c5 b1 57-1d aa 17 6b 1a 59 d1 54   .Z.(...W...k.Y.T
0110 - fc a1 4d 89 48 bf 3d 04-be 2c 29 ad e4 15 a6 8f   ..M.H.=..,).....
0120 - 40 99 cc 1e 61 53 fe 88-0a 91 a0 39 97 bf e5 b5   @...aS.....9....
0130 - e2 0a 80 f1 4f a7 1c ef-9d 93 0d 1d 7a 94 7a 0a   ....O.......z.z.
0140 - 82 9f 34 c3 aa b6 39 70-53 c0 84 ee 8b a1 6b f6   ..4...9pS.....k.
0150 - 61 40 6b 4a 14 bd c0 cc-5a d3 0f 98 a2 2e 52 3c   a@kJ....Z.....R<
0160 - a2 6b 0d b1 af e4 c0 f9-aa f2 61 0a c7 83 53 d4   .k........a...S.
0170 - 48 60 ff a5 ee 1e 9b b8-65 42 88 ee 16 58 d4 f5   H`......eB...X..
0180 - af 94 fc 0f 71 33 5b e3-9f 1c 90 c9 0a b2 88 80   ....q3[.........
0190 - 77 1e 6d 42 79 76 99 3b-1c 6e 88 45 8a f1 2e c9   w.mByv.;.n.E....
01a0 - e1 44 f4 14 b5 ec 5e 34-ae bf a5 e1 1e aa 3a 5b   .D....^4......:[
01b0 - 53 9f 06 e8 25 87 58 17-b9 1e eb c3 28 89 17 5a   S...%.X.....(..Z
01c0 - 56 e4 e6 f7 10 0a b8 d8-f7 e2 95 51 3f c7 bc 35   V..........Q?..5
01d0 - be 3b b6 8b e0 fd 8f 60-c9 23 fe 57 7b 30 4e b7   .;.....`.#.W{0N.
01e0 - 27 63 3f 2f 22 90 09 7e-34 d9 e0 bf 7e 18 70 77   'c?/"..~4...~.pw
01f0 - 1c 3e 3f 97 df 32 92 70-cc b7 2f dc e3 7b 1a e8   .>?..2.p../..{..
0200 - ee 78 98 e1 6a 76 86 91-69 d4 54 17 76 79 85 d5   .x..jv..i.T.vy..
0210 - fe 93 ec d5 e6 0c a3 5c-a5 41 d3 a2 fb 62 d2 57   .......\.A...b.W
0220 - ff 40 96 9f 1c e9 89 6d-e8 5e 1d dd e3 86 01 e3   .@.....m.^......
0230 - b4 f2 04 4a 3e 65 34 54-e6 df 11 d7 38 ca 4f 88   ...J>e4T....8.O.
0240 - c9 50 92 85 97 ae be 0e-1e ab e9 68 ec fb 0b 67   .P.........h...g
0250 - 4f 55 bd 96 7d 10 0b b2-58 34 49 d3 d7 80 5a a9   OU..}...X4I...Z.
0260 - c9 45 78 a4 0c 8d e1 fe-22 73 2a 2a 2e 61 1a 93   .Ex....."s**.a..
0270 - ac 5e 5a b7 ca dd 79 ae-90 59 ff 88 70 d9 ba be   .^Z...y..Y..p...
0280 - c4 2d af a3 da ae 96 98-cd f4 86 5d 83 92 d5 17   .-.........]....
0290 - 6e 69 b2 8e d3 62 1c 37-39 03 bb 4d 4e a9 fa 90   ni...b.79..MN...
02a0 - e3 ee 91 cf 13 52 10 11-c5 d9 1c 4c 28 47 72 8c   .....R.....L(Gr.
02b0 - 84 70 72 bd a2 a2 68 88-37 96 8e a4 b5 86 79 32   .pr...h.7.....y2
02c0 - 35 27 3f 8a 75 0a 42 04-2d 0d 86 4a bf 7d 8e 1b   5'?.u.B.-..J.}..
02d0 - 45 04 1b 97 67 c8 cb 2c-18 de 82 01 d2 b9 76 31   E...g..,......v1
02e0 - ba fd 74 ca 36 52 aa 0a-42 38 42 d4 55 e3 43 d4   ..t.6R..B8B.U.C.
02f0 - 8d c7 54 ba 9c 92 08 e2-a6 11 f0 cc a2 63 a8 b0   ..T..........c..
0300 - 49 0a d5 ad bf c0 89 68-d3 e6 01 a7 ce 78 77 08   I......h.....xw.
0310 - 34 5b 80 3e 84 9d cf 45-b3 e5 0c 04 05 e2 19 cc   4[.>...E........
0320 - 13 6c 2a a7 6f 90 14 34-15 c1 0d b4 14 e5 83 64   .l*.o..4.......d
0330 - 7b 51 63 81 78 08 2e a0-1f c4 4b f6 ba ff f1 f5   {Qc.x.....K.....
0340 - fa 04 7e 99 18 b2 41 9c-ff 42 ba e9 9e 47 ef d2   ..~...A..B...G..
0350 - f9 5f 2b 73 2e 6a 03 8c-0e a3 bd fe 78 52 f8 72   ._+s.j......xR.r
0360 - 71 04 e2 0d ab b3 a2 64-ec d1 60 41 1f d8 3c 53   q......d..`A..<S
0370 - b7 17 8a 07 df 01 b2 35-53 c6 a7 ec 23 f1 9a cd   .......5S...#...
0380 - 9b 45 a8 a4 98 bf c2 94-21 e2 0f eb 76 66 cd 0f   .E......!...vf..
0390 - 29 b2 d7 fa 8b f3 51 b4-16 94 5b 0a 0e f2 34 0d   ).....Q...[...4.
03a0 - 53 77 37 4d 04 cc 8d 3b-94 23 41 4b 6d f6 be e2   Sw7M...;.#AKm
```

</details>

I think I'm confused as to when it would be desired to drop extended-master-secret during renegotiation.  RFC 7627 admits the possibility of dropping EMS during resumption, e.g., during a software update rollout on a server farm, but I'm having a hard time seeing why a server wouldn't want to just abort the connection if it sees such a ClientHello.

My first reaction is also that the server should reject such a resumption,
and I guess continue with a full handshake instead.


BoringSSL doesn't do resumption on a server but we do allow clients to opt-in renegotiations and forbid EMS state from changing. If the initial handshake's EMS state mismatches the renegotiation in either direction, we fail the connection. If we supported server renegotiation, I think we'd have done the same thing there.

Changing parameters across resumption, particular with an API like OpenSSLs which makes renegotiations implicit, is generally risky. (Supposed the application queried the state before a renegotiation and then acted on it after a renegotiation which changed it.) I would advocate forbidding such state changes as a general rule wherever possible.

Resumptions are another matter since, across separate connections, you may be talking to different instances or versions of a server. But renegotiation is confined to one connection so there's a reasonable expectation of consistency.

@kaduk, server-initiated EMS dropping is out of the scope. It's about client-initiated EMS-dropping, and I think that specs leave no wiggle room for the server to disrespect that.



Urgh, fat fingers and unclear mind, sorry for that. Now I see that your proposal is about aborting connections on EMS-dropping renegotiations.

We should revive this one - to summarize we are talking here about situation when on renegotiation the client side drops the EMS extension.

 1. The 1.1.1 branch currently adds EMS extension back which is clearly wrong and in contradiction with RFC.
 2. The master branch will not add EMS extension but continues without EMS - this is not in contradiction with RFC but might be a security risk.
 3. Should we fix both branches to abort the handshake in such situation?

@mattcaswell ?

Either we should fix both branches to abort, or just make 1.1.1 behave the same as master. Either would be acceptable, but I'd tend towards aborting.

I said as much above, but +1 from me to aborting (on both client and server) if the peer changes EMS state within a connection.

+1 from me as well for aborting if EMS state change during a connection.