FIPS indicator epic

Refer to the FIPS indicator design document (#23609).  This issue is meant to act as an epic covering the indicator work that remains.

- [x] #24996
- [x] disable 3DES encryption + indicator  #24960
- [x] ECDSA B & K curves are deprecated (but still approved IG C.K Resolution 4) ${\textsf{\color{green}deprecated doesn't need an indicator}}$
- [x] ECDH cofactor  #25139 
- [x] Ed25519 & Ed448 now approved #24882 #22112
- [x] X25519 & X448 ${\textsf{\color{green}not approved}}$ (keygen and key exchange indicators)
- [x] RSA encryption with PKCS ⌗1 version 1.5 padding no longer allowed #25070
- [x] RSA ${\textsf{\color{green}signing using PKCS ⌗1 still allowed}}$
- [x] RSA signing using X9.31 no longer allowed #24021
- [x] RSA PSS saltlen restrictions #25115
- [x] TLS1_PRF #23900
- [x] #24937 #25032
- [x] check allowed digests ${\textsf{\color{green}all completed}}$
  - [x] TLS_1_3_KDF only SHA 256, 384 are allowed due to RFC 8446 Appendix B.4 #23889
  - [x] TLS1_PRF only SHA256, 384, 512 are allowed #23889
  - [x] K963KDF SHA1 not allowed #23889
  - [x] X942KDF #24862
  - [x] PBKDF2 #24862
  - [x] HKDF #23889
  - [x] KBKDF ${\textsf{\color{green}relies on underlying CMAC, HMAC or KMAC for digest checking}}$
  - [x] SSKDF #23889
  - [x] SSHKDF #23889
  - [x] HMAC ${\textsf{\color{green}already fails if an XOF digest is used}}$
  - [x] KMAC ${\textsf{\color{green}doesn't allow a user specified digest}}$
  - [x] PKEY #24936 #25020
- [x]  check allowed ciphers ${\textsf{\color{green}all completed}}$
  - [x] CMAC: ${\textsf{\color{green}checks for CBC mode cipher}}$ #25022
  - [x] KBKDF CMAC: ${\textsf{\color{green}checks for HMAC/CMAC correctly}}$
  - [x] GMAC: ${\textsf{\color{green}checks for GCM mode cipher}}$
- [x] PBKDF2 iterations and salt length check #24120
- [x] TEST_RAND not approved, add an indicator #24851
- [x] KMAC lower bounds check on output size (SP800-185 Section 8.4.2) #24917
- [x] HMAC output length (FIPS 140-3 IG C.D note when using a truncated HMAC) ${\textsf{\color{green}we never output less than a block from the underlying digest}}$
- [x] key size checks ${\textsf{\color{green}all completed}}$
  - [x]   ≥112 bits for HKDF, SSHKDF and TLS KDF #23900
  - [x]   ≥112 bits for KBKDF #25095
  - [x]  ≥112 bits for PBKDF2 #24120
  - [x] RSA key size ≥ 2048 approved for keygen, signatures and key transport.  1024 allowed for verification #24623
  - [x]  ≥112 bits for HMAC, CMAC and KMAC #25049
  - [x] ≥112 bits for EC keygen #25008
- [x] add indicator for P-192 which is now legacy ${\textsf{\color{green}covered by the minimum key strength indicator}}$
- [x] disable DSA signing + indicator #24799
- [x] DSA legacy verification only + keygen #24978
- [x] unit test improvements / refactoring ${\textsf{\color{green}all completed}}$
  - [x] #25135
  - [x] #25136 #25160
  - [x] #25137 ${\textsf{\color{green}the existing tests seem to cover all interesting cases}}$
- [x] #25162
- [x] #25194
- [x] #25178
- [x] #25211 
- [x] #25217
- [ ] #25222
- [x] #23832
- [x] #25195


All completed.

1. Add enforcement/indicator for 112 bits of output for PBKDF only.
2. Add documentation that all other KDFs produce "keying material" not "keys".

```
    /*
     * FIPS requires generation of AES-GCM IV's inside the FIPS module.
     * The IV can still be set externally (the security policy will state that
     * this is not FIPS compliant). There are some applications
     * where setting the IV externally is the only option available.
     */
    if (!gctx->iv_set) {
        if (!EVP_CIPHER_CTX_is_encrypting(ctx) || !aes_gcm_iv_generate(gctx, 0))
            return -1;
        CRYPTO_gcm128_setiv(&gctx->gcm, gctx->iv, gctx->ivlen);
        gctx->iv_set = 1;
        gctx->iv_gen_rand = 1;
    }
```

@paulidale I don't think this will fly anymore without an  unapproved indicator.

The GCM IV is problematic.  E.g. TLS sets it externally but this doesn't break the FIPS-ness since it's one of the protocols allowed to "break" the rules.

I'm reasonably confident that we've missed some indicators, I'm expecting the lab to point out the relevant ones (or at least the ones they check for).

3.4 beta is scheduled for later today and that means a feature freeze -- we'd have to argue new indicators as being bugs and have fixes ready to go very soon.
