X.500 Distinguished Name matching in X509_NAME_cmp() deserves some clarification in the documentation

Every now and then users including my customers face problems with the DN matching done by `X509_NAME_cmp()`.
The most typical issue is that some software reverts the order of Relative Distinguished Names (RDNs) 
such that matching of certificate subject or issuer names fails, for instance
* `/CN=Name/O=Company/C=US` vs.
* `/C=US/O=Company/CN=Name`.

[RFC 5280 section 7.1](https://tools.ietf.org/html/rfc5280#section-7.1) defines non-trivial matching rules for Distinguished Names used in X.509 certificates, in particular

> Two relative distinguished names RDN1 and RDN2 match if
> they have the same number of naming attributes
> and for each naming attribute in RDN1 there is a matching naming
> attribute in RDN2.  Two distinguished names DN1 and DN2 match if they
> have the same number of RDNs, for each RDN in DN1 there is a matching
> RDN in DN2, and the matching RDNs appear in the same order in both DNs.

I find the last part of the sentence confusing regarding the order of RDNs.
If it had been phrased "and the RDNs appear in the same order in both DNs" it would have made clear that the order of RDNs is relevant.
Yet the phrase "matching RDNs" can be (mis-?)interpreted as a restriction of the statement to those RDNs with same name,
which would imply that the order of RDNs with different names can be different in both DNs while the order of RDNs that happen to have the same type, such as `/OU=Unit/OU=Department/OU=Team`, matters.
Various questions and discussions on this and related points can be found online, e.g.: 
https://stackoverflow.com/questions/33080136/ordering-of-rdn-attributes-in-a-cas-certification-sign-process.
https://security.stackexchange.com/questions/93985/openssl-x509-is-there-an-order-in-subjectname-fields
http://openssl.6102.n7.nabble.com/Is-ordering-of-distinguished-names-for-subject-and-issuer-in-OpenSSl-0-9-8-certificates-important-td43602.html
Most interpreters and implementations take the understanding that the order of all RDNs matters, such that DNs with reversed RDN order should be considered different.

On the other hand, each RDN may have multiple values (so-called Attribute Value Assertions (AVAs)), and these clearly have set semantics, which means that there is no ordering in their values.

The OpenSSL function implementing this matching is `X509_NAME_cmp()`.
It spends quite some effort to internally canonicalize the DN entries w.r.t. variants of the string types and representations such that in the end string matching can be simply and efficiently done using `memcmp`.
Yet AFAICS it does not canonicalize the order of values in multi-valued RDNs, such that the matching can go wrong if their representations happen to use different orders of their set members.

What should be done at least is to clearly document which interpretation of DN matching is implemented by `X509_NAME_cmp()` and which limitations/bugs it has. Its documentation so far is just:

> The X509_NAME_cmp() function compares two `X509_NAME` objects indicated by
> parameters `a` and `b`. The comparison is based on the `memcm` result of
> the canonical (DER) encoding values of the two objects. `L<i2d_X509_NAME(3)>`
> has a more detailed description of the DER encoding of the `X509_NAME` structure.

This is too implementation-oriented and too vague because it does not clarify which canonicalization is done -
the reference `L<i2d_X509_NAME(3)>` is useless because `d2i_X509.pod` does not really describe anything about it.
In particular the documentation does not make clear whether the non-ordering of members in multi-valued RDNs is treated correctly.

The order is *not* ambiguous, you just have to look elsewhere for the rules -- in particular, the X509 and maybe X500 specs themselves.  The constraints about which RDN's can appear where are defined there.  Unfortunately, LDAP reversed the string format.  And OpenSSL string format is ambiguous.

As a simple test, I would suggest that if the "cmp" routine finds a C as the first RDN it's okay. IF it finds multiple AVA's in an RDN, it returns an "ambigous" error, and if it finds C as the last RDN it returns "wrong format" error.

Trying to guess what is meant is a really bad thing.

> The order is _not_ ambiguous, you just have to look elsewhere for the rules -- in particular, the X509 and maybe X500 specs themselves.

One of my points above was that unfortunately in RFC 5280, which is the by far most important specification for the use of X.509 certificates, the matching of RDNs (as part of Distinguished Names) is not clearly described. I should have mentioned in addition that section [4.2.15 of RFC 4517](https://tools.ietf.org/html/rfc4517#section-4.2.15) has an unambiguous description, yet this better text (for whatever strange reason) is not used nor referenced in RFC 5820.
Yet, there are the ITU X.500 and X.509 docs but these are pretty old-fashioned and not publicly available, such that most users/developers do not have access to them.

> The constraints about which RDN's can appear where are defined there. Unfortunately, LDAP reversed the string format.
> And OpenSSL string format is ambiguous.

Yes. There are way too many mostly outdated string formats, partly still supported by OpenSSL.

> Trying to guess what is meant is a really bad thing.

Sure. To make things more clear at least  to OpenSSL users,
I've extended the documentation of `X509_NAME_cmp()`, referencing relevant RFCs as part of #12769.

> As a simple test, I would suggest that if the "cmp" routine finds a C as the first RDN it's okay.
> IF it finds multiple AVA's in an RDN, it returns an "ambigous" error, and if it finds C as the last RDN it returns "wrong format" error.

A CMP client is not in the position to judge whether a given order of single-valued RDNs is correct;
it just needs to correctly match DNs contained in the `sender` header field of a received CMP message with the subject DNs of candidate certificates that may have been used to sign the message.

I meanwhile found out by experimentation that `X509_NAME_cmp()` does correctly cover the (unordered) set semantics of multi-valued RDNs (while as mentioned above I suspected at first that this was not the case).

I've taken this opportunity to add the `-multivalue-rdn` option not only to the `cmp` app, but also to `storeutl` and `x509`
and to fix the output of `X509_NAME_oneline()` for the case of multi-valued RDNs, also in #12769.

I'm a little lost as to what the actual issue is, and especially what's up with multi-valued RDNs.  The example in the description is something else:

> * `/CN=Name/O=Company/C=US` vs.
> * `/C=US/O=Company/CN=Name`.

There are no multi-valued RDNs in this DNs...  all RDNs are single-value, but one is in the correct hierarchy order, the other not.
This is often pretty confusing because LDAP often presents DNs in the reverse order compared to OpenSSL (and most others, I suspect)

To clarify @levitte's comment, the example violates the "matching RDNs appear **in the same order** in both DNs".

Note that multi-valued RDNs can exist, but are very unusual.

> I'm a little lost as to what the actual issue is

Sorry for the confusion - I've just updated the title of this issue.

> and especially what's up with multi-valued RDNs.

There my point initially was that I suspected that multi-valued RDNs were not treated correctly,
but as I wrote later I found that their matching is actually fine (namely, there is no order on their members).
Yet the documentation so far was rather lean and technical; I've improved this in #12769.

Hi @DDvO,

I am trying to understand why you believe the text in RFC 5280 is ambiguous, and it seems that part of the problem may be a misunderstanding. In #12769 you wrote:
> In particular, the order of Relative Distinguished Names (RDNs) is relevant except if they appear in multi-valued RDNs (also known as multi-valued AVAs), which are defined as sets such that their members are effectively not ordered.

This text is incorrect as it implies that a RDN can be a part of a multi-valued RDN. It also mentions multi-valued AVAs, and I don't know what that means.

The ASN.1 for a distinguished name in RFC 5280 is:
```
RDNSequence ::= SEQUENCE OF RelativeDistinguishedName

DistinguishedName ::=   RDNSequence

RelativeDistinguishedName ::= SET SIZE (1..MAX) OF AttributeTypeAndValue
```
In order to help discuss the issue, here is an example of a DN than contains a multi-valued RDN:
```
SEQUENCE {
  SET {
    SEQUENCE {
      OBJECT IDENTIFIER countryName (2 5 4 6)
      PrintableString 'US'
      }
    }
  SET {
    SEQUENCE {
      OBJECT IDENTIFIER organizationName (2 5 4 10)
      PrintableString 'Test'
      }
    SEQUENCE {
      OBJECT IDENTIFIER serialNumber (2 5 4 5)
      IA5String '1234'
      }
    }
  }
```
OpenSSL would print this as `/C=US/O=Test/serialNumber=1234` (which is ambiguous), but the RFC 2253/RFC 4514 string representation would be `serialNumber=1234+O=Test,C=US`.

This distinguished name consists of two RDNS:
1. C=US
2. serialNumber=1234+O=Test

The first RDN contains a single attribute type and value (C=US) whereas the second RDN contains two attribute types and values (serialNumber=1234 and O=Test). This second RDN is a multi-valued RDN and since an RDN is a SET of attribute types and values, the same RDN could have been encoded with `serialNumber=1234` first and `O=Test` second. However, if you created a DN that is exactly the same as the one above, but with the `C=US` coming at the end, then this would be a different DN as the order of the RDNs matters.

The text you wrote in #12769 implies that `serialNumber=1234` and `O=Test` are RDNs, but they are not. They are attribute types and values (or AVAs) and the two of them together are part of a single RDN.

In your comment above about RFC 5280 you say:

> Yet the phrase "matching RDNs" can be (mis-?)interpreted as a restriction of the statement to those RDNs with same name, which would imply that the order of RDNs with different names can be different in both DNs while the order of RDNs that happen to have the same type, such as /OU=Unit/OU=Department/OU=Team, matters.

I don't understand where this interpretation comes from. Did you understand "matching RDNs" to means RDNs with the same name? By "RDNs with the same name" do you mean "RDNs that happen to have the same type," (which I interpret to mean attribute type and value pairs with the same attribute type)?

When RFC 5280 says "matching RDNs," it definitely doesn't mean RDNs with the same attribute type (e.g., `OU=Unit` and `OU=Department`). It means:
> Two relative distinguished names RDN1 and RDN2 match if they have the same number of naming attributes and for each naming attribute in RDN1 there is a matching naming attribute in RDN2.

So, for example, `serialNumber=1234+O=Test` and `O=Test+serialNumber=1234` are matching RDNs.

Thanks @dcooper16 for your clarifying comments!

> I am trying to understand why you believe the text in RFC 5280 is ambiguous, and it seems that part of the problem may be a misunderstanding. In #12769 you wrote:
> 
> > In particular, the order of Relative Distinguished Names (RDNs) is relevant except if they appear in multi-valued RDNs (also known as multi-valued AVAs), which are defined as sets such that their members are effectively not ordered.
> 
> This text is incorrect as it implies that a RDN can be a part of a multi-valued RDN.

You are right; I should have written more correctly/precisely: 
"In particular, the order of Relative Distinguished Names (RDNs) is relevant. On the other hand, if an RDN is multi-valued, i.e., it contains a set of AttributeValueAssertions (AVAs), its members are effectively not ordered."

> It also mentions multi-valued AVAs, and I don't know what that means.

I had taken the term "AVA" from https://tools.ietf.org/html/rfc4517#section-4.2.15
and https://www.rfc-editor.org/rfc/rfc4511#section-4.1.6
where it means "Attribute Value Assertion"
while below you seem to state that also "attribute types and values" are abbreviated to "AVAs". 
Nevertheless it looks like we mean the same thing here.

> The ASN.1 for a distinguished name in RFC 5280 is:
> 
> ```
> RDNSequence ::= SEQUENCE OF RelativeDistinguishedName
> 
> DistinguishedName ::=   RDNSequence
> 
> RelativeDistinguishedName ::= SET SIZE (1..MAX) OF AttributeTypeAndValue
> ```
> In order to help discuss the issue, here is an example of a DN than contains a multi-valued RDN:
> 
> ```
> SEQUENCE {
>   SET {
>     SEQUENCE {
>       OBJECT IDENTIFIER countryName (2 5 4 6)
>       PrintableString 'US'
>       }
>     }
>   SET {
>     SEQUENCE {
>       OBJECT IDENTIFIER organizationName (2 5 4 10)
>       PrintableString 'Test'
>       }
>     SEQUENCE {
>       OBJECT IDENTIFIER serialNumber (2 5 4 5)
>       IA5String '1234'
>       }
>     }
>   }
> ```
Yes, this type definition as well as the example make things very clear.

> OpenSSL would print this as `/C=US/O=Test/serialNumber=1234` (which is ambiguous),

I also noticed this issue and provided a fix in #12769.

> but the RFC 2253/RFC 4514 string representation would be `serialNumber=1234+O=Test,C=US`.
> 
> This distinguished name consists of two RDNS:
> 
>     1. C=US
> 
>     2. serialNumber=1234+O=Test
> 
> The first RDN contains a single attribute type and value (C=US) whereas the second RDN contains two attribute types and values (serialNumber=1234 and O=Test). This second RDN is a multi-valued RDN and since an RDN is a SET of attribute types and values, the same RDN could have been encoded with `serialNumber=1234` first and `O=Test` second. However, if you created a DN that is exactly the same as the one above, but with the `C=US` coming at the end, then this would be a different DN as the order of the RDNs matters.

Yes.

> The text you wrote in #12769 implies that `serialNumber=1234` and `O=Test` are RDNs, but they are not. They are attribute types and values (or AVAs) and the two of them together are part of a single RDN.

I've improved the wording in those texts to:
```
If the B<-multivalue-rdn> option is used then multi-valued RDNs can be formed
by placing a C<+> character instead of a C</>
between the AttributeValueAssertions (AVAs) that specify the members of the set.
```
and
```
This will then become part of a multi-valued RDN (containing a set of AVAs).
```
and
```
In particular, the order of Relative Distinguished Names (RDNs) is relevant.
On the other hand, if an RDN is multi-valued, i.e., it contains a set of 
AttributeValueAssertions (AVAs), its members are effectively not ordered.
```

(cont'd)
 
> In your comment above about RFC 5280 you say:
> 
> > Yet the phrase "matching RDNs" can be (mis-?)interpreted as a restriction of the statement to those RDNs with same name, which would imply that the order of RDNs with different names can be different in both DNs while the order of RDNs that happen to have the same type, such as /OU=Unit/OU=Department/OU=Team, matters.
> 
> I don't understand where this interpretation comes from. Did you understand "matching RDNs" to means RDNs with the same name? By "RDNs with the same name" do you mean "RDNs that happen to have the same type," (which I interpret to mean attribute type and value pairs with the same attribute type)?

Yes, unfortunately this misinterpretation is possible reading that sentence,

> When RFC 5280 says "matching RDNs," it definitely doesn't mean RDNs with the same attribute type (e.g., `OU=Unit` and `OU=Department`). It means:
> 
> > Two relative distinguished names RDN1 and RDN2 match if they have the same number of naming attributes and for each naming attribute in RDN1 there is a matching naming attribute in RDN2.
> 
> So, for example, `serialNumber=1234+O=Test` and `O=Test+serialNumber=1234` are matching RDNs.

Yes.

The misunderstand could  have been avoided by writing, e.g.,

"Two distinguished names DN1 and DN2 match if they have the same number of RDNs, 
 and for each position in the list the RDN in DN1 matches the corresponding RDN in DN2."

@dcooper16, I'd say the likelihood that the sentence in RFC 5280:

> Two distinguished names DN1 and DN2 match if they
>  have the same number of RDNs, for each RDN in DN1 there is a matching
>  RDN in DN2, and the matching RDNs appear in the same order in both DNs.  

can be misunderstood (as some RDNs having no order) is rather high because it is immediately preceded by:

> Two relative distinguished names
>   RDN1 and RDN2 match if they have the same number of naming attributes
>   and for each naming attribute in RDN1 there is a matching naming attribute in RDN2.

which actually defines set semantics (without ordering of elements within RDNs).