HTTP: support persistent connections ("keep-alive")

When an HTTP(S) client performs a session with a server that needs more than one round trip, 
as is typical for instance when requesting a certificate and confirming its reception and acceptance,
it makes much sense not to close in between the underlying TCP connection or even TLS connection.

Quoting from the current HTTP RFC 7230, section 6.3, https://tools.ietf.org/html/rfc7230#section-6.3:
> HTTP/1.1 defaults to the use of "persistent connections", 
> allowing multiple requests and responses to be carried over a single connection.
> The "close" connection option is used to signal that a connection will not persist after the current request/response.
> HTTP implementations SHOULD support persistent connections.
...
> If the received protocol is HTTP/1.0, the "keep-alive" connection option is present, the recipient is not a proxy, 
> and the recipient wishes to honor the HTTP/1.0 "keep-alive" mechanism, the connection will persist after the current response;

So far the basic HTTP client integrated in OpenSSL does not support this
(and neither the very primitive HTTP test server in `apps/lib/http_server.c`)
although it would be good to have in particular for the CMP implementation.

As a prerequisite to implementing this, it will be necessary to adjust the HTTP API
documented in  `OSSL_HTTP_REQ_CTX.pod` and `OSSL_HTTP_transfer.pod`
such that the `OSSL_HTTP_REQ_CTX` can be reused for further requests.

After doing so, it would be pretty straightforward to extend the state machine
with a flag indicating whether client and server side agree on keeping the connection.

If this proposal finds support, I can likely do the implementation.

Since 3.0 will export the new high-level HTTP API in `OSSL_HTTP_transfer.pod`for the first time,
it would be beneficial to do the necessary API adjustments _before_ 3.0 feature freeze,
such that it can be released with 3.0 and does not need to be revised soon thereafter to support the feature.

The "persistent connections" feature itself would then just need one or two extra functions,
namely to request (or reject) the persistence of connections and to check the current status.

I think we could do also the feature itself before 3.0 closing, since it is not difficult 
and does not affect the pre-existing HTTP uses of OpenSSL 1.1.1, which only take one round-trip.
What do others think?

Y'all know what I am going to say :)

I am not a member of the project.  But Akamai is a sponsor of the FIPS 3.0 work, we would like to see everyone on the project focused on just doing what the OMC already agreed was necessary to get the release done.



What do others think about
* having just the API preparation before 3.0
* when would be a good time to implement the feature?

This seems like a reasonable suggestion.

@DDvO, if you are implementing it, I don't see this impacting the 3.0 timeline.


@paulidale, that depends on who reviews it... 

And how much reviewing it requires.


I'm going to tackle this soon.

> Just please keep in mind that OpenSSL runs inside servers that have hundreds or thousands of connections, or are otherwise resource-aware.

I'd say everything should be resource-aware :)

The keep-alive feature is implemented in OpenSSL in #15053 essentially just for the HTTP client side, which has full control on whether persistent connections are effectively used.
The HTTP server side is present in OpenSSL only in the form of test/mock server code, and as such not meant (nor described) for productive use.

Closing since the implementation in #15053 is merged :tada: 