X509_digest_sig reports unsupported algorithm with RSA-PSS

I have troubles with this code:
https://github.com/openssl/openssl/blob/1ee04b791b396385cce2a0c46c112158b2005293/crypto/x509/x_all.c#L426-L430

First of all, this function should fail with `ERR_LIB_X509` and not `ERR_LIB_CMP`, because that returns `CMP_R_MISSING_SENDER_IDENTIFICATION` instead `X509_R_UNSUPPORTED_ALGORITHM` (both have a value 111).

Anyway, the `X509_get_signature_nid(cert)` in my case (correctly?) returns `NID_rsassaPss`, so `OBJ_find_sigid_algs()` returns `NID_undef` (because that's what is defined in `obj_xref.h`), the `EVP_get_digestbynid()` returns `NULL` and the function fails.

Shouldn't the RSA-PSS hash be digged out of the parameter value?

Yep, RSA PSS would need to be special-cased here. Ping @DDvO who added this function.

> This will presumably also have problems with Ed25519/Ed448. They don't use a digest alg to create the signature.

Well, for those the failure would be IMO legit as the hash is part of the signature algorithm and so the used digest is not meaningful by itself. 

Or, alternatively, we could for Eddsa algos just fallback to SHA256 or SHA512.

> Or, alternatively, we could for Eddsa algos just fallback to SHA256 or SHA512.

Either way we should decide what sensible behaviour is and document it.

> Yep, RSA PSS would need to be special-cased here. Ping @DDvO who added this function.

Actually, I'm not an expert on RSA-PSS and was just lucky to find a quick solution at that time.
So I fear the only thing that I could contribute here is the obvious fix of mistake on the library reference in the error reporting.

You don't need to be an RSA-PSS expert.  This is applicable in *all* cases where the AlgorithmIdentifier contains params to be passed to the operational (such as signature) algorithm.  This is solved in legacy code in a manner that doesn't port to providers, period...  *and* it's solved for EVP_CIPHER specifically, through the EVP_CIPHER_param_to_asn1() and EVP_CIPHER_asn1_to_param() calls.

Currently, this means that code that need to rely on this sort of parameter being passed need to rely on legacy methods, or we need to put in specific calls for RSA-PSS.  The latter is fairly easy, and while it's a temporary solution, I think that at this stage, that's the way to go.  Look at #15527 to see how to do that.

> Or, alternatively, we could for Eddsa algos just fallback to SHA256 or SHA512.

Unfortunately, [RFC 4210](https://datatracker.ietf.org/doc/html/rfc4210) says nothing about those, so while that sounds like a good assumption for those signature algos, I get deeply worried about having to hold this sort of knowledge inside libcrypto proper...  it would work for now, though.

I think we could fail for those as well as this is new API.

... meaning that CMP won't work at all with certificates signed with ed25519 or ed 448.

``` console
$ ls -1 test/certs/*{25519,448}*
test/certs/client-ed25519-cert.pem
test/certs/client-ed25519-key.pem
test/certs/client-ed448-cert.pem
test/certs/client-ed448-key.pem
test/certs/ee-ed25519.pem
test/certs/root-ed25519.pem
test/certs/root-ed25519.privkey.pem
test/certs/root-ed25519.pubkey.pem
test/certs/root-ed448-cert.pem
test/certs/root-ed448-key.pem
test/certs/server-ed25519-cert.pem
test/certs/server-ed25519-key.pem
test/certs/server-ed448-cert.pem
test/certs/server-ed448-key.pem
```

... oops...

Of those I mentioned, at least one is actually signed with ED25519:

``` console
$ openssl x509 -text -noout -in test/certs/ee-ed25519.pem 
Certificate:
    Data:
        Version: 3 (0x2)
        Serial Number: 6197312946105598768 (0x5601474a2a8dc330)
        Signature Algorithm: ED25519
        Issuer: CN = IETF Test Demo
        Validity
            Not Before: Aug  1 12:19:24 2016 GMT
            Not After : Dec 31 23:59:59 2040 GMT
        Subject: CN = IETF Test Demo
        Subject Public Key Info:
            Public Key Algorithm: X25519
                X25519 Public-Key:
                pub:
                    85:20:f0:09:89:30:a7:54:74:8b:7d:dc:b4:3e:f7:
                    5a:0d:bf:3a:0d:26:38:1a:f4:eb:a4:a9:8e:aa:9b:
                    4e:6a
        X509v3 extensions:
            X509v3 Basic Constraints: critical
                CA:FALSE
            X509v3 Key Usage: 
                Key Agreement
            X509v3 Subject Key Identifier: 
                9B:1F:5E:ED:ED:04:33:85:E4:F7:BC:62:3C:59:75:B9:0B:C8:BB:3B
    Signature Algorithm: ED25519
         af:23:01:fe:dd:c9:e6:ff:c1:cc:a7:3d:74:d6:48:a4:39:80:
         82:cd:db:69:b1:4e:4d:06:ec:f8:1a:25:ce:50:d4:c2:c3:eb:
         74:6c:4e:dd:83:46:85:6e:c8:6f:3d:ce:1a:18:65:c5:7a:c2:
         7b:50:a0:c3:50:07:f5:e7:d9:07
```

@DDvO could perhaps say what is the high level intention of this API call. If it is just "Gimme some digest but preferably the one that is used for the signature" then we should just have some sane default instead of failing. If it is "I really really want the digest algorithm that is used for the signature" then failing for EDDSA algos would be more appropriate.

Which means this has no meaning for EDDSA. As there was not EDDSA standard at the time of RFC 4210. IMO for now it would be better to just fail the function rather than "inventing some OpenSSL-special amendments to the RFC".


Ah, I wasn't aware of the timing.  Ok, that sounds reasonable.

Sorry for responding slow this week - I am on vacation.
Good that this issue has come up now, since @HBrock, further colleagues, and me are updating RFC 4210
and in particular are editing a new RFC on CMP algorithms:
https://datatracker.ietf.org/doc/html/draft-ietf-lamps-cmp-algorithms
My proposal would be to define SHA256 as the default certHash algorithm in case a cert signature alg does not imply any.

> This is applicable in all cases where the AlgorithmIdentifier contains params to be passed to the operational (such as signature) algorithm.

But the structure of the AlgorithmIdentifier parameters is inherently specific to the algorithm.  So I think we will need to add specific code for each such algorithm (starting with PSS), regardless of where we actually end up adding that code.

> Sorry for responding slow - I am on vacation this week.
> Good that this issue has come up now, since @HBrock, further colleagues, and me are updating RFC 4210

David an I investigated a bit further. As we introduced EdDSA in CMP Algorithms, we need a solution for certHash. 

I see three possible solutions:
(1) Specify usage of SHA-1 for calculating certHash, similar to the definition of the keyIdentifier in RFC 5280 Section 4.2.1.2.
  This is the cheapest solution, but we explicitly removed SHA-1 from CMP Algorithms, see mail thread "Re: CMP Algorithms I-D".
(2) Specify a hash algorithm on a per signature algorithm basis.
   This is also quite simple to implement, but costly to maintain for upcoming algorithms.
(3) Extend the ASN.1 syntax of CertStatus to allow to specify an optional hashAlg OID for those cases where the hash algorithm cannot be determined automatically.
   This is probably the cleanest solution, but involves a change to the ASN.1 syntax.

I also posted the issue to LAMPS, https://mailarchive.ietf.org/arch/msg/spasm/fEOurqdX8iH6QAxxfX4okNJTczA/.
As we are currently updating CMP, this is a good opportunity to solve this issue. 

Meanwhile we got there the following interesting feedback regarding EdDSA:

> I prefer to use SHA-512 for Ed25519 and SHAKE256(x, 64) for Ed448, as in RFC8419:
>
> 2.3.  Message Digest Algorithm Identifiers
> 
>   When the signer includes signed attributes, a message digest
   algorithm is used to compute the message digest on the eContent
   value.  When signing with Ed25519, the message digest algorithm MUST
   be SHA-512 [FIPS180].  Additional information on SHA-512 is available
   in [RFC6234].  When signing with Ed448, the message digest algorithm
   MUST be SHAKE256 [FIPS202] with a 512-bit output value.

> When the signer includes signed attributes, a message digest
> algorithm is used to compute the message digest on the eContent
> value. When signing with Ed25519, the message digest algorithm MUST
> be SHA-512 [FIPS180]. Additional information on SHA-512 is available
> in [RFC6234]. When signing with Ed448, the message digest algorithm
> MUST be SHAKE256 [FIPS202] with a 512-bit output value.

This would have to be hardcoded in X509_digest_sig. Will you do a PR? In that case I'd probably also drop the "default to SHA256" as the default was added primarily for the EdDSA.

Well, the quite I gave above is from the CMS context (RFC 8419), and it's still under discussion how to handle the situation for CMP.
It shows at least that the topic is not as straightforward as one would hope. 
Looks like for a general-purpose function more flexibility is needed. Hmm.


Then I have a different proposal. Make X509_digest_sig back to internal function. I do not think we want to be stuck with some half-defined or badly defined semantics forever.

Sounds reasonable, but the function is also used by `apps/lib/cmp_mock_srv.c`.
I suggest waiting for a couple of days until the discussion regarding the use in CMP hopefully has come to a conclusion
and then decide.

> Meanwhile we got there the following interesting feedback regarding EdDSA:
> 
> > I prefer to use SHA-512 for Ed25519 and SHAKE256(x, 64) for Ed448, as in RFC8419:
> > 2.3.  Message Digest Algorithm Identifiers
> > When the signer includes signed attributes, a message digest
> > algorithm is used to compute the message digest on the eContent
> > value.  When signing with Ed25519, the message digest algorithm MUST
> > be SHA-512 [FIPS180].  Additional information on SHA-512 is available
> > in [RFC6234].  When signing with Ed448, the message digest algorithm
> > MUST be SHAKE256 [FIPS202] with a 512-bit output value.

SHA-512 is a natural fit for Ed25519 since SHA-512 is already used as the `H(x)` function in EdDSA; likewise SHAKE256 for Ed448.  This is specified in RFC 8032, and is (IIUC) the motivation for the CMS recommendations in RFC 8419.

> SHA-512 is a natural fit for Ed25519 since SHA-512 is already used as the `H(x)` function in EdDSA; likewise SHAKE256 for Ed448. This is specified in RFC 8032, and is (IIUC) the motivation for the CMS recommendations in RFC 8419.

Thanks @kaduk for this interesting input.
This way I found in https://datatracker.ietf.org/doc/html/rfc8032#section-5.1 that 
if Ed25519 is used with a (pseudo-)hash function, it MUST be SHA512:
>    For Ed25519ph, phflag=1 and PH is SHA512 instead.  That is, the input
   is hashed using SHA-512 before signing with Ed25519.

and in https://datatracker.ietf.org/doc/html/rfc8032#section-5.2
>   Ed448ph is the same but with PH being SHAKE256(x, 64) and phflag
   being 1, i.e., the input is hashed before signing with Ed448 with a
   hash constant modified.

Thus it seems that for Ed25519*, SHA512 is the only related hash alg, which is used for the `pr` variant only,
while for Ed448* the only related hash alg is SHAKE256, which is used for the `pr` variant only - 
right?