Verify failure of certificates signed with algorithm sha256withrsaencryption when the digest-to-be-signed includes a digestInfo with absent AlgorithmIdentifier.parameters

Hi all,
latest versions of OpenSSL, starting from OpenSSL 1.1.0c, don't verify successfully certificates signed with algorithm sha256withrsaencryption when the digest-to-be-signed includes a digestInfo with absent AlgorithmIdentifier.parameters while the verification is successful when AlgorithmIdentifier.parameters=NULL. According to what stated in RFC 5754 "Using SHA2 Algorithms with Cryptographic Message Syntax" implementations need to accept SHA2 AlgorithmIdentifiers with absent parameters. I am attaching two certificates, and the corresponding CA certificate, that are respectively not verified and verified by using OpenSSL 1.1.1g. Both certificates are verified successfully by using OpenSSL 1.1.0b and previous versions. Could you explain what is the problem with the certificate that is no longer verified from OpenSSL 1.1.0c onwards, please? Thank you.
I am using binary versions of openssl downloaded by accessing the url https://wiki.openssl.org/index.php/Binaries
Below an example of the verify command and of its output by using the certificates stored in the uploaded zip file

```
openssl.exe verify -verbose -CAfile testCA.cer ko.cer

C = IT, O = Valvolari S.r.l., OU = Servizi di certificazione
error 7 at 0 depth lookup: certificate signature failure
error ko.cer: verification failed
7080:error:04091068:rsa routines:int_rsa_verify:bad signature::0:
7080:error:0D0C5006:asn1 encoding routines:ASN1_item_verify:EVP lib::0:
```
[certificates-bugs.zip](https://github.com/openssl/openssl/files/4723761/certificates-bugs.zip)

Best regards
Luigi

Please see the commit message b71079a375116a8a52ed493afcd8f69cb08c195a

This gets incorrectly cited here a lot. RFC 5754 is not relevant here. That document talks about SHA-2 AlgorithmIdentifiers when encoded in CMS. Per the first sentence of section 2:

>   Digest algorithm identifiers are located in the SignedData
>   digestAlgorithms field, the SignerInfo digestAlgorithm field, the
>   DigestedData digestAlgorithm field, and the AuthenticatedData
>   digestAlgorithm field.  The object identifiers are taken from
>   [RFC4055].

None of those fields are involved here. This is about the AlgorithmIdentifier in the DigestInfo structure as part of the internal encoding of RSASSA-PKCS1-v1_5. That is specified in RFC 8017, which is quite clear about how you process it. Step 3 in the link below says you encode the expected value and then check that the RSA public key operation produced that same value.
https://tools.ietf.org/html/rfc8017#section-8.2.2

There is no allowance in that algorithm for multiple encodings to be accepted because you don't parse it in the first place. And in this context, the hashes indeed have a NULL.
https://tools.ietf.org/html/rfc8017#appendix-A.2.4

The standard is also correct here in terms of security. RSASSA-PKCS1-v1_5's encoding scheme is [quite fragile](https://www.imperialviolet.org/2014/09/26/pkcs1.html). The safer and standards-compliant behavior is thus the stricter one. I do wish AlgorithmIdentifier hadn't been such an inconsistent mess across uses, but it is what it is.

Argh.  I do mix up the CMS RFCs with the others more than I care to admit.

Never mind my blabbering then...

You're not alone. Me too. This whole thing is such an unnecessary mess. :-(

Thanks for the quick response and the clear explanation.