CMS_verify ignores digest algorithm specified in CMS_SignerInfo->signatureAlgorithm

I've encountered an issue with a `SignedData` structure that seems valid, but doesn't validate with OpenSSL. 

A `CMS_SignerInfo` structure has both a `digestAlgorithm` and a `signatureAlgorithm` field.

The value of `digestAlgorithm` is used when calculating the digest over the content and compared with the `messageDigest` signed attribute (in `CMS_SignerInfo_verify_content`). 

Currently the same `messageDigest` value is also used when verifying the signature itself in `CMS_SignerInfo_verify()`, even when `signatureAlgorithm` contains an OID that specifies a signature algorithm with a message digest (e.g. `sha256WithRSAEncryption`) effectively ignoring the digest algorithm specified in `signatureAlgorithm`. 

Most of the time this is not a problem as usually both `digestAlgorithm` and `signatureAlgorithm` refer to the same digest.  However, when they aren't the same the verification will fail. This is encountered in the wild when verifying the security object in some e-passports. For example, I have a document where `digestAlgorithm` is SHA-512 but `signatureAlgorithm` specifies `sha256WithRSAEncryption`.  The signature validation on this document fails if SHA-512 is used and succeeds when SHA-256 is used. (The `messageDigest` signed attribute on this document *does* use SHA-512)

After making a modification to `CMS_SignerInfo_verify` to use the MD from `signatureAlgorithm` when available and fall back to `digestAlgorithm` when not, all the documents in my test suite validate correctly. (I can provide this change as a patch if needed)

I've looked at [RFC 5652, section 5.4](https://tools.ietf.org/html/rfc5652#section-5.4), but it doesn't specify what to do when `signatureAlgorithm` refers to a specific digest algorithm. 

What is the expected behaviour in this situation ?

Hello @Aaargh20318,

I would argue that the SignedData structure that you are describing is not valid, and so rejecting the signature is not inappropriate. Perhaps it will deemed necessary to develop a workaround, such as the modification that you proposed, in order to interoperate with this buggy code. But, that doesn't change the fact that the messages being created by these e-passports are invalid.

According to [RFC 5652, Section 5.3](https://tools.ietf.org/html/rfc5652#section-5.3): 

> digestAlgorithm identifies the message digest algorithm, and any associated parameters, used by the signer.  The message digest is computed on either the content being signed or the content together with the signed attributes using the process described in [Section 5.4](https://tools.ietf.org/html/rfc5652#section-5.4).

So, if digestAlgorithm specifies SHA-512, but the digest was actually created using SHA-256, then the information being provided in digestAlgorithm is invalid.

Also note that you seem to be confusing digestAlgorithm and messageDigest. When signed attributes are present, messageDigest specifies the digest algorithm used to digest the message content ([RFC 5662, Section 11.2](https://tools.ietf.org/html/rfc5652#section-11.2)), whereas digestAlgorithm specifies the digest algorithm used to digest the signed attributes (and thus in the creation of the digital signature). It is actually digestAlgorithm that is used in `CMS_SignerInfo_verify()`, not messageDigest.

Perhaps the creators of these e-passports mistakenly set digestAlgorithm to match messageDigest rather than the digest used in the creation of the digital signature.

Hi @dcooper16, 

Thanks for your response.

> Also note that you seem to be confusing digestAlgorithm and messageDigest. When signed attributes are present, messageDigest specifies the digest algorithm used to digest the message content (RFC 5662, Section 11.2)

I was a bit confused by this. As far as I can tell there is no `messageDigest` field in `SignerInfo`, there is a `messageDigest` SignedAttribute, which is what section 11.2 refers to, but that contains the *digest*, not the digest algorithm (i.e. the result of applying `digestAlgorithm` to the contents of `eContent` in `encapsulatedContentInfo`). 

In this case, the digest in `messageDigest` was correctly computed using the SHA-512 algorithm specified in `digestAlgorithm` as expected.

To my understanding a signature algorithm as specified in the `signatureAlgorithm` field can identify a digest algorithm as part of the signature algorithm, [RFC 5652, Section 10.1.2](https://tools.ietf.org/html/rfc5652#section-10.1.2) confirms this. Specifically this part:

> The SignatureAlgorithmIdentifier type identifies a signature
   algorithm, and it can also identify a message digest algorithm.
   (...) The signature generation operation uses the
   message digest and the signer's private key to generate a signature
   value. 

So if this specifies `sha256WithRSAEncryption`, then the signing operation should be to first apply SHA256 over the input to the signing process, followed by RSA. 

So if I were to interpret this strictly, I would think that the signing process would be as follows:

Section 5.5 states: 

> The input to the signature generation process includes the result of
   the message digest calculation process and the signer's private key. (...)

So to get the input to the signature generation process we apply the steps to the message digest calculation as per section 5.4: `SHA512(eContent)` and then create the 2 signed attributes containing this digest and the content type. Then apply `SHA512(DER encoded signed attributes)`. 

Section 5.3 states:

> signatureAlgorithm identifies the signature algorithm, and any
      associated parameters, used by the signer to generate the digital
      signature.

Section 5.5 also states: 

> (...) The details of the signature generation depend on the signature
   algorithm employed. 

In this case the signature algorithm is `sha256WithRSAEncryption`, so apply SHA256 (over the output of the process in section 5.4) and then sign using the RSA private key. 

Clearly, this is not what is happening, at least not on any of the documents I have, even on documents where digestAlgorithm uses the same algorithm as the signatureAlgorithm, there is one digest pass missing that should be there if we strictly follow the spec. 

Either the second pass of applying `digestAlgorithm` over the signedAttributes is omitted (violating the procedure in section 5.4), or the signature algorithm specified in`signatureAlgorithm` is not correctly applied. As the signature algorithm is `sha256WithRSAEncryption` not just `RSAEncryption` this additional digest step should be part of the signature generation process. OpenSSL, however, never even looks at the value of `signatureAlgorithm` and only relies on the type of the public key. 

It seems to me that everyone here is out-of-spec and either omits the second digest pass as per section 5.4 , or the digest pass that is part of the signature algorithm. If the digest algorithm in `digestAlgorithm` matches the one used in `signatureAlgorithm` it doesn't matter which one you omit because the end result is the same. When they are different, then it becomes an issue. 

OpenSSL skips the digest step that is part of the signature algorithm, the document I have is skipping the second pass of `digestAlgorithm` over the signed attributes. As far as I can tell both are wrong, just in a different way. 

Reading RFC 5652 it's not entirely clear to me what the intended behaviour is, but the above is how I interpret it as it was written (but clearly not implemented). 

Hi @Aaargh20318 ,

> I was a bit confused by this. As far as I can tell there is no messageDigest field in SignerInfo, there is a messageDigest SignedAttribute, which is what section 11.2 refers to, but that contains the digest, not the digest algorithm (i.e. the result of applying digestAlgorithm to the contents of eContent in encapsulatedContentInfo).

Yes, messageDigest is a signed attribute that contains a message digest value. I was mistaken and thought that is also specified a digest algorithm.

So, according to Section 5.4, one first uses digestAlgorithm to compute a digest on the message content (the encapContentInfo eContent OCTET STRING). The result is used as the contents on the messageDigest attribute, and the digestAlgorithm is used again to compute a digest of the signed attributes.

The question then seems to be what happens next in the case you presented in which digestAlgorithm is SHA-512 and signatureAlgorithm is sha256WithRSAEncryption. As I read the text, it cannot be that one then computes a SHA-256 hash of the signed attributes field, which is what I believe you are saying would be required to verify the signatures on these e-passports.

Section 5.5 says:

> The input to the signature generation process includes the result of the message digest calculation process and the signer's private key.

So, if the signature generation process is only provided `SHA512(DER encoded signed attributes)` is cannot compute `SHA256(DER encoded signed attributes)`. It could compute `SHA256(SHA512(DER encoded signed attributes))`, but I don't believe you are suggesting this is what should be signed.

Another piece of the puzzle would be [RFC 5754](https://tools.ietf.org/html/rfc5754#section-3.2) and RFC [3370](https://tools.ietf.org/html/rfc3370#section-3.2). RFC 3370 says:

> The rsaEncryption algorithm identifier is used to identify RSA (PKCS`#1`v1.5) signature values regardless of the message digest algorithm employed.  CMS implementations that include the RSA (PKCS`#1`v1.5) signature algorithm MUST support the rsaEncryption signature value algorithm identifier, and CMS implementations MAY support RSA (PKCS`#1`v1.5) signature value algorithm identifiers that specify both the RSA (PKCS`#1`v1.5) signature algorithm and the message digest algorithm.

I think that if one were supposed to follow a very different signing process if using the sha256WithRSAEncryption algorithm identifier instead of the rsaEncryption algorithm identifier, there would have been some mention of that here (or in RFC 5652).

I noticed that there was an [errata](https://www.rfc-editor.org/errata/eid3867) submitted for RFC 5652, which accepted to change the text in Section 5.3 to say:

> digestAlgorithm identifies the message digest algorithm, and any associated parameters, used by the signer in the signature Generation Process.

What particularly confuses me about this [errata](https://www.rfc-editor.org/errata/eid3867) is that part of the proposed change was rejected. The rationale for the rejection was:
> Additional text provided was not accepted as there is no requirement that digest used on the body is the same as the digest used in the signature operation.

I don't understand how one digest can be used on the body and a different one be used in the signature operation. I don't think they are suggesting one should compute `RSA(SHA256(SHA512(DER encoded signed attributes)))`. But if not, then where is the second digest used? Section 5.5 is clear that the input to the signature generation process is the message digest, i.e., `SHA512(DER encoded signed attributes)`, DER encoded signed attributes themselves.

This question seems stale with no recent activity. Marked as "unresolved" and scheduling for later closure.

As already correctly stated by @dcooper16, [RFC 5652, Section 5.3](https://tools.ietf.org/html/rfc5652#section-5.3), the digestAlgorithm field is the relevant one identifying the message digest algorithm used to for the content being signed (and optionally the for signed attributes).

It makes no sense to assume that more than one digest algorithm is used.

[RFC 5652, Section 10.1.2](https://tools.ietf.org/html/rfc5652#section-10.1.2) indicates that the SignatureAlgorithm field identifies the (asymmetric) signature algorithm and optionally also identifies the message digest algorithm.

This implies that if the SignatureAlgorithm field include a message digest algorithm this needs to be consistent with the value of the digestAlgorithm field.

The SignedData structure mentioned by @Aaargh20318 above is invalid in my view because it contains inconsistent indications for the message digest algorithm. In such a case, the SignedData could be rejected (although this is not required by the RFC), or the value in the digestAlgorithm field should take precedence, which is the solution implemented by OpenSSL.

Yesterday I had a related discussion with colleagues: 
whether CMS using RSASSA-PKCS-v1_5 should include in the signatureAlgorithm field the digest algorithm or not - for instance for SHA-256 whether it should give `sha256WithRSAEncryption` (OID = 1.2.840.113549.1.1.11) or just `rsaEncryption` (OID = 1.2.840.113549.1.1.1).

I understand PKCS#1 v1.5 in a way that the OID with the digest algorithm is required be used (see [https://tools.ietf.org/html/rfc2313#section-11](https://tools.ietf.org/html/rfc2313#section-11) and [https://tools.ietf.org/html/rfc8017#appendix-A.2.4](https://tools.ietf.org/html/rfc8017#appendix-A.2.4))
while for CMS the more relevant RFC 3370 states in section 3:

>Signature algorithm identifiers are located in the SignerInfo signatureAlgorithm field of SignedData.

and in [section 3.2](https://tools.ietf.org/html/rfc3370#section-3.2):

> The rsaEncryption algorithm identifier is used to identify RSA (PKCS #1 v1.5) signature values regardless of the message digest algorithm employed.
> CMS implementations that include the RSA (PKCS #1 v1.5) signature algorithm MUST support the rsaEncryption signature value algorithm identifier,
> and CMS implementations MAY support RSA (PKCS #1 v1.5) signature value algorithm identifiers that specify both the RSA (PKCS #1 v1.5) signature algorithm and the message digest algorithm.

So the signatureAlgorithm may include the message digest algorithm information or not.

The OpenSSL implementation fulfills this as follows. In `crypto/rsa/rsa_ameth.c`, 
```
static int rsa_cms_sign(CMS_SignerInfo *si)
```
hard-codes `NID_rsaEncryption` for `RSA_PKCS1_PADDING` while
```
static int rsa_cms_verify(CMS_SignerInfo *si)
```
accepts both variants (i.e., with and without the digest algorithm included in the signatureAlgorithm).

I'm going to clarify this at least in the documentation of the `cms` app.


> As already correctly stated by @dcooper16, RFC 5652, Section 5.3, the digestAlgorithm field is the relevant one identifying the message digest algorithm used to for the signed content (and optionally the for signed attributes).

At this point I do not know what is going on. As I read Sections 5.3 and 5.4 of RFC 5652, if signed attributes are present, then digestAlgorithm identifies the digest used to hash the signed attributes. Section 11.2 seems to suggest that the same digest is used to compute the contents of the message-digest attribute, and that seems to make sense given that there is nowhere else to specify a different digest algorithm for this.

However, the LAMPS working group just adopted [draft-ietf-lamps-cms-update-alg-id-protect](https://tools.ietf.org/html/draft-ietf-lamps-cms-update-alg-id-protect), which proposes to update RFC 5652 by requiring that the same digest algorithm be used compute message-digest and to hash the signed attributes.

I don't understand how RFC 5652 could be read as allowing different digest algorithms, but the LAMPS WG and the author of RFC 5652 seem to believe otherwise.

The introduction (section 1) of the draft update contains this passage: 

> This document (...) mandates a convention followed by many implementations by requiring the originator to use the same hash algorithm to compute the digest of the message content and the digest of signed attributes. 

and in section 3.4:

>  (...) However, most, if not all, implementations already require the originator to use the same digest algorithm for both operations.

Which would suggest that currently RFC 5652 allows different algorithms, but support for this is uncommon in practice.

The relevant part of https://tools.ietf.org/html/rfc5652#section-5.3:
 
>    digestAlgorithm identifies the message digest algorithm, and any
      associated parameters, used by the signer.  The message digest is
      computed on either the content being signed or the content
      together with the signed attributes using the process described in
      Section 5.4.  The message digest algorithm SHOULD be among those
      listed in the digestAlgorithms field of the associated SignerData.
      Implementations MAY fail to validate signatures that use a digest
      algorithm that is not included in the SignedData digestAlgorithms
      set.

writes *The message digest algorithm* in singular, which excludes the interpretation that
multiple such algorithms are involved in the process described in section 5.4.

Moreover, the relevant parts of https://tools.ietf.org/html/rfc5652#section-5.4:

> The message digest calculation process computes a message digest on
   either the content being signed or the content together with the
   signed attributes.  In either case, the initial input to the message
   digest calculation process is the "value" of the encapsulated content
   being signed.  [...]

>   The result of the message digest calculation process depends on
   whether the signedAttrs field is present.  When the field is absent,
   the result is just the message digest of the content as described
   above.  When the field is present, however, the result is the message
   digest of the complete DER encoding of the SignedAttrs value
   contained in the signedAttrs field.  Since the SignedAttrs value,
   when present, must contain the content-type and the message-digest
   attributes, those values are indirectly included in the result.  The
   content-type attribute MUST NOT be included in a countersignature
   unsigned attribute as defined in Section 11.4.  A separate encoding
   of the signedAttrs field is performed for message digest calculation.
   [...]

says nothing about a different algorithm that may be used in case of the two-stage digest calculation done when the signedAttrs field is present.

So I fully agree with @dcooper16 saying:
> I don't understand how RFC 5652 could be read as allowing different digest algorithms, 

In my view one should not take apparent misinterpretations of RFC 5652, even if they have been considered as motivation for clarifying that only one digest algorithm is to be used, as an indication that the RFC authors may have intented to allow here for more than one digest algorithm.
If so, they should obviously have stated where to place the identifier of the second algorithm, but they did not do that.
Further, apparently no known implementation uses different algorithms for the two-staged digest case.

Therefore I conclude, as before, that it would be wrong to use two different digest algorithms in the process described in RFC 5652 section 5.4.

I'd say this issue can be closed since it has been discussed and clarified sufficiently (at least in my view) and there has been no further activity for more than a month.

Since nobody spoke up on this for quite some while
it looks like this issue has been sufficiently discussed/answered.