Parsing PEM Too Restrictive For RFC7468

I'm having some issues with some PEM files being parsed by openssl. After digging in the code, it turns out that the code seems to require that the trailer ends with a newline.

```c
static const char tailstr[] = "-----\n";
...
           if (strncmp(p, name, namelen) != 0 ||
                strncmp(p + namelen, tailstr, TAILLEN) != 0) {
                PEMerr(PEM_F_GET_HEADER_AND_DATA, PEM_R_BAD_END_LINE);
                goto err;
            }
```

This seems to be a requirement for RFC 1421. But as I understand it, RFC 7468 is more permissive and allows white space and optional EOL. From section 3:

```
  The ABNF [RFC5234] of the textual encoding is:

  textualmsg = preeb *WSP eol
               *eolWSP
               base64text
               posteb *WSP [eol]

  preeb      = "-----BEGIN " label "-----" ; unlike [RFC1421] (A)BNF,
                                           ; eol is not required (but
  posteb     = "-----END " label "-----"   ; see [RFC1421], Section 4.4)
...
```

Thanks for spotting this; it seems likely to have been introduced by my refactoring in https://github.com/openssl/openssl/pull/1700 .  (My memory is a bit hazy, but I was probably looking more at RFC 1421 than RFC 7468; it's too bad that there isn't an "Updates:" relationship from the latter to the former that would make the changes more discoverable.)  I will try to look into a fix (but will need to be mindful that random non-whitespace after the "posteb" before a line break should probably still get rejected).

Well, the line break itself is also optional so that could complicate things. Also, the line break/EOL is actually any of 3 combinations:
```
 eol        = CRLF / CR / LF
```
That's why I'm not too keen on writing parsers myself!

In any case, this has been in openssl for some time and probably not caused by any refactoring. The code I'm currently using is 1.1 and that's where I ran into the problem. The code is slightly different but still has the same restriction.
```c
    i = strlen(nameB->data);
    if ((strncmp(buf, "-----END ", 9) != 0) ||
        (strncmp(nameB->data, &(buf[9]), i) != 0) ||
        (strncmp(&(buf[9 + i]), "-----\n", 6) != 0)) {
        PEMerr(PEM_F_PEM_READ_BIO, PEM_R_BAD_END_LINE);
        goto err;
    }
```



I'd also add that parsing apple-stype PEM files with CR lineendings returns error

And maybe add the routines that write the PEM encoded files are not conforming to RFC 1421, either. They should be using `CRLF` for end-of-line. Below is from OS X. The end-of-line used is `CR`, not `CRLF`.

```
$ openssl genrsa -out rsa-test.pem 512
Generating RSA private key, 512 bit long modulus (2 primes)
....................................+++++++++++++++++++++++++++
........+++++++++++++++++++++++++++
e is 65537 (0x010001)
$ hexdump -C rsa-test.pem
00000000  2d 2d 2d 2d 2d 42 45 47  49 4e 20 52 53 41 20 50  |-----BEGIN RSA P|
00000010  52 49 56 41 54 45 20 4b  45 59 2d 2d 2d 2d 2d 0a  |RIVATE KEY-----.|
00000020  4d 49 49 42 4f 67 49 42  41 41 4a 42 41 4c 42 75  |MIIBOgIBAAJBALBu|
00000030  74 64 36 67 49 76 39 46  70 67 56 46 6e 30 37 4f  |td6gIv9FpgVFn07O|
00000040  77 43 58 33 31 58 69 72  65 43 47 59 34 59 4c 69  |wCX31XireCGY4YLi|
00000050  64 31 57 69 35 44 45 31  36 34 4a 72 47 37 79 43  |d1Wi5DE164JrG7yC|
00000060  0a 56 59 7a 38 74 63 44  37 36 56 5a 6d 4a 45 4d  |.VYz8tcD76VZmJEM|
00000070  35 6b 63 73 41 56 74 65  51 6b 6c 75 79 77 69 54  |5kcsAVteQkluywiT|
00000080  6f 6d 62 4d 43 41 77 45  41 41 51 4a 41 50 45 61  |ombMCAwEAAQJAPEa|
00000090  32 6a 38 5a 35 37 6d 68  6e 48 65 6e 35 55 54 31  |2j8Z57mhnHen5UT1|
000000a0  46 0a 58 44 4e 64 6c 51  70 50 30 6e 71 65 6f 4d  |F.XDNdlQpP0nqeoM|
000000b0  36 71 49 6e 47 79 4d 44  56 41 45 4f 7a 64 4f 54  |6qInGyMDVAEOzdOT|
000000c0  73 6d 69 54 61 69 54 74  37 5a 2f 68 72 34 4b 42  |smiTaiTt7Z/hr4KB|
000000d0  46 58 42 54 70 78 50 43  63 71 45 4c 47 71 43 77  |FXBTpxPCcqELGqCw|
000000e0  76 37 0a 6b 51 49 68 41  4f 54 6e 4f 46 6c 76 39  |v7.kQIhAOTnOFlv9|
000000f0  31 4a 65 4a 5a 62 7a 30  66 68 65 55 4b 4c 7a 2f  |1JeJZbz0fheUKLz/|
00000100  72 69 73 33 55 4d 52 51  4f 71 69 79 68 38 33 34  |ris3UMRQOqiyh834|
00000110  4c 51 58 41 69 45 41 78  56 46 6c 43 75 62 59 2f  |LQXAiEAxVFlCubY/|
00000120  69 58 69 0a 77 2b 6a 4d  46 58 52 56 6a 62 62 77  |iXi.w+jMFXRVjbbw|
00000130  5a 77 61 6f 6a 48 59 7a  78 77 47 6e 49 73 72 41  |ZwaojHYzxwGnIsrA|
00000140  6e 4d 55 43 49 47 54 42  50 66 56 6f 4b 6c 58 77  |nMUCIGTBPfVoKlXw|
00000150  4b 4e 32 54 2f 76 55 7a  46 6f 31 54 6c 75 68 55  |KN2T/vUzFo1TluhU|
00000160  39 71 4f 68 0a 77 5a 42  47 44 57 2f 47 57 62 73  |9qOh.wZBGDW/GWbs|
00000170  4c 41 69 45 41 6c 46 4f  51 59 6a 61 51 62 64 51  |LAiEAlFOQYjaQbdQ|
00000180  71 39 39 77 61 39 68 48  43 63 6b 70 50 77 78 4b  |q99wa9hHCckpPwxK|
00000190  31 52 77 6c 66 2b 4c 77  63 57 4d 49 54 4d 6f 55  |1Rwlf+LwcWMITMoU|
000001a0  43 49 43 4e 77 0a 6d 45  74 61 74 6c 54 70 52 54  |CICNw.mEtatlTpRT|
000001b0  79 75 6f 49 4a 6d 57 67  65 41 76 4a 38 4a 4b 47  |yuoIJmWgeAvJ8JKG|
000001c0  35 79 35 6b 37 46 35 4f  34 46 47 34 76 38 0a 2d  |5y5k7F5O4FG4v8.-|
000001d0  2d 2d 2d 2d 45 4e 44 20  52 53 41 20 50 52 49 56  |----END RSA PRIV|
000001e0  41 54 45 20 4b 45 59 2d  2d 2d 2d 2d 0a           |ATE KEY-----.|
000001ed
```

Literally speaking, RFC1421 only applies to "PRIVACY-ENHANCED MESSAGE" (ie, having that header). Even if certs are loosely considered a kind of RFC1421 PEM since everybody uses that RFC, the CRLF requirement only applies to PEM that need to be in a canonical form. This is defined only for Proc-Type ENCRYPTED, MIC-ONLY, MIC-CLEAR (section 4.3.2.2). Other messages can be in local form which I assume can have their own line endings including CR.

RFC7468 does allow both CRLF and CR to be valid line endings.

PEM encoding is larger then Privacy Enhanced Messages found in email. RFC 1421 specified a encoding method with a grammar.

I'm kind of baffled folks think newer objects that are PEM encoded use a different grammar than the one specified in the original RFC. Not to mention every major RFC of the time used CRLF as end-of-line, including email, telnet, and ftp.

The IETF performed the world a big dis-service when they published RFC 7468. The IETF did not provide a standard method; rather they disregarded RFC 1421, and gathered up everything that just about every developer was doing and legitimized it. RFC 7468 did not improve interop; rather it made things worse by requiring every implementation to provide coverage for every case a developer can invent.

This is not the first time the IETF has screwed the world like this. RFC 5280 did the same thing with X.509 certificates. The IETF legitimized every practice just about every developer was doing. The result is, for example, BasicConstaints, KeyUsage and ExtendedKeyUsage bits that are mostly worthless in validating a certificate.

Marking as inactive, to be closed at the end of 3.4 dev, barring further input
