OpenSSL CMS incompatible with Heimdal

While working on [a Kerberos PKINIT interoperability issue](https://github.com/krb5/krb5/pull/1254), we noticed an incompatibility between Heimdal and OpenSSL implementations of CMS:

[RFC5652 section 5.3](https://datatracker.ietf.org/doc/html/rfc5652#section-5.3) describes the representation of the `SignerInfo` sequence. It contains `digestAlgorithm` and `signatureAlgorithm` attributes. As far as I understand, this is how these algorithm identifiers are used in each implementation:

* **OpenSSL**
    * Signature generation
        * [If at least one signed attribute](https://github.com/openssl/openssl/blob/openssl-3.0.5/crypto/cms/cms_sd.c#L698)
            * [Generate the digest of the content](https://github.com/openssl/openssl/blob/openssl-3.0.5/crypto/cms/cms_sd.c#L702) using [`digestAlgorithm`](https://github.com/openssl/openssl/blob/openssl-3.0.5/crypto/cms/cms_sd.c#L688)
            * [Store the digest in `SignerInfo.signedAttrs.messageDigest`](https://github.com/openssl/openssl/blob/openssl-3.0.5/crypto/cms/cms_sd.c#L704-L705)
            * [Generate the signature](https://github.com/openssl/openssl/blob/openssl-3.0.5/crypto/cms/cms_sd.c#L823) of [`SignerInfo.signedAttrs`](https://github.com/openssl/openssl/blob/openssl-3.0.5/crypto/cms/cms_sd.c#L811-L812) using the [signature algorithm inferred](https://github.com/openssl/openssl/blob/openssl-3.0.5/crypto/cms/cms_sd.c#L803-L806) by [`EVP_DigestSignInit_ex()`](https://www.openssl.org/docs/man3.0/man3/EVP_DigestSignInit_ex.html) (based on the combination of `digestAlgorithm` and the signer's private key)
            * [Store the signature in `SignerInfo.signature`](https://github.com/openssl/openssl/blob/openssl-3.0.5/crypto/cms/cms_sd.c#L828)
        * [Else if a private key is available](https://github.com/openssl/openssl/blob/openssl-3.0.5/crypto/cms/cms_sd.c#L713)
            * [Generate the digest of the content](https://github.com/openssl/openssl/blob/openssl-3.0.5/crypto/cms/cms_sd.c#L720) using [`digestAlgorithm`](https://github.com/openssl/openssl/blob/openssl-3.0.5/crypto/cms/cms_sd.c#L688)
            * [Sign the digest](https://github.com/openssl/openssl/blob/openssl-3.0.5/crypto/cms/cms_sd.c#L728) using the signer's private key
            * [Store the resulting signature in `SignerInfo.signature`](https://github.com/openssl/openssl/blob/openssl-3.0.5/crypto/cms/cms_sd.c#L732)
    * Signature verification
        * [If at least one signed attribute](https://github.com/openssl/openssl/blob/openssl-3.0.5/crypto/cms/cms_smime.c#L383)
            * [Verify the signature of `SignerInfo.signedAttrs` against `SignerInfo.signature`](https://github.com/openssl/openssl/blob/openssl-3.0.5/crypto/cms/cms_sd.c#L896-L897) using [`digestAlgorithm`](https://github.com/openssl/openssl/blob/openssl-3.0.5/crypto/cms/cms_sd.c#L858) and [the signer's public key](https://github.com/openssl/openssl/blob/openssl-3.0.5/crypto/cms/cms_sd.c#L880)
        * If [`SignerInfo.signedAttrs.messageDigest`](https://github.com/openssl/openssl/blob/openssl-3.0.5/crypto/cms/cms_sd.c#L954-L956) [exists](https://github.com/openssl/openssl/blob/openssl-3.0.5/crypto/cms/cms_sd.c#L973)
            * [Verify the digest of the content](https://github.com/openssl/openssl/blob/openssl-3.0.5/crypto/cms/cms_sd.c#L963) against `SignerInfo.signedAttrs.messageDigest` [using `digestAlgorithm`](https://github.com/openssl/openssl/blob/openssl-3.0.5/crypto/cms/cms_sd.c#L963)
        * Else
            * [Verify the signature of the content against `SignerInfo.signature`](https://github.com/openssl/openssl/blob/openssl-3.0.5/crypto/cms/cms_sd.c#L1000-L1001) using the [signature algorithm inferred](https://github.com/openssl/openssl/blob/openssl-3.0.5/crypto/cms/cms_sd.c#L995) by [`EVP_PKEY_CTX_set_signature_md()`](https://www.openssl.org/docs/man3.0/man3/EVP_PKEY_CTX_set_signature_md.html) (based on the combination of `digestAlgorithm` and the signer's public key)

* **Heimdal**
    * Signature generation
        * [If content is PKCS7 data](https://github.com/heimdal/heimdal/blob/heimdal-7.7.0/lib/hx509/cms.c#L1279)
            * [Generate the digest of the content](https://github.com/heimdal/heimdal/blob/heimdal-7.7.0/lib/hx509/cms.c#L1289-L1294) using [`digestAlgorithm`](https://github.com/heimdal/heimdal/blob/heimdal-7.7.0/lib/hx509/cms.c#L1269)
            * [Store the digest in `SignerInfo.signedAttrs.messageDigest`](https://github.com/heimdal/heimdal/blob/heimdal-7.7.0/lib/hx509/cms.c#L1298-L1315)
            * [Generate the signature](https://github.com/heimdal/heimdal/blob/heimdal-7.7.0/lib/hx509/cms.c#L1373-L1378) of [`SignerInfo.signedAttrs`](https://github.com/heimdal/heimdal/blob/heimdal-7.7.0/lib/hx509/cms.c#L1347-L1352) using `signatureAlgorithm` and the signer's private key
        * Else
            * [Generate the signature](https://github.com/heimdal/heimdal/blob/heimdal-7.7.0/lib/hx509/cms.c#L1373-L1378) of the [content](https://github.com/heimdal/heimdal/blob/heimdal-7.7.0/lib/hx509/cms.c#L1360-L1361) using `signatureAlgorithm`
        * Store the signature in `SignerInfo.signature`
    * Signature verification
        * [If `SignerInfo.signedAttrs` exists](https://github.com/heimdal/heimdal/blob/heimdal-7.7.0/lib/hx509/cms.c#L907)
            * [Verify the digest of the content](https://github.com/heimdal/heimdal/blob/heimdal-7.7.0/lib/hx509/cms.c#L945-L949) against [`SignerInfo.signedAttrs.messageDigest`](https://github.com/heimdal/heimdal/blob/heimdal-7.7.0/lib/hx509/cms.c#L934-L937) using `digestAlgorithm`
            * [Verify the signature](https://github.com/heimdal/heimdal/blob/heimdal-7.7.0/lib/hx509/cms.c#L1023-L1027) of [`SignerInfo.signedAttrs`](https://github.com/heimdal/heimdal/blob/heimdal-7.7.0/lib/hx509/cms.c#L985-L989) against `SignerInfo.signature` using `signatureAlgorithm` and the signer's public key
        * Else
            * [Verify the signature](https://github.com/heimdal/heimdal/blob/heimdal-7.7.0/lib/hx509/cms.c#L1023-L1027) of the [content](https://github.com/heimdal/heimdal/blob/heimdal-7.7.0/lib/hx509/cms.c#L1000-L1001) against `SignerInfo.signature` using `signatureAlgorithm` and the signer's public key

The main different between these two implementations is that Heimdal considers that `digestAlgorithm` and `signatureAlgorithm` are defined prior to the signature generation, while OpenSSL only considers `digestAlgorithm` to be an actual parameter, `signatureAlgorithm` being the combination of `digestAlgorithm` and the private key type.

However, these approaches are incompatible. OpenSSL's approach will always result in both `digestAlgorithm` and `signatureAlgorithm` relying on the same hashing function, and its verification process relies on this fact (because it does not take `signatureAlgorithm` into account). On the other hand, Heimdal can sign and verify `SignedData` with `SignerInfo.signedAttrs.messageDigest` and `SignerInfo.signature` generated using different hashing functions.

As an example, if Heimdal signed a CMS `SignedData` with `digestAlgorithm = sha512` and `signatureAlgorithm = sha256WithRSAEncryption`, OpenSSL will verify `SignerInfo.signedAttrs.messageDigest` using `sha512` and `SignerInfo.signature` using `sha512WithRSAEncryption`.

[RFC5652](https://datatracker.ietf.org/doc/html/rfc5652) is ambiguous on this point, because it refers to *"message digest"* in both digest and signature generation contexts. I suppose we have to pick one of these assumptions:

* Since [in page 14](https://datatracker.ietf.org/doc/html/rfc5652#page-14), `digestAlgorithm` is defined as *"digestAlgorithm identifies the message digest algorithm"*, as a consequence `signatureAlgorithm` **has** to use the same hashing function. And the CMS data is considered malformed otherwise.
* `digestAlgorithm` has to be used for `SignerInfo.signedAttrs.messageDigest`, and `signatureAlgorithm` has to be used for `SignerInfo.signature`, even if they are using different hashing functions.

As you can see even in the original report the RFC is ambiguous in the regard and one possible interpretation is that the digestAlgorithm and the digest algo that is part of the signatureAlgorithm must match. OpenSSL interprets it like this. To support another interpretation seems clearly a feature to me.


That interpretation is a big stretch.  The natural interpretation is that the digest algorithm applies to the digest over the encapsulated content, and the signature algorithm applies to the public key signature over the singed attributes.


@jrisc, what you say looks like a clear definition of a feature to me :)

The sender of a SignedData message gives a signature algorithm (such as sha256WithRSAEncryption), a digest algorithm (such as SHA-512), a public key signature over a set of signed attributes, and (within the signed attributes) a digest over the encapsulated content.

RFC 5652 defines signatureAlgorithm as "signatureAlgorithm identifies the signature algorithm, and any associated parameters, used by the signer to generate the digital signature" and digestAlgorithm as "digestAlgorithm identifies the message digest algorithm, and any associated parameters, used by the signer".  Later, the definition of the message-digest signed attribute says "the message digest is computed using the signer's message digest algorithm".

OpenSSL's current behavior is to completely ignore the signatureAlgorithm, and compute a verification signature based on the digest algorithm and the public key.  To argue that this is correct, one has to claim that "the message digest used by the signer" means the digest internal to the public key signature, and that the (mandatory) signatureAlgorithm field in the CMS spec is just redundant fluff.  Although I don't think the CMS RFC is well-written, that is a nonsensical interpretation.

**OTC: This is a feature request and not a bug.** 

RFC 5652 even says: `Implementations MAY fail to validate signatures that use a digest algorithm that is not included in the SignedData digestAlgorithms set.`

> Implementations MAY fail to validate signatures that use a digest algorithm that is not included in the SignedData digestAlgorithms set

digestAlgorithms (plural) is not the same as digestAlgorithm (singular) in the SignerInfo sequence.  digestAlgorithms is a field at the top level of SignedData.  About digestAlgorithms, RFC 5652 says "The collection is intended to list the message digest algorithms employed by all of the signers, in any order, to facilitate one-pass signature verification".  So, in the presence of multiple SignerInfos for a single SignedData (which might have a large encapsulated content), the verifier can set up hash states for each of the digestAlgorithms and avoid computing those digests when processing the SignerInfos.

Each SignerInfo has its own set of signed attributes, so one-pass signature verification for multiple SignerInfos does not have to do with the public key signature over the the signed attributes.  So when reading the quoted statement, "signatures that use a digest algorithm that is not included in the SignedData digestAlgorithms set" clearly must refer to the digestAlgorithm of the SignerInfo (the algorithm used by the message-digest signed attribute computed over the encapsulated content), not any digest algorithm which might be used internally within the signatureAlgorithm.

While it is frustrating that the CMS spec is so vague at times, that is not a license to treat any behavior as compliant.  It just means more effort is required to determine the meaning of the vague statements.


Probably it's worth request a clarification from IETF? LAMPS seems a relevant WG

Hi everyone, I just wanted to report that i encountered the issue @jrisc is describing.

> OpenSSL will verify SignerInfo.signedAttrs.messageDigest using sha512 and SignerInfo.signature using sha512WithRSAEncryption.

I have a CMS message with `messageDigest: sha512` and `signatureAlgorithm: sha256WithRSAEncryption` and the `cms -verify` fails if I don't add the flag `-no_attrs_verify`.
The command without the flag works for every CMS message where `messageDigest` and `signatureAlgorithm` are equal.

If you need more information about my use case or if I can help in any way, let me know!






marking as inactive, to be closed at the end of 3.4 dev barring further input