`X509_NAME_cmp()` not conforming to RFC 5280

First, I's like to state, that I read and hopefully understood a [similar issue by @DDvO](https://github.com/openssl/openssl/issues/12765). But I think, it is not enough to document the current behaviour of `X509_NAME_cmp()`. In my opinion, the current implementation is not conforming to RFC5280 and should be corrected:

- `/CN="Example Name"/O="Example GmbH"` and
- `/O="Example GmbH"/CN="Example Name"`

should match.

## Reasoning

DNs may contain multiple RDNs (relative distinguished names) and the order **is significant**. The RDNs may contain multiple AttributeTypeAndValue's (AVAs) and their order **is not significant**. This is clearly stated in [RFC5280, section 7.1](https://datatracker.ietf.org/doc/html/rfc5280#section-7.1) as DDvO mentioned in his issue:

> Two relative distinguished names RDN1 and RDN2 match
> if they have the same number of naming attributes
> and for each naming attribute in RDN1
> there is a matching naming attribute in RDN2.

Furthermore, [RDNs are specified as SETs of AVAs](https://datatracker.ietf.org/doc/html/rfc5280#section-4.1.2.4), which is a clear indicator that the order is not significant:

> Name ::= CHOICE { -- only one possibility for now --
>     rdnSequence  RDNSequence }
>
>  RDNSequence ::= SEQUENCE OF RelativeDistinguishedName
>
>  RelativeDistinguishedName ::=
>    SET SIZE (1..MAX) OF AttributeTypeAndValue
>
>  AttributeTypeAndValue ::= SEQUENCE {
>    type     AttributeType,
>    value    AttributeValue }
>
>  AttributeType ::= OBJECT IDENTIFIER
>
>  AttributeValue ::= ANY -- DEFINED BY AttributeType

The `memcmp()` used by `X509_NAME_cmp()` could only be correct, if the `X509_NAME`s were ordered. However, this is not the case. The only preprocessing made is a normalization of the encoding. I checked that using the following 

## Example

1. Create two certificates with differently ordered subject names

```
openssl req -x509 -sha256 -nodes -days 365 -newkey rsa:2048 -subj='/CN="Example Name"/O="Example GmbH"' -keyout pkey1.pem -out cert1.pem
openssl req -x509 -sha256 -nodes -days 365 -newkey rsa:2048 -subj='/O="Example GmbH"/CN="Example Name"' -keyout pkey2.pem -out cert2.pem
openssl x509 -subject -noout -in cert1.pem
openssl x509 -subject -noout -in cert2.pem
```

2. Use some code to read the certificates and compare the subject names (here my Rust example):

```rust
use openssl::x509::X509;

/// Compare two `X509_NAME`s using (rust-)openssl
/// This example shows, that OpenSSL does not compare `X509_NAME`s correctly, as the order of
/// the attribute values should not make a difference. OpenSSL compares using `memcmp()` instead of
/// comparing the attribute values of the distinguished name separately.
fn main() {
    let cert1_pem = include_bytes!("cert1.pem");
    let cert2_pem = include_bytes!("cert2.pem");

    let cert1 = X509::from_pem(cert1_pem).unwrap();
    let cert2 = X509::from_pem(cert2_pem).unwrap();

    let subject_name_1 = cert1.subject_name();
    let subject_name_2 = cert2.subject_name();

    if subject_name_1.cmp_with(subject_name_2) == 0 {
        println!("Subject names comparison says: certificates have same subject name.")
    } else {
        println!("Subject names comparison says: certificates have different subject names.")
    };
}
```

This requires the following patch in `Cargo.toml`, as `X509NameRef::cmp_with()` is not provided by the official rust-openssl, yet:

```toml
...
[dependencies]
openssl = "0.10.38"
openssl-sys = "0.9.72"

[patch.crates-io]
openssl = { git = "https://github.com/bkstein/rust-openssl", branch = "kletterstein/pkcs7" }
openssl-sys = { git = "https://github.com/bkstein/rust-openssl", branch = "kletterstein/pkcs7" }
```

The debugger shows, that the X509 names are still different in memory (`a` and `b` being the 2 X509 names to be compared in [x509_cmp.c](https://github.com/openssl/openssl/blob/20af01d46ca4086f6b1339b67c15c81d8b4a040d/crypto/x509/x509_cmp.c#L165)):

```
a->bytes = {buf_mem_st *const} 0x000001e706cf8ab0 {length=48, data=0x000001e706cdc990 "0.1\x150\x13\x6\x3U\x4\x3\f\fExample Name1\x150\x13\x6\x3U\x4\n\f\fExample GmbH", max=68, ...}
b->bytes = {buf_mem_st *const} 0x000001e706cf8420 {length=48, data=0x000001e706cdcda0 "0.1\x150\x13\x6\x3U\x4\n\f\fExample GmbH1\x150\x13\x6\x3U\x4\x3\f\fExample Name", max=68, ...}
```

The comparison fails in this example, even though the `X509_NAME`s should match.

(I'm sorry for the long description, but I wanted to justify reopening the discussion. )

@t8m: Thanks for looking over this so quickly. I respect your triage. However, I would like to point out, that OpenSSL does not provide a reliable way to compare issuers and subjects of certificates. (Well, of course it is possible if you spend some effort :) ) And I think, it is a common task to search the issuer certificate of a given certificate. So it would really be nice to have that in the future.

In theory what you say is true. In practice this ordering issue has never been a problem. As the CA that issues the certificate usually constructs the certificate it puts there the issuer ordered in the same way as its own subject. So our X509_NAME_cmp() being more strict than what would conform to the RFC was never a problem.

I'm not sure, if that was really "never" a problem. #12765 had this problem and I use [a test CA (written in Go)](https://github.com/micromdm/scep), that unfortunately changes the order after reading the CSR. Is it possible, that most developers do not use the method and just compare the common name instead?

Hmm, actually `-subj='/CN="Example Name"/O="Example GmbH"'` won't create multivalued RDNs so the ordering actually is significant with RFC 5280 and it should not match a certificate with `-subj='/O="Example GmbH"/CN="Example Name"'`

So in the end I do not think there is any bug or RFC 5280 non-conformance here at all.

See also https://github.com/openssl/openssl/pull/12769

A last comment: what I expected fafter reading RFC 5280 were "multi-valued" RDNs. But these seem to be quite uncommon.  [Here is a good description of what an RDN is and how it is used in the real world](https://ldapwiki.com/wiki/Relative%20Distinguished%20Name), just in case, someone will read this in the future.

Just replace the second `/` in your example with `+` and you'll see.

... and add option `-multivalue-rdn` to the `openssl req ...` command. 🤓 
Yes, I can see the following output now for the two certificates. The subject is sorted!

## Create certs with multivalue DNs

```
openssl req -x509 -sha256 -nodes -days 365 -newkey rsa:2048 -multivalue-rdn -subj='/CN="Example Name"+O="Example GmbH"' -keyout pkey3.pem -out cert3.pem
openssl req -x509 -sha256 -nodes -days 365 -newkey rsa:2048 -multivalue-rdn -subj='/O="Example GmbH"+CN="Example Name"' -keyout pkey4.pem -out cert4.pem
openssl x509 -subject -noout -in cert3.pem
openssl x509 -subject -noout -in cert4.pem
```

## Output

```
subject=CN = Example Name + O = Example GmbH
subject=CN = Example Name + O = Example GmbH
```

Thanks for your patience, t8m. I learned something today.

@t8m I added a tl;dr; to the description. I could imagine, that my misunderstanding could be quite common.