Wrong end-point shared secret used for DTLS/SCTP

DTLS/SCTP is specified in [RFC 6083](https://tools.ietf.org/html/rfc6083). In addition to the DTLS cryptography, an end-point shared secret is used at the SCTP layer as specified in [RFC 6083, Section 4.8](https://tools.ietf.org/html/rfc6083#section-4.8). This is computed by using an Exporter as specified in [RFC 5705](https://tools.ietf.org/html/rfc5705) with the label `EXPORTER_DTLS_OVER_SCTP`. It is important to note that [RFC 5705, Section 4](https://tools.ietf.org/html/rfc5705#section-4) explicitly states:
```
Labels here have the same definition as in TLS, i.e., an ASCII string
with no terminating NULL.
```

The problem is that the code used in OpenSSL incorrectly uses the label with the terminating NULL character. This breaks interoperability with correct implementations. The problem was reported on the `tsvwg@ietf.org` mailing list by @maximProshin.

Fixing this breaks interoperability with older versions of OpenSSL, but I think there is no alternative. I already pinged Adax, who has also an implementation: [Adax DTLS](http://www.adax.com/products/signaling-platform/adax-sctpt/).

A suggested fix is available as: https://github.com/openssl/openssl/pull/7957.
<!--
Thank you for your bug report.

NOTE:

    If you're asking about how to use OpenSSL, this isn't the right 
    forum.  Please see our User Support resources:
    https://github.com/openssl/openssl/blob/master/.github/SUPPORT.md

Please remember to tell us in what OpenSSL version you found the issue.

For build issues:

    If this is a build issue, please include the configuration output
    as well as a log of all errors.  Don't forget to include the exact
    commands you typed.

    With OpenSSL before 1.1.1, the configuration output comes from the
    configuration command.  With OpenSSL 1.1.1 and on, it's the output
    of `perl configdata.pm --dump`

For other issues:

    If it isn't a build issue, example code or commands to reproduce
    the issue is highly appreciated.
    Also, please remember to tell us if you worked with your own
    OpenSSL build or if it is system provided.

Please remember to put ``` lines before and after any commands plus
output and code, like this:

    ```
    $ echo output output output
    output output output
    ```

    ```
    #include <stdio.h>
    
    int main() {
        int foo = 1;
        printf("%d\n", foo);
    }
    ```
-->
