OpenSSL ist too sloppy with SSL/TLS cert key usage checks

As witnessed, e.g., by #12140 and #12141, OpenSSL is too sloppy with checking key usages, at least for SSL/TLS use.

* For server certs, `check_purpose_ssl_server()` in `v3_purp.c` is happy with any of `KU_DIGITAL_SIGNATURE`, `KU_KEY_ENCIPHERMENT`, `KU_KEY_AGREEMENT`.
* For client certs, `check_purpose_ssl_client()` in `v3_purp.c` is happy with `KU_DIGITAL_SIGNATURE` or `KU_KEY_AGREEMENT`

Those simplistic checks do not take into account which algorithms are actually being used at which point.
They do not even care if the key usage makes sense at all for the key contained on the given cert. For instance, 
* RSA keys do not work for for key agreement,
* ECC key cannot be used for encipherment, and
* DH keys cannot be used for encipherment nor signature.

The checks done so far (except for two checks on `X509v3_KU_DIGITAL_SIGNATURE` for signature use of EC keys in `ssl_lib.c`) are just rather shallow sanity checks which are not specific enough.
BTW, the `X509v3_KU_*` defines in `x509.h` are redundant with the `KU_*` defines in `x509v3.h`.

To-the-point checks need to be done at those points when it is clear which algorithm it actually going to be used. So, 
* `KU_DIGITAL_SIGNATURE` needs to be checked before a key is used for (signing and) signature checking (except on certs and CRLs, for which there are specific key usages),
* `KU_KEY_ENCIPHERMENT` needs to be checked before a key is used for encrypting (and decrypting) key material,
* `KU_KEY_AGREEMENT`, needs to be checked before a key is used for a (DH-like) key agreement procedure.

See also RFC 5280 section 4.1.2.6: https://tools.ietf.org/html/rfc5280#section-4.1.2.6

Given that there are 2 separate issues linked to this one @DDvO , are you able to open additional issues for the rest of the enumerated problems you identified above?

The two referenced issues are just examples of the pretty general sloppines of the SSL implementation, which violates RFC 5280.

I wonder why nobody who feels responsible for SSL takes care of this.
Depending on the application policy, this can be seen a security loophole.

Enumerating all such cases each in a separate issue would be pretty tedious.
Much more efficient would be if someone who is deeper into libssl walks through the code along the lines I wrote in the OP and just does all the due fixes.

I fear that tightening these checks will cause issues with various wrongly issued certificates, so likely for backward compatibility not all such checks should be enabled by default.

I suggest an OTC discussion on this topic. 

@DDvO ok, thats fine with me.  Given that there is no specific bug to address here (rather a potential multitude of them), I'm marking this as an investigation issue.  If you would like an OTC discussion on the topic, please add the OTC hold label to this issue, along with a comment that summarizes the question you would like discussed.  Thank you!

@openssl/otc How to handle the risk that strengthening the key usage checks may cause unwanted rejection of certs that simply by mistake/sloppines have wrong key usage bits? 

This is also a requirement from the TLS RFCs:

From TLS 1.3, which only has a signing mode:

~~~
 -  The certificate MUST allow the key to be used for signing (i.e.,
      the digitalSignature bit MUST be set if the Key Usage extension is
      present) with a signature scheme indicated in the client's
      "signature_algorithms"/"signature_algorithms_cert" extensions (see
      [Section 4.2.3](https://www.rfc-editor.org/rfc/rfc8446.html#section-4.2.3)).
~~~

https://www.rfc-editor.org/rfc/rfc8446.html#section-4.4.2.2

And, in TLS 1.2, there are two different modes, so it depends on context:

~~~
      RSA                RSA public key; the certificate MUST allow the
      RSA_PSK            key to be used for encryption (the
                         keyEncipherment bit MUST be set if the key
                         usage extension is present).
                         Note: RSA_PSK is defined in [[TLSPSK](https://www.rfc-editor.org/rfc/rfc5246.html#ref-TLSPSK)].

      DHE_RSA            RSA public key; the certificate MUST allow the
      ECDHE_RSA          key to be used for signing (the
                         digitalSignature bit MUST be set if the key
                         usage extension is present) with the signature
                         scheme and hash algorithm that will be employed
                         in the server key exchange message.
                         Note: ECDHE_RSA is defined in [[TLSECC](https://www.rfc-editor.org/rfc/rfc5246.html#ref-TLSECC)].
~~~
https://www.rfc-editor.org/rfc/rfc5246.html#page-49

Note that this means the exact key usage check depends on the cipher suite being negotiated. BoringSSL enforces these, and we consider this is a security-relevant check. Without enforcing this at the receiver, key separation techniques to mitigate, e.g., weaknesses in the legacy RSA cipher suites break down. While we're not _yet_ at the that this is _crucial_, mostly because clients mostly still accept the legacy RSA cipher suites, when those start being phased out, OpenSSL's behavior makes it impossible for a server to protect those clients better.

@Immortalem cc 'ing you on this issue as it is likely relevant to your old issue https://github.com/openssl/openssl/issues/12141

As suggested, copying the nice example and test case from #12140 into here:

### Setup
OpenSSL has been compiled from source in an alpine docker container. The following excerpt of the used docker file shows the build related commands:
```
RUN ./config --prefix=/build/ --openssldir=/build/ no-async 
RUN make -s && make install_sw -s
```
After building it the respective OpenSSL version and required libraries have been copied into an minimal docker container (from scratch).

The server is later started using the following command:
`openssl s_server -accept 4433 -Verify 100 -cert /cert/inputCerts/rootv3.pem -key /cert/keys/rootv3.pem -CAfile /cert/inputCerts/root.pem -verify_return_error`

All files mentioned in this report (certificates, keys, etc.) have been included in the attached zip archive.

### Issue
OpenSSL allows the usage of ECDH client certificates (key usage set to key agreement only) for the signature verification of the Certificate Verify message. 

### Reproduction
Uses OpenSSL 1.1.1 client on Ubuntu 18.04.
Connect to the started server using the following command:
`openssl s_client -connect localhost:4433 -cert ECROOTv3_CAv3_LEAF_ECv3_KeyAgreement__leaf_certificate1.pem -key eckey_secp256r1_3.pem -CAfile ECROOTv3_CAv3_LEAF_ECv3_KeyAgreement__ca_certificate1.pem -tls1_2`

### Expected Result
OpenSSL should reject the certificate since it may only be used for ECDH key agreement, i.e. it is a static ECDH certificate and may not be used for ECDSA.

### Actual Result
OpenSSL happily accepts the certificate and proceeds with the handshake.

### Attachment
[opensslECKeyAgreement.zip](https://github.com/user-attachments/files/15849340/opensslECKeyAgreement.zip)


As suggested, copying the nice example and test case from https://github.com/openssl/openssl/issues/12141 into here:

### Setup
OpenSSL has been compiled from source in an alpine docker container. The following excerpt of the used docker file shows the build related commands:
```
RUN ./config --prefix=/build/ --openssldir=/build/ no-async 
RUN make -s && make install_sw -s
```
After building it the respective OpenSSL version and required libraries have been copied into an minimal docker container (from scratch).

The server is later started using the following command:
`openssl s_server -accept 4433 -Verify 100 -cert /cert/inputCerts/rootv3.pem -key /cert/keys/rootv3.pem -CAfile /cert/inputCerts/root.pem -verify_return_error`

All files mentioned in this report (certificates, keys, etc.) have been included in the attached zip archive.

### Issue
OpenSSL allows the client to present RSA certificates with the key usage set to keyAgreement only.
As there is no key agreement algorithm that uses RSA keys this certificate may not be used at all.

### Reproduction
Uses OpenSSL 1.1.1 client on Ubuntu 18.04.
Connect to the started server using the following command:
`openssl s_client -connect localhost:4433 -cert ROOTv3_CAv3_LEAF_RSAv3_KeyUsageKeyAgreement__leaf_certificate1.pem -key rsakey_2.pem -CAfile ROOTv3_CAv3_LEAF_RSAv3_KeyUsageKeyAgreement__ca_certificate1.pem`

### Expected Result
OpenSSL should reject the certificate since it may not be used to create/verify signatures.

### Actual Result
OpenSSL happily accepts the certificate and proceeds with the handshake.

### Attachment
[opensslRSAKeyAgreement.zip](https://github.com/user-attachments/files/15849342/opensslRSAKeyAgreement.zip)


**OTC: We would like to have the strict check with an SSL_OP to switch it off/on. In a minor release this check should be off by default and we could change the default in the next major release.**


This issue was closed because it was marked with the help wanted label and there was no interest in implementing this issue or any other activity for more than 2 months.
