Get 1.1.1 command line app linked to actually pass all the tests that use the command line apps

1) Run tests using 1.1.1 branch from #13127
2) Figure out what needs to be fixed


Here's the branch in question: https://github.com/levitte/openssl/tree/EXPERIMENTAL-build-against-3.0

The following is a summary of the behaviour differences I found between the 3.0
library and the 1.1.1 library as a result of running the 1.1.1 tests against the
3.0 library.

Fixes to work around all of these have been added to @levitte's branch and those
tests now pass. I've summarised all the behavioural differences found in the
list below. Each issue resulted in a fix to workaround it being made to
@levitte's branch. There are a number of other fixes not listed below that were
made to work around problems not directly related to behavioural differences
between the libraries, e.g. fixes to work around deficiencies in the methodology
used to run the tests; or problems in the tests themselves (e.g. tests making
invalid assumptions about the implemmentation; tests reaching into internal
header files and accessing internal data directly, etc). Check the commit logs
for @levitte's branch for the complete list of changes.

A summary of the behavioural differences found follows:

### No Legacy Algorithms

A number of algorithms are no longer available via EVP by default. These are the
ones that have been moved to the legacy provider.

I can't locate a CHANGES entry for this (raised as issue #14441)

The framework for running 1.1.1 tests against 3.0 sets OPENSSL_CONF to use
a "default-and-legacy.cnf" config file so that we always get both the default
and legacy providers.

### RSA_SSLV23_PADDING is no longer present

This macro and associated functions have been completely removed.

The CHANGES entry says this:

````
 * Removed RSA padding mode for SSLv23 (which was only used for
   SSLv2). This includes the functions RSA_padding_check_SSLv23() and
   RSA_padding_add_SSLv23() and the `-ssl` option in the deprecated
   `rsautl` command.
````

### Some public GOST macros are no longer present in 3.0

In 1.1.1 the following GOST macros are defined in tls1.h

````
# define TLS_CT_GOST12_SIGN              238
# define TLS_CT_GOST12_512_SIGN          239
````

In 3.0 they are renamed as follows:

````
# define TLS_CT_GOST12_IANA_SIGN         67
# define TLS_CT_GOST12_IANA_512_SIGN     68
# define TLS_CT_GOST12_LEGACY_SIGN       238
# define TLS_CT_GOST12_LEGACY_512_SIGN   239
````

Raised as issue #14440


### TLS heartbeat is not available in OpenSSL 3.0

This feature was removed completely from OpenSSL 3.0. Code using this feature
will fail to compile.

The CHANGES entry says this:

````
 * Removed the heartbeat message in DTLS feature, as it has very
   little usage and doesn't seem to fulfill a valuable purpose.
   The configuration option is now deprecated.
````

### DH Modulus size lower limit

The dh_test was failing because we now enforce a lower bound on the
modulus size that may be used. A number of locations in dhtest.c were
assuming that a very small modulus is valid.

A 512 bit lower bound was introduced by PR #9437 (commit 6de1fe908) and
subsequently amended by PR #9796 (commit feeb7ecd2f).

The CHANGES entry says this:

````
 * Enforce a minimum DH modulus size of 512 bits.
````


### Cosmetic differences in text output

test_crl was failing because of a cosmetic difference in textual output between
1.1.1 and 3.0. One of the tests prints a crl using "-text" and compares it
against a reference output. In 3.0 printing a CRL adds an additional label for
the signature value, as well as a difference in indentation for the signature
value:

```` diff
diff --git a/test/certs/cyrillic_crl.utf8 b/test/certs/cyrillic_crl.utf8
index e55c549d4c..c36a3fd0f0 100644
--- a/test/certs/cyrillic_crl.utf8
+++ b/test/certs/cyrillic_crl.utf8
@@ -9,21 +9,22 @@ Certificate Revocation List (CRL):
                 1
 No Revoked Certificates.
     Signature Algorithm: sha256WithRSAEncryption
-         85:e5:e5:fe:d4:13:3f:07:1a:07:53:6f:f7:a5:01:c9:80:f4:
-         8a:7a:f3:74:fc:af:dd:6a:21:47:88:99:7b:29:bf:46:0b:02:
-         98:d7:80:75:46:f6:cd:da:b5:0f:ff:9f:0c:b7:e6:aa:8e:f6:
-         ae:7f:5c:81:ce:56:89:41:e2:4a:65:cb:02:98:6f:69:e9:3a:
-         f5:cb:40:49:5e:1a:ea:e6:40:b4:48:bc:8d:0e:c7:c6:51:37:
-         ee:c6:7c:26:a3:e7:25:1d:74:54:fa:02:ae:93:e8:74:5a:42:
-         4b:d3:6d:99:61:b2:77:f3:0e:7c:f2:4e:0d:4f:70:96:54:77:
-         84:db:71:03:0b:6e:b8:a7:de:36:9a:50:c4:ed:e9:fa:33:22:
-         f5:e7:63:de:2d:df:58:ad:68:aa:e6:23:88:3a:b2:1b:40:b1:
-         2b:ab:41:23:c3:1b:c7:1b:db:0c:89:81:54:6b:a5:6b:c2:64:
-         5f:db:a9:f2:67:bb:bd:44:a2:43:3f:ea:36:76:5b:70:76:20:
-         5a:49:70:b7:42:dd:e9:67:c0:48:7e:ff:e5:f3:59:70:a7:c0:
-         eb:eb:74:b0:08:82:36:a4:84:69:97:22:02:75:0a:a6:5f:f6:
-         be:d6:af:24:4e:15:c8:3f:62:b1:f9:7e:3c:83:b5:44:da:8d:
-         97:e1:c7:f2
+    Signature Value:
+        85:e5:e5:fe:d4:13:3f:07:1a:07:53:6f:f7:a5:01:c9:80:f4:
+        8a:7a:f3:74:fc:af:dd:6a:21:47:88:99:7b:29:bf:46:0b:02:
+        98:d7:80:75:46:f6:cd:da:b5:0f:ff:9f:0c:b7:e6:aa:8e:f6:
+        ae:7f:5c:81:ce:56:89:41:e2:4a:65:cb:02:98:6f:69:e9:3a:
+        f5:cb:40:49:5e:1a:ea:e6:40:b4:48:bc:8d:0e:c7:c6:51:37:
+        ee:c6:7c:26:a3:e7:25:1d:74:54:fa:02:ae:93:e8:74:5a:42:
+        4b:d3:6d:99:61:b2:77:f3:0e:7c:f2:4e:0d:4f:70:96:54:77:
+        84:db:71:03:0b:6e:b8:a7:de:36:9a:50:c4:ed:e9:fa:33:22:
+        f5:e7:63:de:2d:df:58:ad:68:aa:e6:23:88:3a:b2:1b:40:b1:
+        2b:ab:41:23:c3:1b:c7:1b:db:0c:89:81:54:6b:a5:6b:c2:64:
+        5f:db:a9:f2:67:bb:bd:44:a2:43:3f:ea:36:76:5b:70:76:20:
+        5a:49:70:b7:42:dd:e9:67:c0:48:7e:ff:e5:f3:59:70:a7:c0:
+        eb:eb:74:b0:08:82:36:a4:84:69:97:22:02:75:0a:a6:5f:f6:
+        be:d6:af:24:4e:15:c8:3f:62:b1:f9:7e:3c:83:b5:44:da:8d:
+        97:e1:c7:f2
 -----BEGIN X509 CRL-----
 MIIB6DCB0QIBATANBgkqhkiG9w0BAQsFADCBjjELMAkGA1UEBhMCUlUxFTATBgNV
 BAgMDNCc0L7RgdC60LLQsDELMAkGA1UECgwC0K8xCzAJBgNVBAsMAtCvMSowKAYD
 ````


test_x509 was failing in a simiar way for 2 of its tests. The cosmetic changes
were very different. In addition we no longer print the redundant label "keyid:" 
in front of the hex when printing the Authority key identifier. This makes the
output consistent with the way the Subject key identifier is printed.


### Certs with explicit curve in verification chain are disallowed

PR #12683 (commit cccf532fe) made a change to disallow curves with explicit
curves in the verification chain. The commit message claims that this only
applies if strict checking is enabled. However this doesn't seem accurate. As
far as I can determine this behaviour was changed during the review process but
the commit message was not updated.

A similar PR (#12909) applied the same change (commit fdcddd935) to 1.1.1 with
the difference that the check really does only apply when "strict" checking is
enabled. This appears to have been a conscious choice.

The CHANGES entry says this:

````
 * Certificate verification using `X509_verify_cert()` meanwhile rejects EC keys
   with explicit curve parameters (specifiedCurve) as required by RFC 5480.
````

This was causing 2 failures in test_verify.


### X509 chain verification has become stricter when using the "strict" flag

A number of additional checks introduced via PR #12478 (commit bb377c8) add
further strictness to the "strict" verification. One in particular means that
when doing "strict" checking CA certificates must include the key usage
extension as per RFC 5280.

The CHANGES entry says this:

````
 * Added several checks to `X509_verify_cert()` according to requirements in
   RFC 5280 in case `X509_V_FLAG_X509_STRICT` is set
   (which may be done by using the CLI option `-x509_strict`):
   * The basicConstraints of CA certificates must be marked critical.
   * CA certificates must explicitly include the keyUsage extension.
   * If a pathlenConstraint is given the key usage keyCertSign must be allowed.
   * The issuer name of any certificate must not be empty.
   * The subject name of CA certs, certs with keyUsage crlSign,
     and certs without subjectAlternativeName must not be empty.
   * If a subjectAlternativeName extension is given it must not be empty.
   * The signatureAlgorithm field and the cert signature must be consistent.
   * Any given authorityKeyIdentifier and any given subjectKeyIdentifier
     must not be marked critical.
   * The authorityKeyIdentifier must be given for X.509v3 certs
     unless they are self-signed.
   * The subjectKeyIdentifier must be given for all X.509v3 CA certs.
````

This was causing 1 failure in test_verify.


### SHA1 certs are no longer allowed at auth_level 1 and above

We disallow SHA1 certs from auth_level 1 and above. For SSL/TLS the default
level is 1. Outside SSL/TLS the default is -1.

The CHANGES entry says this:

````
 * X509 certificates signed using SHA1 are no longer allowed at security
   level 1 and above.
   In TLS/SSL the default security level is 1. It can be set either
   using the cipher string with `@SECLEVEL`, or calling
   `SSL_CTX_set_security_level()`. If the leaf certificate is signed with SHA-1,
   a call to `SSL_CTX_use_certificate()` will fail if the security level is not
   lowered first.
   Outside TLS/SSL, the default security level is -1 (effectively 0). It can
   be set using `X509_VERIFY_PARAM_set_auth_level()` or using the `-auth_level`
   options of the commands.
````

This was causing 1 failure in test_verify


### TLSv1 and TLSv1.1 no longer work by default because of SHA1

SHA1 is no longer available at the default security level, which means that
TLSv1 and TLSv1.1 no longer work by default. Applications have to change the
security level in order to enable them.

The CHANGES entry says this:

````
 * The security strength of SHA1 and MD5 based signatures in TLS has been
   reduced. This results in SSL 3, TLS 1.0, TLS 1.1 and DTLS 1.0 no longer
   working at the default security level of 1 and instead requires security
   level 0. The security level can be changed either using the cipher string
   with `@SECLEVEL`, or calling `SSL_CTX_set_security_level()`.
````

This was causing numerous failures in the SSL/TLS tests.


### Function error strings are always NULL

test_evp has various checks for things that are expected to fail. When doing
that it checks the function and reason strings against what it was expecting.
Unfortunately the code was not written to expect a NULL value for the function
string. When the NULL is passed to strcmp it crashed.

The CHANGES entry says this:

````
 * Removed the function names from error messages and deprecated the
   xxx_F_xxx define's.
````

### Change in return value for the ctrl EVP_PKEY_CTRL_RSA_MGF1_MD

Previously this ctrl would return -2 in the event of an attempt to use this
ctrl with the rsa padding set to some mode not compatible with its use. It now
returns -1.

Is this change intentional or correct?

I suspect a number of other ctrls that previously returned -2 for some invalid
data, now no longer do.

Raised as issue #14442


### Change in behaviour for EVP_PKEY_CTRL_RSA_KEYGEN_BITS

Previously this ctrl (typically invoked via EVP_PKEY_CTX_set_rsa_keygen_bits)
would fail (with a -2 return value) if the number of bits was too small. In 3.0
any value is allowed and the failure occurs during the keygen call instead.

Is this change intentional or correct?

Raised as issue #14443


### SipHash via EVP_PKEY has lost support for EVP_PKEY_CTRL_SET_DIGEST_SIZE

In 1.1.1 using SipHash via EVP_PKEY you could use the ctrl
EVP_PKEY_CTRL_SET_DIGEST_SIZE or the ctrl string "digestsize". In 3.0, this is
no longer possible. The parameter seems to have been renamed to "size".

Running the 1.1.1 tests against 3.0 I experienced this error:

````
       # ../../test/recipes/30-test_evp_data/evpmac.txt:133: Source of above error; unexpected error EVPPKEYCTXCTRL_ERROR
        # 804B055BFB7F0000:error:03000093:digital envelope routines:default_fixup_args:command not supported:crypto/evp/ctrl_params_translate.c:582:[action:2, state:4] name=digestsize, value=8
````

Raised as issue #14370


### Legacy SM2 key generation does not work

In 1.1.1, to generate an SM2 key (in an EVP_PKEY), you would first create an EC
key (in an EVP_PKEY), and then call EVP_PKEY_set_alias_type() to convert it to
an SM2 key.

In 3.0 you are supposed to generate an SM2 key directly.

However, the CHANGES.md file seems to indicate that the old way should still
work - however it doesn't. Generating an EC key ends up with a provider side
EC key. Calling EVP_PKEY_set_alias_type() on a provided key will only work if
the "alias" type is the same as the actual type. Otherwise it fails. Therefore
legacy code will fail.

CHANGES says these things about it:

````
 * Validation of SM2 keys has been separated from the validation of regular EC
   keys, allowing to improve the SM2 validation process to reject loaded private
   keys that are not conforming to the SM2 ISO standard.
   In particular, a private scalar `k` outside the range `1 <= k < n-1` is now
   correctly rejected.


 * Deprecated EVP_PKEY_set_alias_type().  This function was previously
   needed as a workaround to recognise SM2 keys.  With OpenSSL 3.0, this key
   type is internally recognised so the workaround is no longer needed.

   Functionality is still retained as it is, but will only work with
   EVP_PKEYs with a legacy internal key.


 * Reworked the treatment of EC EVP_PKEYs with the SM2 curve to
   automatically become EVP_PKEY_SM2 rather than EVP_PKEY_EC.
   This means that applications don't have to look at the curve NID and
   `EVP_PKEY_set_alias_type(pkey, EVP_PKEY_SM2)` to get SM2 computations.
   However, they still can, that `EVP_PKEY_set_alias_type()` call acts as
   a no-op when the EVP_PKEY is already of the given type.

   Parameter and key generation is also reworked to make it possible
   to generate EVP_PKEY_SM2 parameters and keys without having to go
   through EVP_PKEY_EC generation and then change the EVP_PKEY type.
   However, code that does the latter will still work as before.
````

Raised as issue #14379


### It is no longer possible to load an SM2 key based on a non-SM2 curve

In 1.1.1 SM2 would work with any curve. You just had to remember to call
EVP_PKEY_set_alias_type() with your key to make sure that it is handled as SM2
and not standard EC.

However if you have a key saved in a PEM file based that is intended to be used
with SM2 but is based on some non-SM2 curve then it no longer seems to be
possible to load it.

For example to load an SM2 key saved in SubjectPublicKeyInfo format then you
might have used PEM_read_bio_PUBKEY to load it. The result would have been an EC
key that you convert to SM2 using EVP_PKEY_set_alias_type(). However since the
loaded key is now a provider side key the call to EVP_PKEY_set_alias_type()
fails.

I thought it would be possible to load it another way using a DECODER directly, e.g.

````
    dctx = OSSL_DECODER_CTX_new_for_pkey(&pkey, "PEM", "SubjectPublicKeyInfo",
                                         "SM2", 
                                         OSSL_KEYMGMT_SELECT_PUBLIC_KEY
                                         | OSSL_KEYMGMT_SELECT_ALL_PARAMETERS,
                                         NULL, NULL);
````
Here I am telling the decoder directly to expect an SM2 key. However this still
fails. Internally it loads the key as an EC key and then fails because it was
expecting SM2.

This is related to but slightly different to the issue described in #14379.

Raised as issue #14411


### EVP_PKEY_public_check() and EVP_PKEY_param_check() now work for RSA keys

Previously calling these functions with an RSA key would return -2 (unsupported).
This is now supported in 3.0 and consequently they return 0 or 1. The
evp_extra_test was failing because of this.

I could not find a CHANGES entry for this but I'm not sure if it really needs
one or not (no issue raised).


### RFC 7919 FFDHE groups are now treated as DHX instead of DH in an EVP_PKEY

The RFC7919 FFDHE groups are all safe primes. That RFC specifies the groups
in terms of p, q and g (where q = (p-1)/2, because they are safe). However, in
1.1.1, calling the function DH_new_by_nid() and specifying the nid for one of
these primes got you back a DH object with only p and g defined. The q value
was always NULL. In 3.0 we also provide the q value.

This makes a difference when we "assign" such a DH object to an EVP_PKEY. During
the assign we check whether the q value is present or not. If not the key type
for the EVP_PKEY is EVP_PKEY_DH. If it is then the key type is EVP_PKEY_DHX.

This means that creating an RFC7919 DH object in 3.0 and assigning it to an
EVP_PKEY results in an EVP_PKEY with a different type to what you get with 1.1.1

The same applies even if you construct a DH object for these groups "manually",
i.e. by creating the DH object by DH_new(), and setting only the p and g values
via DH_set0_pqg(). In this case the DH_set0_pqg() is sufficiently clever that it
recognises that you have set a named group and automatically fills in the q
value.

This difference was causing a test failure in evp_extra_test.

Raised as issue #14444


### The behaviour of OSSL_STORE_INFO_get_type has changed

The OSSL_STORE_INFO type OSSL_STORE_INFO_PUBKEY has been added to OpenSSL 3.0.
Therefore this value might be returned in a call to OSSL_STORE_INFO_get_type().
Previously objects that return this type would have returned
OSSL_STORE_INFO_PKEY instead. Applications using this in 1.1.1 may not know how
to handle this unexpected new type value when migrated to 3.0.

This difference was causing a test failure in 90-test_store.t

Raised as issue #14446


### 1.1.1 tolerates no suitable groups for TLSv1.3, 3.0 does not

Sending a ClientHello that claims TLSv1.3 support with no suitable groups
that can be used in TLSv1.3 was tolerated in 1.1.1. The ClientHello would be
sent anyway. It isn't tolerated in 3.0 - sending the ClientHello fails.

This seems to be the correct behaviour and is arguably a bug in 1.1.1


### Having no sigalgs in TLSv1.2 at security level 1 no longer works in 3.0

If no sigalgs are available in TLLSv1.2 then we fallback to a legacy
set. However that legacy set is based on SHA1 and is therefore not
available at the default security level. Handshakes will therefore
fail if there is no sig algs extension in TLSv1.2 in 3.0.

This should probably be mentioned in CHAGNES somewhere.

This was causing a test failure in test_sslsigalgs

Raised as issue #14447


I think OTC probably need to review this to confirm whether anything else needs to be done with this task, or whether it is complete. Hold added.

I edited the above report to include links to the newly raised issues #14476 and #14477.

OTC have now reviewed this, so I'm lifting the OTC hold and closing this issue. All the problems found are now tracked in their own individual issues. OTC noted that we may need to repeat this exercise shortly before the beta 1 release to confirm that no further behaviour differences have been introduced.