X25519 and X448 not listed in ecparam 

I'm using [OpenSSL-1.1.1b](https://www.openssl.org/source/openssl-1.1.1b.tar.gz) as listed from the official website. 

According to the [RFC 7748 Section 5](https://tools.ietf.org/html/rfc7748#section-5), these are supported curves as per TLSv1.3. Ed25519 and Ed448 are used for signatures and Curve22519 and Curve448 (named as X25519 and X448 respectively as functions) are used for the elliptic curve diffie-hellman key exchanges.
I've read in the [mailing lists](https://mta.openssl.org/pipermail/openssl-users/2016-November/004843.html) that:
> The X25519 curve(for various reasons defined in the standards) is treated as a distinct algorithm so it is not listed by ecparam.

...but this is no longer the case now. Can these be added in so as to avoid confusion?

Hi @CodeGuro, the behavior of `ecparam` that you mentioned is meant exactly to avoid confusion:

because of various reasons defined in the standards, X25519, Curve25519, Ed25519 operations (and the Curve448 counterparts) are not implemented through the generic `EC` module of OpenSSL.
Instead they have their own self-contained implementation reachable through the recommended `EVP` API.

As a result of this, it's not possible to do `openssl ec` or `openssl ecparam` operations using Curve25519/448, instead you access operations on those cryptosystems through `openssl pkey` and `openssl genpkey` to handle key management.

Does this answer your concerns?

Yes, thanks @romen 