Verify error:unsupported certificate purpose for code signing certificate

When I try to verify a CMS signature with openssl with the following command I get a `verify error unsupported certificate purpose`. Do I miss something here?
I'm using the windows version of openssl 1.1.1l.


```
>  .\openssl.exe version
OpenSSL 1.1.1l  24 Aug 2021

> .\openssl.exe cms -verify -inform pem -certfile .\RootCASigned.pem.18-11-2021_084313.pem -content .\Demo.txt -in .\Demo.txt.attached.sig -CAfile .\cacerts\cacert.pem
Verification failure
36056:error:2E099064:CMS routines:cms_signerinfo_verify_cert:certificate verify error:..\crypto\cms\cms_smime.c:253:Verify error:unsupported certificate purpose
```

The certificates involved use pretty common key usage and extended key usage settings.
The result is the same for self signed or CA signed certificates.

The CMS signature was created with `SignedCms` of the .Net Framework. Basically the result of `signedCms.ComputeSignature(signer);`. 
It was created in attached mode, putting the hash into the signature. But it does not make a difference for the result.

Here are the parts involved in this command. Sadly I can't attach pem and sig files, so I pasted them here:

CMS Signature:
https://lapo.it/asn1js/#MIIHQgYJKoZIhvcNAQcCoIIHMzCCBy8CAQMxDTALBglghkgBZQMEAgEwLwYJKoZIhvcNAQcFoCIEIGTsiMoAsmjluho1Z4obUxbSEvTzZrJHcjJTSorso388oIIEzTCCBMkwggKxoAMCAQICAQIwDQYJKoZIhvcNAQELBQAwgZwxCzAJBgNVBAYTAkFUMRAwDgYDVQQIDAdBdXN0cmlhMQ8wDQYDVQQHDAZWaWVubmExFDASBgNVBAoMC1NpZ25QYXRoLmlvMRAwDgYDVQQLDAdUZWFtIEZTMR4wHAYDVQQDDBVTaWduUGF0aCBUZXN0IFJvb3QgQ0ExIjAgBgkqhkiG9w0BCQEWE3N1cHBvcnRAc2lnbnBhdGguaW8wIBcNMjExMTE4MDc0NDM0WhgPMjEyMTEwMjUwNzQ0MzRaMDcxNTAzBgNVBAMeLABTAEkARwBOAC0ANAA1ADkAMQBfAFIAbwBvAHQAQwBhAFMAaQBnAG4AZQBkMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAwgHq_o0zv3VdaL7zJ3r8RYEioZA1CljLrEvlPqt2sDisMqqzIlLKAgXd1dRAb9QCDeTVUfTNkQxVqEVjFNgjt4hXWTj0KoneV6rZd2w6L6S_bpSheZTJohYyAGO4ShzYNRECVhNdLqol-z_1QFPct5EtkLFOEjiloA72Vhm66BwrWQxPCjMS5NqG-u4P39Xm0j1pj6czCCbp-PZHo8eK4B3UqDawudHdkTn3TTEzbsyoJCGptLUJW1A1DGID-TC7NyPYefkvCn6hqsXoh4kMmLPJs_ddjy1ceHUIwE1h4QTpLXnY_gftNtxNaLHPq3ojrVKZKavNF4UKLKJktDxH7QIDAQABo3gwdjAdBgNVHQ4EFgQUaae5-S7FYt6yIlIADYEVBBvaKScwHwYDVR0jBBgwFoAUVrNP_yKgEScOiznHhBTVm4OfNBMwDAYDVR0TAQH_BAIwADAOBgNVHQ8BAf8EBAMCB4AwFgYDVR0lAQH_BAwwCgYIKwYBBQUHAwMwDQYJKoZIhvcNAQELBQADggIBABQWxT349hfzEWXprR8PoDUTjrZCI75cfr48SXKykC9sOu-CVasnAleWsOu1OQhg35RbLYx_XJtBseV7yxMy4N2h7w39kw_Q_-ZVDASIk8C1liZplFsOMA1tMqXZmZMNwvq4tyx4-i0kTDVA2c3XOW-OB8R1gxiJMesz1zVnvpOLvKbOWvbHFCt4fu4ihYZQ7EWORAZTNJpnlwaH5QGG9tJ2NSOTjsTgQ6ftzhjGcRHhaGXHCzJarvpkueIGnrWT-OyZzBxigE1t2Pzruw1NJYbU24NaeSbMQ7k6lcxg5m2eG2xLhgDaANLnb3klPcenR_Hss8YWnIkK1PJnzkZ8NhZSktA66LXChuc7ZMlE54WEC-LFq5OYae0qun1GI3jqqw46oxuVSj1bxc8NsVbp6BTw2r-knMyX_6lOw8wwVXhcknUn5u2SZ1YRZQsJJqkv8iGuDPxk9QGGAM6erkGQu6SvNXTmMbw9vePyxhagvylIJ6vb2LRTYOwxM24o5rZz0j1e1EVB_wN2Z9YSU0QS2oziocwOykvlqrFVCE1Lqeo31csKOk8Sw0fcWhGagzuvIp95kb2vwS-z7hCZP4DVgkHO-fgrIXnkY3PEJwYySjq1TD4wjOgws4-0m-juznKBEDSnp1kTFodPNJgOg0_zsG2Y_Pl-mi8ygMWyBQZcC_72MYICFzCCAhMCAQEwgaIwgZwxCzAJBgNVBAYTAkFUMRAwDgYDVQQIDAdBdXN0cmlhMQ8wDQYDVQQHDAZWaWVubmExFDASBgNVBAoMC1NpZ25QYXRoLmlvMRAwDgYDVQQLDAdUZWFtIEZTMR4wHAYDVQQDDBVTaWduUGF0aCBUZXN0IFJvb3QgQ0ExIjAgBgkqhkiG9w0BCQEWE3N1cHBvcnRAc2lnbnBhdGguaW8CAQIwCwYJYIZIAWUDBAIBoEswGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHBTAvBgkqhkiG9w0BCQQxIgQg9txyTRGWSUYOR85xkTnlIeCCvoqXVcW-zhgd4EbuZf4wCwYJKoZIhvcNAQEBBIIBAETwVmJKBMnyHWZHhnQU30jiCoAwKbOc-BdBfiNPmIn9VpwcDt-uEQHbGEVlbSKHB2CdE98A0QKBxrAQBwlK3Ugr_7C3SgqNs3oxUy00D2bnmKBSBuZxw6QTElK9CBWURQMdK5MoZerdeOEJq2pOOIzej1xAgtZhM5nozt8a8sy9KV4b7jUmHr0Bvl6fbg8I8J0pG9SA-cjNBXvTVtktalFjciGn7nqp7uIMhO3MqGENoGonC3SxxMtJ4_yIBfXNwDwkO1unDHJs0Sgl4DAiGbMJMezm_ckYJM3EC26qyJJIRxEExLDdHbgheeHIbEw_q9s_MOKLcI9E-iAyOFBOoao

Signing certificate:
```
Certificate:
    Data:
        Version: 3 (0x2)
        Serial Number: 2 (0x2)
        Signature Algorithm: sha256WithRSAEncryption
        Issuer: C = AT, ST = Austria, L = Vienna, O = SignPath.io, OU = Team FS, CN = SignPath Test Root CA, emailAddress = support@signpath.io
        Validity
            Not Before: Nov 18 07:44:34 2021 GMT
            Not After : Oct 25 07:44:34 2121 GMT
        Subject: CN = SIGN-4591_RootCaSigned
        Subject Public Key Info:
            Public Key Algorithm: rsaEncryption
                RSA Public-Key: (2048 bit)
                Modulus:
                    00:c2:01:ea:fe:8d:33:bf:75:5d:68:be:f3:27:7a:
                    fc:45:81:22:a1:90:35:0a:58:cb:ac:4b:e5:3e:ab:
                    76:b0:38:ac:32:aa:b3:22:52:ca:02:05:dd:d5:d4:
                    40:6f:d4:02:0d:e4:d5:51:f4:cd:91:0c:55:a8:45:
                    63:14:d8:23:b7:88:57:59:38:f4:2a:89:de:57:aa:
                    d9:77:6c:3a:2f:a4:bf:6e:94:a1:79:94:c9:a2:16:
                    32:00:63:b8:4a:1c:d8:35:11:02:56:13:5d:2e:aa:
                    25:fb:3f:f5:40:53:dc:b7:91:2d:90:b1:4e:12:38:
                    a5:a0:0e:f6:56:19:ba:e8:1c:2b:59:0c:4f:0a:33:
                    12:e4:da:86:fa:ee:0f:df:d5:e6:d2:3d:69:8f:a7:
                    33:08:26:e9:f8:f6:47:a3:c7:8a:e0:1d:d4:a8:36:
                    b0:b9:d1:dd:91:39:f7:4d:31:33:6e:cc:a8:24:21:
                    a9:b4:b5:09:5b:50:35:0c:62:03:f9:30:bb:37:23:
                    d8:79:f9:2f:0a:7e:a1:aa:c5:e8:87:89:0c:98:b3:
                    c9:b3:f7:5d:8f:2d:5c:78:75:08:c0:4d:61:e1:04:
                    e9:2d:79:d8:fe:07:ed:36:dc:4d:68:b1:cf:ab:7a:
                    23:ad:52:99:29:ab:cd:17:85:0a:2c:a2:64:b4:3c:
                    47:ed
                Exponent: 65537 (0x10001)
        X509v3 extensions:
            X509v3 Subject Key Identifier:
                69:A7:B9:F9:2E:C5:62:DE:B2:22:52:00:0D:81:15:04:1B:DA:29:27
            X509v3 Authority Key Identifier:
                keyid:56:B3:4F:FF:22:A0:11:27:0E:8B:39:C7:84:14:D5:9B:83:9F:34:13

            X509v3 Basic Constraints: critical
                CA:FALSE
            X509v3 Key Usage: critical
                Digital Signature
            X509v3 Extended Key Usage: critical
                Code Signing
    Signature Algorithm: sha256WithRSAEncryption
         14:16:c5:3d:f8:f6:17:f3:11:65:e9:ad:1f:0f:a0:35:13:8e:
         b6:42:23:be:5c:7e:be:3c:49:72:b2:90:2f:6c:3a:ef:82:55:
         ab:27:02:57:96:b0:eb:b5:39:08:60:df:94:5b:2d:8c:7f:5c:
         9b:41:b1:e5:7b:cb:13:32:e0:dd:a1:ef:0d:fd:93:0f:d0:ff:
         e6:55:0c:04:88:93:c0:b5:96:26:69:94:5b:0e:30:0d:6d:32:
         a5:d9:99:93:0d:c2:fa:b8:b7:2c:78:fa:2d:24:4c:35:40:d9:
         cd:d7:39:6f:8e:07:c4:75:83:18:89:31:eb:33:d7:35:67:be:
         93:8b:bc:a6:ce:5a:f6:c7:14:2b:78:7e:ee:22:85:86:50:ec:
         45:8e:44:06:53:34:9a:67:97:06:87:e5:01:86:f6:d2:76:35:
         23:93:8e:c4:e0:43:a7:ed:ce:18:c6:71:11:e1:68:65:c7:0b:
         32:5a:ae:fa:64:b9:e2:06:9e:b5:93:f8:ec:99:cc:1c:62:80:
         4d:6d:d8:fc:eb:bb:0d:4d:25:86:d4:db:83:5a:79:26:cc:43:
         b9:3a:95:cc:60:e6:6d:9e:1b:6c:4b:86:00:da:00:d2:e7:6f:
         79:25:3d:c7:a7:47:f1:ec:b3:c6:16:9c:89:0a:d4:f2:67:ce:
         46:7c:36:16:52:92:d0:3a:e8:b5:c2:86:e7:3b:64:c9:44:e7:
         85:84:0b:e2:c5:ab:93:98:69:ed:2a:ba:7d:46:23:78:ea:ab:
         0e:3a:a3:1b:95:4a:3d:5b:c5:cf:0d:b1:56:e9:e8:14:f0:da:
         bf:a4:9c:cc:97:ff:a9:4e:c3:cc:30:55:78:5c:92:75:27:e6:
         ed:92:67:56:11:65:0b:09:26:a9:2f:f2:21:ae:0c:fc:64:f5:
         01:86:00:ce:9e:ae:41:90:bb:a4:af:35:74:e6:31:bc:3d:bd:
         e3:f2:c6:16:a0:bf:29:48:27:ab:db:d8:b4:53:60:ec:31:33:
         6e:28:e6:b6:73:d2:3d:5e:d4:45:41:ff:03:76:67:d6:12:53:
         44:12:da:8c:e2:a1:cc:0e:ca:4b:e5:aa:b1:55:08:4d:4b:a9:
         ea:37:d5:cb:0a:3a:4f:12:c3:47:dc:5a:11:9a:83:3b:af:22:
         9f:79:91:bd:af:c1:2f:b3:ee:10:99:3f:80:d5:82:41:ce:f9:
         f8:2b:21:79:e4:63:73:c4:27:06:32:4a:3a:b5:4c:3e:30:8c:
         e8:30:b3:8f:b4:9b:e8:ee:ce:72:81:10:34:a7:a7:59:13:16:
         87:4f:34:98:0e:83:4f:f3:b0:6d:98:fc:f9:7e:9a:2f:32:80:
         c5:b2:05:06:5c:0b:fe:f6
```

Test Root CA:
```
Certificate:
    Data:
        Version: 3 (0x2)
        Serial Number:
            e3:65:80:c2:f7:f6:ce:de
        Signature Algorithm: sha256WithRSAEncryption
        Issuer: C = AT, ST = Austria, L = Vienna, O = SignPath.io, OU = Team FS, CN = SignPath Test Root CA, emailAddress = support@signpath.io
        Validity
            Not Before: Jul 22 15:20:10 2020 GMT
            Not After : Jun 28 15:20:10 2120 GMT
        Subject: C = AT, ST = Austria, L = Vienna, O = SignPath.io, OU = Team FS, CN = SignPath Test Root CA, emailAddress = support@signpath.io
        Subject Public Key Info:
            Public Key Algorithm: rsaEncryption
                RSA Public-Key: (4096 bit)
                Modulus:
                    00:fb:ca:3a:9a:28:f3:d4:8d:d2:bb:35:43:1c:76:
                    73:7d:55:3f:a7:df:a7:e2:0f:32:7b:8b:dd:6f:79:
                    f6:16:8a:40:2d:70:39:57:52:e4:26:0f:a2:d8:03:
                    77:59:47:7d:1c:bb:99:0c:94:41:37:3f:83:38:c3:
                    43:c9:bc:07:bd:97:b0:a0:38:bd:87:a5:19:b7:b6:
                    fc:9d:df:5a:e3:d1:d8:6d:ce:0a:5b:7b:73:bb:22:
                    00:04:a7:dc:61:72:e9:99:33:b6:50:2f:0a:4a:5e:
                    6b:0a:8a:cb:5f:78:55:76:d4:44:d1:29:54:ed:ef:
                    c9:0a:cd:67:a9:20:ea:c3:a1:3c:62:c2:cc:d7:81:
                    6f:df:9d:65:cd:03:4b:a8:50:da:95:6d:cd:6a:10:
                    47:f6:8e:4d:db:5c:32:bb:75:94:68:58:3a:88:e5:
                    d1:f5:e2:00:2b:e6:a9:d4:ce:30:9e:12:c3:1c:3e:
                    01:87:f7:15:f1:38:cd:dc:59:c0:58:2b:6c:f9:23:
                    6b:c8:b4:1f:44:6b:4f:4a:fb:7e:30:b0:ac:da:88:
                    9c:83:7a:d1:40:c7:30:b6:da:e9:98:c9:7d:42:26:
                    53:42:a8:15:6e:7d:b0:90:15:31:48:6b:2d:b6:c4:
                    38:0c:bb:da:87:5a:ac:00:c0:57:58:0a:03:c2:fc:
                    b4:f8:59:3b:da:4e:b3:9f:e3:f4:65:14:64:69:f3:
                    63:6a:2c:79:cc:aa:7e:0d:0f:1a:fa:19:31:bc:b7:
                    26:20:70:20:dc:a6:b1:ca:3a:69:6c:cf:49:8f:f3:
                    6d:f9:90:f4:2d:12:3e:13:30:b7:b6:bb:fe:50:dd:
                    b1:e3:61:75:5e:a0:0b:4d:52:01:5e:97:17:b0:ea:
                    93:3c:43:25:c8:2b:b4:66:0b:c5:d2:b7:7c:67:ee:
                    df:28:3e:e2:dc:42:b6:81:dc:bf:05:e0:f1:77:bf:
                    08:68:95:61:8c:d6:7b:b5:a8:5e:ce:50:3c:b6:df:
                    22:73:2c:b2:3f:a2:30:64:24:ca:00:91:7d:de:3e:
                    40:8f:02:06:c8:b5:d2:cd:24:d4:bf:df:c7:6d:99:
                    a2:fd:43:21:26:0f:c6:1c:31:65:df:9a:a2:09:db:
                    5f:ed:9c:10:2e:35:2a:65:5c:76:dd:c7:8d:b9:03:
                    f7:73:1e:36:9d:ef:20:eb:42:75:42:66:f9:71:76:
                    d4:44:af:f4:5c:22:12:ba:f7:6d:c4:59:47:d4:58:
                    ec:c5:1c:4d:3f:ea:91:79:2e:17:bb:cf:45:cc:c4:
                    e6:b3:05:ff:24:83:ca:5a:ea:22:04:01:98:49:66:
                    16:5b:4d:6d:53:04:35:bb:a5:37:76:4f:30:07:5c:
                    37:ae:db
                Exponent: 65537 (0x10001)
        X509v3 extensions:
            X509v3 Subject Key Identifier:
                56:B3:4F:FF:22:A0:11:27:0E:8B:39:C7:84:14:D5:9B:83:9F:34:13
            X509v3 Authority Key Identifier:
                keyid:56:B3:4F:FF:22:A0:11:27:0E:8B:39:C7:84:14:D5:9B:83:9F:34:13

            X509v3 Basic Constraints: critical
                CA:TRUE, pathlen:1
            X509v3 Key Usage: critical
                Digital Signature, Non Repudiation, Certificate Sign, CRL Sign
            X509v3 Extended Key Usage: critical
                Code Signing
    Signature Algorithm: sha256WithRSAEncryption
         d2:1e:f9:20:b4:07:91:22:30:a9:f9:78:d7:ec:18:43:f8:f2:
         33:e5:00:be:d6:26:b6:95:5a:98:ed:75:e2:ff:75:5f:f7:b7:
         c7:95:75:19:72:ee:67:4c:ea:1c:b0:43:a6:60:c6:fc:c4:82:
         f9:38:c8:32:ed:c3:7d:0c:9f:92:7f:e6:87:b8:3f:44:f3:c4:
         51:57:24:b6:14:dc:24:75:99:2b:f3:f3:cc:d8:07:77:26:25:
         d4:7f:36:70:8f:86:97:81:82:4a:4f:89:3d:ba:a7:18:90:c7:
         8f:8c:e2:84:37:40:0b:25:50:24:18:11:fd:78:4e:09:0d:0c:
         da:f9:b7:3d:e2:74:8a:53:88:83:4e:f2:d8:fb:62:3a:cd:0a:
         a3:99:ce:0c:06:92:ae:cb:6a:50:c8:2b:5a:f6:db:12:1a:df:
         20:a5:74:69:23:df:2b:12:d8:81:b2:58:c6:b1:b4:20:09:1d:
         ad:73:82:6b:38:bd:92:ff:0e:19:07:d7:47:36:ec:3b:cf:63:
         3d:4b:fe:ce:1e:a2:a5:1c:03:37:68:64:92:74:73:a2:1f:1d:
         7d:cd:2b:43:2e:49:ce:fa:55:d4:71:50:f3:a8:50:e2:6d:9c:
         5a:c8:8e:e6:a3:22:45:2d:c2:fd:ff:3c:b4:a2:b1:a6:29:c8:
         b7:2d:66:7d:34:81:4d:06:d8:65:60:9c:62:7c:ff:0c:8d:43:
         b6:56:43:29:60:3c:f6:98:99:87:e8:94:71:be:f5:e6:fa:7e:
         39:c2:80:e4:2b:1c:6a:5a:48:bc:be:4e:35:dc:12:ed:38:73:
         78:5a:a2:49:ba:7d:fc:bc:cf:a6:bd:80:f3:9b:10:ae:0b:70:
         8f:71:4d:b9:26:83:47:27:60:e9:5e:ea:6b:7a:0a:7e:4e:b7:
         f9:50:3a:2c:74:07:c0:51:32:07:59:e1:e6:23:a4:53:64:09:
         c9:71:36:2e:8e:dc:c9:a4:9d:b6:69:24:33:fe:ec:57:2c:83:
         c8:6d:a7:80:6b:6d:29:57:e4:7d:44:40:a6:6a:7b:20:ea:bd:
         cf:7a:fa:42:66:29:5d:30:17:a2:82:8b:7a:20:9e:40:59:8d:
         d2:7d:c2:bc:c3:16:22:d9:6e:01:cc:9e:bb:d5:2d:0e:2e:12:
         e6:22:d0:0e:c7:51:85:69:1b:5e:60:ca:c4:b1:d6:7c:64:4d:
         a9:7a:e6:f0:42:9b:80:2b:34:7e:d4:21:16:cb:d7:92:6c:68:
         f7:e7:ee:1e:51:17:5e:0a:c6:4e:f0:01:8d:f2:b5:f2:20:88:
         4a:85:4e:53:ca:3b:c1:4c:6c:0d:88:ba:cc:64:05:c2:29:68:
         9a:b0:ea:16:29:e9:88:67
```
Demo.txt
`Hello world
`

Signing certificate
```
-----BEGIN CERTIFICATE-----
MIIEyTCCArGgAwIBAgIBAjANBgkqhkiG9w0BAQsFADCBnDELMAkGA1UEBhMCQVQxEDAOBgNVBAgMB0F1c3RyaWExDzANBgNVBAcMBlZpZW5uYTEUMBIGA1UECgwLU2lnblBhdGguaW8xEDAOBgNVBAsMB1RlYW0gRlMxHjAcBgNVBAMMFVNpZ25QYXRoIFRlc3QgUm9vdCBDQTEiMCAGCSqGSIb3DQEJARYTc3VwcG9ydEBzaWducGF0aC5pbzAgFw0yMTExMTgwNzQ0MzRaGA8yMTIxMTAyNTA3NDQzNFowNzE1MDMGA1UEAx4sAFMASQBHAE4ALQA0ADUAOQAxAF8AUgBvAG8AdABDAGEAUwBpAGcAbgBlAGQwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQDCAer+jTO/dV1ovvMnevxFgSKhkDUKWMusS+U+q3awOKwyqrMiUsoCBd3V1EBv1AIN5NVR9M2RDFWoRWMU2CO3iFdZOPQqid5Xqtl3bDovpL9ulKF5lMmiFjIAY7hKHNg1EQJWE10uqiX7P/VAU9y3kS2QsU4SOKWgDvZWGbroHCtZDE8KMxLk2ob67g/f1ebSPWmPpzMIJun49kejx4rgHdSoNrC50d2ROfdNMTNuzKgkIam0tQlbUDUMYgP5MLs3I9h5+S8KfqGqxeiHiQyYs8mz912PLVx4dQjATWHhBOktedj+B+023E1osc+reiOtUpkpq80XhQosomS0PEftAgMBAAGjeDB2MB0GA1UdDgQWBBRpp7n5LsVi3rIiUgANgRUEG9opJzAfBgNVHSMEGDAWgBRWs0//IqARJw6LOceEFNWbg580EzAMBgNVHRMBAf8EAjAAMA4GA1UdDwEB/wQEAwIHgDAWBgNVHSUBAf8EDDAKBggrBgEFBQcDAzANBgkqhkiG9w0BAQsFAAOCAgEAFBbFPfj2F/MRZemtHw+gNROOtkIjvlx+vjxJcrKQL2w674JVqycCV5aw67U5CGDflFstjH9cm0Gx5XvLEzLg3aHvDf2TD9D/5lUMBIiTwLWWJmmUWw4wDW0ypdmZkw3C+ri3LHj6LSRMNUDZzdc5b44HxHWDGIkx6zPXNWe+k4u8ps5a9scUK3h+7iKFhlDsRY5EBlM0mmeXBoflAYb20nY1I5OOxOBDp+3OGMZxEeFoZccLMlqu+mS54gaetZP47JnMHGKATW3Y/Ou7DU0lhtTbg1p5JsxDuTqVzGDmbZ4bbEuGANoA0udveSU9x6dH8eyzxhaciQrU8mfORnw2FlKS0DrotcKG5ztkyUTnhYQL4sWrk5hp7Sq6fUYjeOqrDjqjG5VKPVvFzw2xVunoFPDav6SczJf/qU7DzDBVeFySdSfm7ZJnVhFlCwkmqS/yIa4M/GT1AYYAzp6uQZC7pK81dOYxvD294/LGFqC/KUgnq9vYtFNg7DEzbijmtnPSPV7URUH/A3Zn1hJTRBLajOKhzA7KS+WqsVUITUup6jfVywo6TxLDR9xaEZqDO68in3mRva/BL7PuEJk/gNWCQc75+CsheeRjc8QnBjJKOrVMPjCM6DCzj7Sb6O7OcoEQNKenWRMWh080mA6DT/OwbZj8+X6aLzKAxbIFBlwL/vY=
-----END CERTIFICATE-----
```

Test Root CA certificate
```
-----BEGIN CERTIFICATE-----
MIIGPTCCBCWgAwIBAgIJAONlgML39s7eMA0GCSqGSIb3DQEBCwUAMIGcMQswCQYD
VQQGEwJBVDEQMA4GA1UECAwHQXVzdHJpYTEPMA0GA1UEBwwGVmllbm5hMRQwEgYD
VQQKDAtTaWduUGF0aC5pbzEQMA4GA1UECwwHVGVhbSBGUzEeMBwGA1UEAwwVU2ln
blBhdGggVGVzdCBSb290IENBMSIwIAYJKoZIhvcNAQkBFhNzdXBwb3J0QHNpZ25w
YXRoLmlvMCAXDTIwMDcyMjE1MjAxMFoYDzIxMjAwNjI4MTUyMDEwWjCBnDELMAkG
A1UEBhMCQVQxEDAOBgNVBAgMB0F1c3RyaWExDzANBgNVBAcMBlZpZW5uYTEUMBIG
A1UECgwLU2lnblBhdGguaW8xEDAOBgNVBAsMB1RlYW0gRlMxHjAcBgNVBAMMFVNp
Z25QYXRoIFRlc3QgUm9vdCBDQTEiMCAGCSqGSIb3DQEJARYTc3VwcG9ydEBzaWdu
cGF0aC5pbzCCAiIwDQYJKoZIhvcNAQEBBQADggIPADCCAgoCggIBAPvKOpoo89SN
0rs1Qxx2c31VP6ffp+IPMnuL3W959haKQC1wOVdS5CYPotgDd1lHfRy7mQyUQTc/
gzjDQ8m8B72XsKA4vYelGbe2/J3fWuPR2G3OClt7c7siAASn3GFy6ZkztlAvCkpe
awqKy194VXbURNEpVO3vyQrNZ6kg6sOhPGLCzNeBb9+dZc0DS6hQ2pVtzWoQR/aO
TdtcMrt1lGhYOojl0fXiACvmqdTOMJ4Swxw+AYf3FfE4zdxZwFgrbPkja8i0H0Rr
T0r7fjCwrNqInIN60UDHMLba6ZjJfUImU0KoFW59sJAVMUhrLbbEOAy72odarADA
V1gKA8L8tPhZO9pOs5/j9GUUZGnzY2osecyqfg0PGvoZMby3JiBwINymsco6aWzP
SY/zbfmQ9C0SPhMwt7a7/lDdseNhdV6gC01SAV6XF7DqkzxDJcgrtGYLxdK3fGfu
3yg+4txCtoHcvwXg8Xe/CGiVYYzWe7WoXs5QPLbfInMssj+iMGQkygCRfd4+QI8C
Bsi10s0k1L/fx22Zov1DISYPxhwxZd+aognbX+2cEC41KmVcdt3HjbkD93MeNp3v
IOtCdUJm+XF21ESv9FwiErr3bcRZR9RY7MUcTT/qkXkuF7vPRczE5rMF/ySDylrq
IgQBmElmFltNbVMENbulN3ZPMAdcN67bAgMBAAGjfjB8MB0GA1UdDgQWBBRWs0//
IqARJw6LOceEFNWbg580EzAfBgNVHSMEGDAWgBRWs0//IqARJw6LOceEFNWbg580
EzASBgNVHRMBAf8ECDAGAQH/AgEBMA4GA1UdDwEB/wQEAwIBxjAWBgNVHSUBAf8E
DDAKBggrBgEFBQcDAzANBgkqhkiG9w0BAQsFAAOCAgEA0h75ILQHkSIwqfl41+wY
Q/jyM+UAvtYmtpVamO114v91X/e3x5V1GXLuZ0zqHLBDpmDG/MSC+TjIMu3DfQyf
kn/mh7g/RPPEUVckthTcJHWZK/PzzNgHdyYl1H82cI+Gl4GCSk+JPbqnGJDHj4zi
hDdACyVQJBgR/XhOCQ0M2vm3PeJ0ilOIg07y2PtiOs0Ko5nODAaSrstqUMgrWvbb
EhrfIKV0aSPfKxLYgbJYxrG0IAkdrXOCazi9kv8OGQfXRzbsO89jPUv+zh6ipRwD
N2hkknRzoh8dfc0rQy5JzvpV1HFQ86hQ4m2cWsiO5qMiRS3C/f88tKKxpinIty1m
fTSBTQbYZWCcYnz/DI1DtlZDKWA89piZh+iUcb715vp+OcKA5CscalpIvL5ONdwS
7ThzeFqiSbp9/LzPpr2A85sQrgtwj3FNuSaDRydg6V7qa3oKfk63+VA6LHQHwFEy
B1nh5iOkU2QJyXE2Lo7cyaSdtmkkM/7sVyyDyG2ngGttKVfkfURApmp7IOq9z3r6
QmYpXTAXooKLeiCeQFmN0n3CvMMWItluAcyeu9UtDi4S5iLQDsdRhWkbXmDKxLHW
fGRNqXrm8EKbgCs0ftQhFsvXkmxo9+fuHlEXXgrGTvABjfK18iCISoVOU8o7wUxs
DYi6zGQFwilomrDqFinpiGc=
-----END CERTIFICATE-----
```

I considered the extended KU Code Signing (1.3.6.1.5.5.7.3.3) pretty common. 
And even if it doesn't fit the CMS signature scenario, the "Digital Signature" KU should match and the Code Signing extended KU could just be ignored here.

You have it marked as critical so it is not an extension marked as something safe to ignore if the code does not expect it and does not know how to handle it according to that context. That is pretty much the entire point of a criticality indicator.

True, but the error also appears for certificates where the Code Signing EKU is not critical.

At this point I would expect OpenSSL to ignore non critical EKU OIDs it doesn't know.

Also the error "unsupported certificate purpose" does not match the perspective, that you maybe might not allow critical Code Signing certificates for CMS signatures.

```
>.\openssl.exe cms -verify -inform pem -certfile .\Valid_SHA2.pem -content .\Demo.txt -in .\Demo.txt.attached.sig -CAfile Valid_SHA2.pem
Verification failure
21368:error:2E099064:CMS routines:cms_signerinfo_verify_cert:certificate verify error:..\crypto\cms\cms_smime.c:253:Verify error:unsupported certificate purpose

> .\openssl.exe x509 -in .\Valid_SHA2.pem -inform PEM -text -noout
Certificate:
    Data:
        Version: 3 (0x2)
        Serial Number:
            5a:cf:e8:34:cc:3a:b3:ae:42:b9:58:2a:c3:76:33:a5
        Signature Algorithm: sha256WithRSAEncryption
        Issuer: CN = SignPath.SignService.Test.Untrusted.Valid_SHA2
        Validity
            Not Before: Dec 31 22:00:00 1999 GMT
            Not After : Dec 30 22:00:00 9999 GMT
        Subject: CN = SignPath.SignService.Test.Untrusted.Valid_SHA2
        Subject Public Key Info:
            Public Key Algorithm: rsaEncryption
                RSA Public-Key: (2048 bit)
                Modulus:
                    00:a3:f1:16:46:75:b2:a4:b1:03:8d:11:62:32:46:
                    a3:8d:d6:30:ea:48:9e:48:bc:4d:1b:2a:64:ba:46:
                    5e:ca:b8:ab:0f:9b:ea:32:a0:5f:93:54:f0:1b:c9:
                    15:d6:5d:0e:2c:77:70:c1:f2:41:bd:8c:00:64:0a:
                    c4:82:f5:1e:69:61:0a:fd:c6:06:4a:dc:ae:b5:5c:
                    dc:56:f4:fc:2b:cd:3d:ea:02:56:d0:42:af:d9:a9:
                    d2:23:92:2c:08:32:a7:b8:f1:03:b6:32:6c:c2:4b:
                    ac:ca:c7:fa:eb:4a:e8:38:52:45:6f:f1:12:23:68:
                    87:df:1a:f4:b0:5a:4b:08:b8:c1:90:86:3e:cf:b1:
                    72:7c:18:16:6d:0a:f2:05:17:a9:ea:ac:d0:39:ff:
                    f5:87:b2:7b:e4:6e:20:88:32:a0:bd:e9:2f:6a:ab:
                    79:54:34:21:8e:48:bc:2e:73:22:4a:02:85:bd:a4:
                    1f:25:d3:a8:99:f9:aa:c7:e3:c3:ba:6d:fd:5f:2b:
                    d7:2c:03:5a:13:4d:f6:1c:2c:7b:76:0a:01:a4:1e:
                    c1:87:eb:32:48:24:59:95:d3:ec:0d:d3:e4:42:d9:
                    32:9a:48:9b:8e:3e:46:4a:af:fe:fa:7e:a1:da:23:
                    d4:46:b2:26:b9:d3:51:e2:55:0c:7a:8a:40:48:e3:
                    29:dd
                Exponent: 65537 (0x10001)
        X509v3 extensions:
            X509v3 Extended Key Usage:
                Code Signing
            X509v3 Key Usage: critical
                Digital Signature
            X509v3 Subject Key Identifier:
                8E:22:B6:F1:31:C9:D3:2B:FC:6C:7F:D6:C4:0D:B1:80:C9:D8:06:6E
    Signature Algorithm: sha256WithRSAEncryption
         73:84:c6:ac:0d:4f:37:21:08:2c:ab:02:08:69:ab:b3:12:60:
         f8:f1:76:70:1d:af:8d:8f:7b:8f:c9:f2:b2:75:b4:d0:45:1a:
         71:37:e8:ad:61:64:7d:c8:89:5e:a8:03:00:02:2e:49:7d:e3:
         18:14:bb:fc:c7:d4:49:90:27:51:0a:83:b3:55:ff:76:27:bd:
         df:95:da:bd:b5:dd:b1:be:06:79:c5:8c:c8:e8:87:e8:2c:15:
         9b:83:56:13:a6:c7:93:02:49:ef:e6:4a:5e:4e:12:a2:05:ca:
         2a:87:37:51:d3:d6:6e:1a:bb:46:a4:01:65:84:2c:da:a7:80:
         0a:34:91:f0:58:ed:72:4d:5d:85:5b:b0:98:c9:64:4d:60:c1:
         e7:b7:8f:bf:04:3e:c2:fb:81:18:70:94:00:e8:d9:8b:1a:8b:
         f4:8c:44:81:71:29:74:19:34:d6:4b:9c:23:c2:90:1b:40:2f:
         e8:f6:ca:b6:31:ac:6d:2d:49:a2:1f:55:37:2b:11:1d:17:5d:
         8a:cb:89:fd:60:f1:67:a4:a4:d6:02:89:ef:94:18:51:2f:10:
         79:1a:7b:16:e2:7c:57:45:e5:9e:84:d6:f9:4a:92:c1:be:f4:
         e6:ca:a5:96:47:f3:b2:89:9e:cb:c0:b2:ac:ec:89:31:df:b9:
         20:dc:71:3b
```

Yes, we tested it also without the critical flag and it still does not verify. Why's that so?

Would you take a pull request fixing this behavior?

Best regards,
D.R.

I believe that OpenSSL's current behavior is correct.

> And even if it doesn't fit the CMS signature scenario, the "Digital Signature" KU should match and the Code Signing extended KU could just be ignored here.

This is not the way that it is supposed to work. As Section 4.2.1.12 of [RFC 5280](https://www.rfc-editor.org/rfc/rfc5280.html#section-4.2.1.12) says:
```
   If a certificate contains both a key usage extension and an extended
   key usage extension, then both extensions MUST be processed
   independently and the certificate MUST only be used for a purpose
   consistent with both extensions.  If there is no purpose consistent
   with both extensions, then the certificate MUST NOT be used for any
   purpose.
```
> Yes, we tested it also without the critical flag and it still does not verify. Why's that so?

The result should be the same whether the extended key usage extension is marked as critical or non-critical. Section 4.2 of [RFC 5280](https://www.rfc-editor.org/rfc/rfc5280.html#section-4.2) says:
```
   A non-critical extension MAY be ignored if it is not recognized, but MUST be
   processed if it is recognized.
```
Since OpenSSL recognizes the extended key usage extension, it MUST process the extension whether it is marked as critical or non-critical.

> At this point I would expect OpenSSL to ignore non critical EKU OIDs it doesn't know.

While it is my guess that OpenSSL does know the code signing EKU OID, it doesn't matter whether OpenSSL knows the OID or not. Section 4.2.1.12 of [RFC 5280](https://www.rfc-editor.org/rfc/rfc5280.html#section-4.2.1.12) says:
```
   If the [EKU] extension is present, then the certificate MUST only be used
   for one of the purposes indicated.  If multiple purposes are
   indicated the application need not recognize all purposes indicated,
   as long as the intended purpose is present.
```

Can you elaborate why "Code Signing" is not a valid certificate usage for CMS signing? To my understanding CMS is a very general format and can therefore be used for code as well. For example, we're packing code into a CMS, are successfully signing it with openssl but are then unable to verify it because now the certificate purpose is invalid...

Best regards,
D.R.

I agree that the "right thing" to do here is have a `-purpose` option for code signing.  But that part of OpenSSL is currently a bit under-loved, with built-in support for only a handful of purposes: TLS client/server (plus "NS SSL server"), SMIME sign/encrypt, CRL sign, any, OCSP, and timestamp.
The APIs do appear to exist to allow for the application to add more purpose configurations at runtime, but it's ... pretty complicated (and the `openssl` utility doesn't do so, of course).

> Specifying a -purpose of any seems to result in OpenSSL getting past the EKU check.

Ah yes, you're right. That's very good news, so we can tell our customers to use this option to verify our signatures.

> I agree that the "right thing" to do here is have a -purpose option for code signing.
> [...]
> Perhaps it would be helpful if -purpose could be specified as code signing for the use case you are describing, so that OpenSSL could be informed that the data being signed in the CMS object is code, but that doesn't seem to be supported at the moment.

That would be indeed the best option for us and for openssl in general. Is there a way to improve the chances of this being built? Donations? Are you taking pull requests for such endeavors?

Best regards,
D.R.

What is the current state on the blockers? Is it only someone pushing a PR to introduce it? Or is it a RFC blocker?
This feature would be extremely welcome, it would mean openssl can be used to verify signed binary blobs with CA lookups without the need for email protection being set in the certificate. Giving the option to not only rely on PGP.

I don't feel comfortable with C to the degree where a PR would be even remotely acceptable. But it would mean that codsigning could be used to verify 

Same here, I'm not profound enough with C to a degree where I can provide source code for a security-related library. I'm primarily a .NET developer. Would also be very glad to see this in the OpenSSL product : )

This issue was closed because it was marked with the help wanted label and there was no interest in implementing this issue or any other activity for more than 2 months.