Unit tests fail with "no-sm2"

This also occurs when "no-sm3" is configured. I have not been able to debug this.

```
ok 6 - running evp_test evppbe.txt
    # Subtest: ../../test/evp_test
    1..1
        # Subtest: run_file_tests
        1..1
        # INFO:  @ test/testutil/stanza.c:21
        # Reading ../../test/recipes/30-test_evp_data/evppkey.txt
        # INFO:  @ test/testutil/stanza.c:121
        # Starting "RSA tests" tests at line 131
        # INFO:  @ test/testutil/stanza.c:121
        # Starting "EC tests" tests at line 590
        # INFO:  @ test/testutil/stanza.c:121
        # Starting "DSA tests" tests at line 652
        # INFO:  @ test/testutil/stanza.c:121
        # Starting "X25519 test vectors (from RFC7748 6.1)" tests at line 705
        # INFO:  @ test/testutil/stanza.c:121
        # Starting "X448 test vectors (from RFC7748 6.2)" tests at line 773
        # INFO:  @ test/testutil/stanza.c:121
        # Starting "RSA PSS/OAEP (from RSASecurity FTP)" tests at line 848
        # INFO:  @ test/testutil/stanza.c:121
        # Starting "ECDH tests (with random keys)" tests at line 1853
        # INFO:  @ test/testutil/stanza.c:121
        # Starting "ECDH KATs (from RFC 5114, 5903, 7027)" tests at line 5408
        # INFO:  @ test/testutil/stanza.c:121
        # Starting "ECDH KATs (from NIST SP800-56A co-factor ECDH KATs" tests at line 5908
        # INFO:  @ test/testutil/stanza.c:121
        # Starting "Test keypair mistmatches" tests at line 17261
        # INFO:  @ test/testutil/stanza.c:121
        # Starting "DigestSign and DigestVerify" tests at line 17368
        # INFO:  @ test/testutil/stanza.c:121
        # Starting "ED25519 tests from RFC8032" tests at line 17428
        # INFO:  @ test/testutil/stanza.c:121
        # Starting "ED448 tests from RFC8032" tests at line 17573
        # INFO:  @ test/testutil/stanza.c:121
        # Starting "RFC7919 DH tests" tests at line 17816
        # INFO:  @ test/testutil/stanza.c:121
        # Starting "SM2 tests" tests at line 18373
../../util/shlib_wrap.sh ../../test/evp_test ../../test/recipes/30-test_evp_data/evppkey.txt => 139
not ok 7 - running evp_test evppkey.txt

#   Failed test 'running evp_test evppkey.txt'
#   at ../test/recipes/30-test_evp.t line 23.
# Looks like you failed 1 test of 7.
Dubious, test returned 1 (wstat 256, 0x100)
Failed 1/7 subtests 

Test Summary Report
-------------------
../test/recipes/30-test_evp.t (Wstat: 256 Tests: 7 Failed: 1)
  Failed test:  7
  Non-zero exit status: 1
Files=1, Tests=7, 33 wallclock secs ( 0.04 usr  0.00 sys + 32.48 cusr  0.22 csys = 32.74 CPU)
Result: FAIL
make[1]: *** [_tests] Error 1
make[1]: Leaving directory `/home/tshort/perforce/openssl-fips/openssl'
make: *** [tests] Error 2
~/git/openssl (master=)$ 
```