Built-in OSSL_STORE loader fails to open PEM files that have explanatory text longer than 4096 bytes

As mentioned in [RFC 7468, section 5.2](https://tools.ietf.org/html/rfc7468#section-5.2), PEM files are allowed to have explanatory text before their `BEGIN` headers. OpenSSL's builtin store loader supports that, but with a (rather small, hard-coded and undocumented) limit of 4096 characters before the header. This seems an arbitrary number and the fact that this limit exists seems arbitrary in the first place.

The code responsible for this can be found in [crypt/store/loader_file.c](https://github.com/openssl/openssl/blob/OpenSSL_1_1_1g/crypto/store/loader_file.c#L873).

The reason for this is so that we can try to find out what the contents are by peeking, so the actual reading is done from the same starting position.  So what the code does is to place the BIO_f_buffer() filter in top of the input BIO, and peek.  The buffer size is what BIO_f_buffer() uses as default size, see here:

https://github.com/openssl/openssl/blob/c5b356d5d6cfca1128b35f235dfdb893f2888027/crypto/bio/bf_buff.c#L23

Why not use BIO_tell() or BIO_seek()?  We have an alternative to OSSL_STORE_open(); OSSL_STORE_attach() lets you pass a BIO directly, and have that represent whatever scheme the caller finds fitting.  This means that the input BIO could be standard input, for which there is no BIO_tell() or BIO_seek() support, so we need to treat the BIO carefully.

There are two ways to solve the issue:

-   Increase the buffer size, but the question is to what.  We can't resize it on the fly, that currently clears the BIO_f_buffer() internal buffer
-   Create a dynamic caching filter BIO, which becomes a kind of resizeble window on top of the input BIO, and has internal support for BIO_tell(), BIO_seek() and whatever else is expected from a "normal" file.

The latter is on my wish list...  so is huge amounts of time :wink:

Thanks for explaining @levitte .

The/A problem is that this limit is easily exceeded for certain types of certificates, for example those containing a DSA public key of 2 kbits (or larger). The failing `open()` function makes it hard to rely on the store functionality.

I was not aware of the `attach()` functionality. From `grep`-ing around, it seems to be an (unused?) internal function?

It's not unused as far as I recall. Also, it has become public in master.

The quick fix is a larger buffer. By how much, would you recon? 

Another, or an additional, option is to limit the length (by default) of the explanatory text when a PEM file is produced by any of the OpenSSL tools, to align it with the store limitation. That way, the problem will at least not be hit when working within the OpenSSL ecosystem only.

I took the 4096 bit DSA cert example from [here](http://fm4dd.com/openssl/certexamples.htm) and used OpenSSL's `x509` tool to convert it to text, resulting in 8094 bytes. So for the quick fix you mentioned, maybe doubling the current buffer size would be a good choice, if 8K is considered acceptable for a variable on the stack.

Marking as inactive, to be closed at the end of 3.4 dev barring further input

I do not see this limitation with 3.x provided OSSL_STORE.

Closing as the issue was labeled as inactive for extended period of time and there was no additional input.
Please add a comment if you have any further information to support reopening the issue.
