Contributing JPAKE with Elliptic Curves

Per the [FAQ](https://github.com/openssl/openssl/blob/master/CONTRIBUTING), I wanted to reach out to the community to get an idea surrounding the addition of this feature.

You can read the RFC here if you're unfamiliar with Password Authenticated Key Exchange by Juggling, and want to take the time to read more about it:
* https://tools.ietf.org/html/rfc8236

I understand OpenSSL had an implementation of this over finite field (which looks like it was removed in 2016), but this didn't quite fit my use case.  So, I completed an implementation of JPAKE with elliptic curves.  It may take me some time to port this over in to OpenSSL proper, but I'd like to contribute this if there's no concern against it (and if no one is already actively working on it).

@richsalz: You removed the old code, care to comment?

I'd say following. We obviously can't and even shouldn't aim for implementing/absorbing *everything* cryptographic. It's just not feasible. If a **non-TLS** algorithm, be it authentication scheme, key exchange or encryption mode, can be **efficiently** implemented on top of libcrypto, and is used by just one application, I see no reason for why application can't "house" the implementation. Or why it can't be implemented as a separate library, in case it's used by couple of applications. Do note keywords, "non-TLS" and "efficiently". And of course reference to amount of applications is kind of implied "popularity". Well, on certain level "non-TLS" is antonymous to "popularity"...

@dot-asm , I think that makes sense, and I agree with the sentiment.  I intuited that exporting this code would be the right thing to do given that it was committed (albeit removed) previously, and that it would bring parity with [mbedTLS](https://tls.mbed.org/api/ecjpake_8h.html)'s implementation.

The two implementations could talk with each other; this is what I'm using it for, but I only intend to post the code for each step of the JPAKE algorithm (largely operations on EC points and creating/validating zero knowledge proofs).  I think coordinating the exchange, and what the participants do with the shared key, is application specific.

I'm not sure if that ameliorates your concern though, or how you're feeling about this proposed contribution.  Either way I appreciate the input.

I think this feature should be implemented in similar to mbedtls way. As TLS extension 256. It makes EC-JPAKE useful with Thread protocol. Not sure what is the status in standards of this extension.

Please don't just pick a random number from the TLS extension list. Publish a standard, and get IANA to assign a number instead. RFC8236 is not good enough to do anything with it. It does not say how that should work with TLS.

This particular number was selected by Thread group. Not sure if it is final, but currently it works with extension 256. It is mentioned in mbedtls as MBEDTLS_TLS_EXT_ECJPAKE_KKPP.

Tell them to stop using it. Either they should officially get one assigned, or use a number from the private range.

From https://www.iana.org/assignments/tls-extensiontype-values/tls-extensiontype-values.xhtml:
```
TLS ExtensionType Values

Registration Procedure(s)

    Specification Required

Expert(s)

    Yoav Nir, Rich Salz, Nick Sullivan

Reference
    [RFC8446][RFC8447]
Note

    The role of the designated expert is described in [RFC8447].
    The designated expert [RFC8126] ensures that the specification is
    publicly available.  It is sufficient to have an Internet-Draft
    (that is posted and never published as an RFC) or a document from
    another standards body, industry consortium, university site, etc.
    The expert may provide more in-depth reviews, but their approval
    should not be taken as an endorsement of the extension.  
        

Note

    As specified in [RFC8126], assignments made in the Private Use
    space are not generally useful for broad interoperability.  It is
    the responsibility of those making use of the Private Use range to
    ensure that no conflicts occur (within the intended scope of use).
    For widespread experiments, temporary reservations are available.
```

@kroeckx is correct.  Just picking a number, when there are official ways to do this, is a bad idea.  (FWIW I'm one of the three people listed above.)

The OpenSSL policy is that there must be a standard that uses the algorithm.  Defacto unpublished standards, which in addition "squat" on an extension number, don't meet that requirement.

@mccurryd I'd like to chat with you about the EC-JPAKE implementation.  I have a memory leak or two to report, and a couple of other suggestions.

Forgot to leave contact info: everhart.at.netapp.com would do.

Marking as inactive, to be closed at the end of 3.4 dev barring further input

Closing as the issue was labeled as inactive for extended period of time and there was no additional input.
Please add a comment if you have any further information to support reopening the issue.
