RSA-based CMS signature not verified successfully when optional AlgorithmIdentifier parameters are omitted

# Problem

The command does not lead to the expected outcome using openssl version 1.1.1+ up to 3.0.8:

```
openssl cms -verify -CAfile UN_CSCA.pem -in UN_r231.ml -inform DER -purpose any -out /dev/null
CMS Verification failure
40375E22107F0000:error:02000068:rsa routines:ossl_rsa_verify:bad signature:../crypto/rsa/rsa_sign.c:430:
40375E22107F0000:error:1C880004:Provider routines:rsa_verify:RSA lib:../providers/implementations/signature/rsa_sig.c:774:
40375E22107F0000:error:1700009E:CMS routines:CMS_SignerInfo_verify:verification failure:../crypto/cms/cms_sd.c:899:
```

# Background

The UN_r231.ml is a CSCA master list defined by ICAO Doc9303 Edition 8 Part 12 relying upon RFC 5652 (Cryptographic Message Syntax).

It is signed by a certificate chain "UN CSCA -> UN Master List Signer".

Both certificates are included in the `certificates` field.

# ASN.1 structure

```
    0:d=0  hl=5 l=580282 cons: SEQUENCE
    5:d=1  hl=2 l=   9 prim:  OBJECT            :pkcs7-signedData
   16:d=1  hl=5 l=580266 cons:  cont [ 0 ]
   21:d=2  hl=5 l=580261 cons:   SEQUENCE
   26:d=3  hl=2 l=   1 prim:    INTEGER           :03
   29:d=3  hl=2 l=  13 cons:    SET
   31:d=4  hl=2 l=  11 cons:     SEQUENCE
   33:d=5  hl=2 l=   9 prim:      OBJECT            :sha256
   44:d=3  hl=5 l=576733 cons:    SEQUENCE
   49:d=4  hl=2 l=   6 prim:     OBJECT            :2.23.136.1.1.2
   57:d=4  hl=5 l=576720 cons:     cont [ 0 ]
   62:d=5  hl=5 l=576715 prim:      OCTET STRING      [HEX DUMP]:308308CCC
   [...] eContent details left out
   B265F37A10ABCCACA41F4DA363C4EB882D399C963932177C64DB2E4D3623E7CCDF6CA5107F4300
576782:d=3  hl=4 l=3076 cons:    cont [ 0 ]
576786:d=4  hl=4 l=1436 cons:     SEQUENCE
576790:d=5  hl=4 l=1028 cons:      SEQUENCE
576794:d=6  hl=2 l=   3 cons:       cont [ 0 ]
576796:d=7  hl=2 l=   1 prim:        INTEGER           :02
576799:d=6  hl=2 l=   4 prim:       INTEGER           :599703A4
576805:d=6  hl=2 l=  13 cons:       SEQUENCE
576807:d=7  hl=2 l=   9 prim:        OBJECT            :sha256WithRSAEncryption
576818:d=7  hl=2 l=   0 prim:        NULL
[...] MLS certificate details left out
577795:d=8  hl=2 l=  25 cons:         SEQUENCE
577797:d=9  hl=2 l=   9 prim:          OBJECT            :1.2.840.113533.7.65.0
577808:d=9  hl=2 l=  12 prim:          OCTET STRING      [HEX DUMP]:300A1B0456382E32030204B0
577822:d=5  hl=2 l=  13 cons:      SEQUENCE
577824:d=6  hl=2 l=   9 prim:       OBJECT            :sha256WithRSAEncryption
577835:d=6  hl=2 l=   0 prim:       NULL
577837:d=5  hl=4 l= 385 prim:      BIT STRING
578226:d=4  hl=4 l=1632 cons:     SEQUENCE
578230:d=5  hl=4 l=1224 cons:      SEQUENCE
578234:d=6  hl=2 l=   3 cons:       cont [ 0 ]
578236:d=7  hl=2 l=   1 prim:        INTEGER           :02
578239:d=6  hl=2 l=   4 prim:       INTEGER           :5996E258
[...] CSCA certificate details left out
579458:d=5  hl=2 l=  13 cons:      SEQUENCE
579460:d=6  hl=2 l=   9 prim:       OBJECT            :sha256WithRSAEncryption
579471:d=6  hl=2 l=   0 prim:       NULL
579473:d=5  hl=4 l= 385 prim:      BIT STRING
579862:d=3  hl=4 l= 421 cons:    SET
579866:d=4  hl=4 l= 417 cons:     SEQUENCE
579870:d=5  hl=2 l=   1 prim:      INTEGER           :03
579873:d=5  hl=2 l=  20 prim:      cont [ 0 ]
579895:d=5  hl=2 l=  11 cons:      SEQUENCE
579897:d=6  hl=2 l=   9 prim:       OBJECT            :sha256
579908:d=5  hl=2 l= 102 cons:      cont [ 0 ]
579910:d=6  hl=2 l=  21 cons:       SEQUENCE
579912:d=7  hl=2 l=   9 prim:        OBJECT            :contentType
579923:d=7  hl=2 l=   8 cons:        SET
579925:d=8  hl=2 l=   6 prim:         OBJECT            :2.23.136.1.1.2
579933:d=6  hl=2 l=  28 cons:       SEQUENCE
579935:d=7  hl=2 l=   9 prim:        OBJECT            :signingTime
579946:d=7  hl=2 l=  15 cons:        SET
579948:d=8  hl=2 l=  13 prim:         UTCTIME           :230711140448Z
579963:d=6  hl=2 l=  47 cons:       SEQUENCE
579965:d=7  hl=2 l=   9 prim:        OBJECT            :messageDigest
579976:d=7  hl=2 l=  34 cons:        SET
579978:d=8  hl=2 l=  32 prim:         OCTET STRING      [HEX DUMP]:625E93663FCC56FE2A5DB18F43C49B0DE7D91D311AC10C2885D9DA8E8D955664
580012:d=5  hl=2 l=  13 cons:      SEQUENCE
580014:d=6  hl=2 l=   9 prim:       OBJECT            :sha256WithRSAEncryption
580025:d=6  hl=2 l=   0 prim:       NULL
580027:d=5  hl=4 l= 256 prim:      OCTET STRING      [HEX DUMP]:36FB45243885C762F97F173889C49653E8F9ED50F19443869033C44919975C45A432B14FA7A2B1E1A2F3450723FA9534A71E18A225E5BE2B6D60C52F70D0202CCB2392EE64705526A50BCCAA03ED5E3DC786B3FFEA2D18D58DB51A8CE883B4C95FD05D8F96A8092F77F02A0A5D32DC8E2EC9368BC8495BF3E70A7FE9BAE05C4918FE5BCA37D1C4FF0A77AEB60E0B7AF412BF12D5F4D0B9B2170828909C196DE53B53FDEA386EF1B4E4F4B11DE8D5A9846FC01C59656AC46EBD20C66D3BFBC46AA9C782996E0376BEAD66AE0FE6019A04D66C6C5B6A35217A764E7D96F596F0F53721A45E90FB1BC011CD9DB91D62A1EA3C60B73271E0E36FF11C662F65848BFC
```

# Observations

- O01: OpenSSL 1.0.2u verifies the CMS successfully.
- O02: BouncyCastle 1.76 verifies the CMS successfully.
- O03: Adding "-no_attr_verify" to the command line verifies the CMS successfully.
- O04: The recovered data from the signatureValue reveals, that AlgorithmIdentifier `sha256` does not encode `NULL` parameter.
  ```
  # get pubkey from MLS certificate
  openssl x509 -in "UN_MLS.pem" -noout -pubkey > pubkey.pem
  # extract signatureValue into file and strip off OCTET STRING header
  openssl asn1parse -in UN_r231.ml -inform DER -offset 580027 -out signature-raw.bin -noout
  tail --bytes=+5 signature-raw.bin > signature.bin
  # decrypt RSA-based signatureValue (TODO PKCS#1.5)
  openssl pkeyutl -verifyrecover -pubin -inkey pubkey.pem -in signature.bin > decrypted-signature.bin
  # parse decrypted signatureValue and note missing line with NULL parameter after ":sha256"
  openssl asn1parse -in decrypted-signature.bin -inform DER -i --dump
      0:d=0  hl=2 l=  47 cons: SEQUENCE
      2:d=1  hl=2 l=  11 cons:  SEQUENCE
      4:d=2  hl=2 l=   9 prim:   OBJECT            :sha256
     15:d=1  hl=2 l=  32 prim:  OCTET STRING      [HEX DUMP]:C13C4D1DC6FB089E456CB5298C17C311082921AB40FD5FB2A3BF57CB19739A5C
  ```
- O05: `ossl_rsa_verify()` in "rsa_sign.c" calls `encode_pkcs1()` that creates `encoded` (expected) value with explicitly encoded AlgorithmIdentifier parameter `05 00`.
  ![2023-09-13_14-09](https://github.com/openssl/openssl/assets/7712518/6eefc49b-1482-482a-bdef-61768ecbd886)
- O06: RFC 5754 (Using SHA2 Algorithms with CMS) states, that AlgorithmIdentifier parameters field is OPTIONAL:
  ```
   The AlgorithmIdentifier parameters field is OPTIONAL.
   Implementations MUST accept SHA2 AlgorithmIdentifiers with absent
   parameters.  Implementations MUST accept SHA2 AlgorithmIdentifiers
   with NULL parameters.  Implementations MUST generate SHA2
   AlgorithmIdentifiers with absent parameters.
  ```
- O07: RFC 3447 (PKCS #1: RSA Cryptography Specifications) appendix B.1 states, that parameters should be omitted, but if present shall have a NULL value.
  ```
   The parameters field associated with id-sha1, id-sha256, id-sha384,
   and id-sha512 should be omitted, but if present, shall have a value
   of type NULL.
  ```

# Expected result

openssl shall verify the CMS successfully, because it is compliant to RFC 5652, RFC 5754 and RFC 3447.

# Files

[files.zip](https://github.com/openssl/openssl/files/12597468/files.zip)
