How to properly reload the ctx on the fly?

I have a ctx code which get certificate(pX509_Global) and rsa private key(PKey_Global) from memory : 
```
BOOL
Secure_Create_Ctx(LPTSTR tszService, LPSTR szCertificateName, const SSL_METHOD *Method, SSL_CTX **ppCtx, DWORD method_type, BOOL bCreate)
{
	FILE    *File;
	char     szFileName[MAX_PATH+1];
	SSL_CTX *pCtx;
	size_t   sLen;
	DH      *pDH;
	EC_KEY  *pECDH;
	long     lOptionBits, lBit;
	LPTSTR   tszEncryptionProtocol, tszField, tszOption, tszSeparator;
	LPIOSERVICE lpService;
	LPSECURITY  lpSecure;
	PCONNECTION_INFO	pConnection;
	LPPACKAGETRANSFER lpTransfer;

	LPFTPUSER lpUser;

	pConnection = (LPFTPUSER)&lpTransfer->lpContext;

	if (! szCertificateName) return TRUE;

	sLen = strlen(szCertificateName);
	if (sLen+6 > sizeof(szFileName))
	{
		SetLastError(ERROR_FILENAME_EXCED_RANGE);
		return TRUE;
	}

	_snprintf_s(szFileName, sizeof(szFileName) / sizeof(*szFileName), _TRUNCATE, "%s.pem", szCertificateName);

	pCtx = SSL_CTX_new(Method);

	if (!pCtx) return TRUE;

	SSL_CTX_set_tlsext_servername_arg(pCtx, &pConnection->szHostName);

	SSL_CTX_set_verify(pCtx, SSL_VERIFY_NONE,
		NULL);

	SSL_CTX_set_ecdh_auto(pCtx, 1);

	if (bCreate)
	{
		if (SSL_CTX_use_certificate(pCtx, pX509_Global) != 1)
		{
			//FILE* fp;
			//fp = fopen("errors.log", "w");
			//ERR_print_errors_fp(fp);
			//fclose(fp);
			Putlog(LOG_ERROR, _T("OpenSSL 3.0 bugs!"));
			SSL_CTX_free(pCtx);
			return TRUE; //OpenSSL 3.0 bugs!
		}
	}
	else
	{
		if (!SSL_CTX_use_certificate_chain_file(pCtx, szFileName))
		{
			SSL_CTX_free(pCtx);
			return TRUE;
		}
	}

	strcpy_s(&szFileName[sLen], sizeof(szFileName) / sizeof(*szFileName) - sLen, ".key");

	// SSL_CTX_set_default_passwd_cb(ctx, cb);

	if (bCreate)
	{
		if (SSL_CTX_use_PrivateKey(pCtx, PKey_Global) != 1)
		{
			//FILE* fp;
			//fp = fopen("errors.log", "w");
			//ERR_print_errors_fp(fp);
			//fclose(fp);
			Putlog(LOG_ERROR, _T("OpenSSL 3.0 bugs!"));
			SSL_CTX_free(pCtx);
			return TRUE; //OpenSSL 3.0 bugs!
		}
	}
	else
	{
		if (SSL_CTX_use_PrivateKey_file(pCtx, szFileName, SSL_FILETYPE_PEM) != 1)
		{
			FILE* fp;
			fp = fopen("errors.log", "w");
			ERR_print_errors_fp(fp);
			fclose(fp);
			SSL_CTX_free(pCtx);
			return TRUE;
		}
	}

	if (SSL_CTX_check_private_key(pCtx) != 1)
	{
		SSL_CTX_free(pCtx);
		return TRUE;
	}

	if (method_type)
	{
		if (!_tcsicmp(method_type, _TEXT("SSL2")))
		{
			//Method = SSLv2_method();
			//lpService->bTlsSupported = FALSE;
			Putlog(LOG_ERROR, _T("ERROR SSLv2 NOT SUPPORTED\r\n"));
			return TRUE;
		}
		else if (!_tcsicmp(method_type, _TEXT("SSL3")))
		{
			//Method = TLS_method();
			SSL_CTX_set_min_proto_version(pCtx, TLS1_VERSION);
			//SSL_CTX_set_max_proto_version(pCtx, TLS1_3_VERSION);
			Putlog(LOG_ERROR, _T("Method : SSLv23_method()\r\n"));
			Putlog(LOG_ERROR, _T("SSLv3 has been depreciated, automatically switches into TLSv1.2\r\n"));
		}
		else if (!_tcsicmp(method_type, _TEXT("TLSv1")))
		{
			//Method = TLS_method();
			SSL_CTX_set_min_proto_version(pCtx, TLS1_VERSION);
			//SSL_CTX_set_max_proto_version(pCtx, TLS1_3_VERSION);
			Putlog(LOG_DEBUG, _T("Method : TLS_method()\r\n"));
			Putlog(LOG_DEBUG, _T("Server encryption set as TLSv1 - TLSv1.3\r\n"));
		}
		else if (!_tcsicmp(method_type, _TEXT("TLSv1_1")))
		{
			//Method = TLSv1_1_method();
			SSL_CTX_set_min_proto_version(pCtx, TLS1_1_VERSION);
			//SSL_CTX_set_max_proto_version(pCtx, TLS1_3_VERSION);
			Putlog(LOG_DEBUG, _T("Method : TLSv1_1_method()\r\n"));
			Putlog(LOG_DEBUG, _T("Server encryption set as TLSv1.1 - TLSv1.3\r\n"));
		}
		else if (!_tcsicmp(method_type, _TEXT("TLSv1_2")))
		{
			//Method = TLSv1_2_method();
			SSL_CTX_set_min_proto_version(pCtx, TLS1_2_VERSION);
			//SSL_CTX_set_max_proto_version(pCtx, TLS1_3_VERSION);
			Putlog(LOG_DEBUG, _T("Method : TLSv1_2_method()\r\n"));
			Putlog(LOG_DEBUG, _T("Server encryption set as TLSv1.2 - TLSv1.3\r\n"));
		}
		else if (!_tcsicmp(method_type, _TEXT("TLSv1_3")))
		{
			//Method = TLSv1_2_method();
			SSL_CTX_set_min_proto_version(pCtx, TLS1_3_VERSION);
			//SSL_CTX_set_max_proto_version(pCtx, TLS1_3_VERSION);
			//SSL_CTX_set_ciphersuites(pCtx, "TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256:TLS_AES_128_GCM_SHA256");
			Putlog(LOG_DEBUG, _T("Method : TLSv1_3_method()\r\n"));
			Putlog(LOG_DEBUG, _T("Server encryption set as TLSv1.3 Only\r\n"));
		}
	}

	if (tszField = Config_Get(&IniConfigFile, tszService, _TEXT("OpenSSL_Options"), NULL, NULL))
	{
		lOptionBits = 0;
		tszOption = tszField;
		while (*tszOption)
		{
			if (tszSeparator = _tcschr(tszOption, _T('|')))
			{
				*tszSeparator = 0;
			}
			lBit = GetSslOptionBit(tszOption);
			if (!lBit)
			{
				Putlog(LOG_ERROR, _T("Unknown option (%s) in OpenSSL_Options for service '%s'.\r\n"), tszOption, tszService);
			}
			lOptionBits |= lBit;
			if (tszSeparator)
			{
				tszOption = tszSeparator+1;
			}
			else
			{
				break;
			}
		}
		Free(tszField);

		SSL_CTX_set_options(pCtx, lOptionBits);
	}

	tszField = tszOption = Config_Get(&IniConfigFile, tszService, _TEXT("OpenSSL_Ciphers"), NULL, NULL);
	if (!tszOption)
	{
		tszOption = _T("DEFAULT:!LOW:!EXPORT");
	}


	tszEncryptionProtocol = Config_Get(&IniConfigFile, tszService, _TEXT("Encryption_Protocol"), NULL, NULL);
	Putlog(LOG_DEBUG, _T("tszEncryptionProtocol : '%s'.\r\n"), tszEncryptionProtocol);
	if (tszEncryptionProtocol)
	{
		if (!_tcsicmp(tszEncryptionProtocol, _TEXT("SSL2")) ||
			!_tcsicmp(tszEncryptionProtocol, _TEXT("SSL")))
		{
		}
		else if (!_tcsicmp(tszEncryptionProtocol, _TEXT("SSL3")))
		{
			if (!SSL_CTX_set_cipher_list(pCtx, tszOption))
			{
				Putlog(LOG_ERROR, _T("No ciphers selected via OpenSSL_Ciphers for service '%s'.\r\n"), tszService);
			}
			Putlog(LOG_DEBUG, _T("Current OpenSSL_Ciphers selected  '%s'.\r\n"), tszOption);
		}
		else if (!_tcsicmp(tszEncryptionProtocol, _TEXT("TLS")))
		{
			if (!SSL_CTX_set_cipher_list(pCtx, tszOption))
			{
				Putlog(LOG_ERROR, _T("No ciphers selected via OpenSSL_Ciphers for service '%s'.\r\n"), tszService);
			}
			Putlog(LOG_DEBUG, _T("Current OpenSSL_Ciphers selected  '%s'.\r\n"), tszOption);
		}
		else if (!_tcsicmp(tszEncryptionProtocol, _TEXT("TLS1.0")))
		{
			if (!SSL_CTX_set_cipher_list(pCtx, tszOption))
			{
				Putlog(LOG_ERROR, _T("No ciphers selected via OpenSSL_Ciphers for service '%s'.\r\n"), tszService);
			}
			Putlog(LOG_DEBUG, _T("Current OpenSSL_Ciphers selected  '%s'.\r\n"), tszOption);
		}
		else if (!_tcsicmp(tszEncryptionProtocol, _TEXT("TLS1.1")))
		{
			if (!SSL_CTX_set_cipher_list(pCtx, tszOption))
			{
				Putlog(LOG_ERROR, _T("No ciphers selected via OpenSSL_Ciphers for service '%s'.\r\n"), tszService);
			}
			Putlog(LOG_DEBUG, _T("Current OpenSSL_Ciphers selected  '%s'.\r\n"), tszOption);
		}
		else if (!_tcsicmp(tszEncryptionProtocol, _TEXT("TLS1.2")))
		{
			if (!SSL_CTX_set_cipher_list(pCtx, tszOption))
			{
				Putlog(LOG_ERROR, _T("No ciphers selected via OpenSSL_Ciphers for service '%s'.\r\n"), tszService);
			}
			Putlog(LOG_DEBUG, _T("Current OpenSSL_Ciphers selected  '%s'.\r\n"), tszOption);
		}
		else if (!_tcsicmp(tszEncryptionProtocol, _TEXT("TLS1.3")))
		{
			if (!SSL_CTX_set_ciphersuites(pCtx, tszOption))
			{
				Putlog(LOG_ERROR, _T("No ciphers selected via OpenSSL_Ciphers for service '%s'.\r\n"), tszService);
			}
			Putlog(LOG_DEBUG, _T("Current OpenSSL_Ciphers selected  '%s'.\r\n"), tszOption);
			Putlog(LOG_DEBUG, _T("You are using cipher in which only available below TLS 1.3 version, please use 'TLS_CHACHA20_POLY1305_SHA256:TLS_AES_256_GCM_SHA384:TLS_AES_128_GCM_SHA256' if you wanted to use TLS 1.3 only  '%s'.\r\n"), tszOption, tszService);
		}
		else {
			Putlog(LOG_ERROR, _T("Unknown Encryption_Protocol Option\r\n"));
		}
	}
	if (tszField)
	{
		Free(tszField);
	}

	strcpy(&szFileName[sLen], ".dhp");
	if (!fopen_s(&File, szFileName, _T("rN")))
	{
		pDH = PEM_read_DHparams(File, NULL, NULL, NULL);
		if (pDH)
		{
			if (!SSL_CTX_set_tmp_dh(pCtx, pDH))
			{
				// it failed...
				Putlog(LOG_ERROR, _T("Unable to set DH params for cert '%s'."), szCertificateName);
			}
			DH_free(pDH);
		}
		else
		{
			Putlog(LOG_ERROR, _T("Unable to read DH params for cert '%s'."), szCertificateName);
		}
		fclose(File);
	}


	/*
	* Elliptic-Curve Diffie-Hellman parameters are either "named curves"
	* from RFC 4492 section 5.1.1, or explicitly described curves over
	* binary fields. OpenSSL only supports the "named curves", which provide
	* maximum interoperability. The recommended curve for 128-bit work-factor
	* key exchange is "prime256v1" a.k.a. "secp256r1" from Section 2.7 of
	* http://www.secg.org/download/aid-386/sec2_final.pdf
	*/
	
	if (!(pECDH = EC_KEY_new_by_curve_name(NID_X9_62_prime256v1)) || !SSL_CTX_set_tmp_ecdh(pCtx, pECDH))
	{
		// it failed...
		Putlog(LOG_ERROR, _T("Unable to set ECDH params for cert '%s'."), szCertificateName);
	}
	if (pECDH)
	{
		EC_KEY_free(pECDH);
	}

	//SSL_CTX_set1_groups_list(pCtx, "P-256:P-521:P-384");
	//SSL_CTX_set_ecdh_auto(pCtx, 1);
	*ppCtx = pCtx;
	return FALSE;
}
```

Without restarting the app, I am getting the following (failed) from s_client  : 
```
.\openssl s_client -connect 127.0.0.1:5420 -starttls ftp
CONNECTED(0000016C)
F8130000:error:0A000438:SSL routines:ssl3_read_bytes:tlsv1 alert internal error:ssl\record\rec_layer_s3.c:1584:SSL alert number 80
---
no peer certificate available
---
No client certificate CA names sent
---
SSL handshake has read 56 bytes and written 307 bytes
Verification: OK
---
New, (NONE), Cipher is (NONE)
Secure Renegotiation IS NOT supported
Compression: NONE
Expansion: NONE
No ALPN negotiated
Early data was not sent
Verify return code: 0 (ok)
---
```

While after restarting the app, I am getting successfull connection to the server : 
```
.\openssl s_client -connect 127.0.0.1:5420 -starttls ftp
CONNECTED(0000016C)
Can't use SSL_get_servername
depth=0 CN = ioFTPD
verify error:num=18:self-signed certificate
verify return:1
depth=0 CN = ioFTPD
verify return:1
---
Certificate chain
 0 s:CN = ioFTPD
   i:CN = ioFTPD
   a:PKEY: rsaEncryption, 4096 (bit); sigalg: RSA-SHA256
   v:NotBefore: Oct 23 01:24:36 2021 GMT; NotAfter: Oct 22 01:24:36 2031 GMT
---
Server certificate
-----BEGIN CERTIFICATE-----
MIIEmTCCAoECBGF0tdQwDQYJKoZIhvcNAQELBQAwETEPMA0GA1UEAwwGaW9GVFBE
MB4XDTIxMTAyMzAxMjQzNloXDTMxMTAyMjAxMjQzNlowETEPMA0GA1UEAwwGaW9G
VFBEMIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAu8q+CtcIoAVzSyRX
snGosO9UtzOZGIhewVOAVqjGxFEr7Z9rwJVAKPc17NeoX0apBPIq8R6YdITUOvm9
Q6Z2gCZgMgF0V3Nf/zGgdcVA2H6ifYItjdVwNqEVAQKKmQGbXPZfUpzzBWkuBrQL
goFO59VlYkoxbHgaDt6rvFXW7jAyg65Xx8qO9uNPtEnbL1/nepgyvn+XpA3J7Rdd
OrkDRe1+oXDQXUjWln3hJfv2GKrFyhHh0YAI3lHOWJoMbTFYa2816RsBuIVLDsfI
9hGkJhX3mNw5bTpjZK6W12WnlOzKIlDxC9Yl6ao/oA744Pzl2fOtMmIwgilXuCax
OZadWZu01SkdI/Oy1QtdAkbqws3WvDnbNbX0ejhh92J6bC0SdWUR+lGLHK+cA7iR
fQ4Ri/FQu2NYL/OBit5nUOqDCoxxFigf3IlH2JzUtFg4M15xsYDCfC0xj35FaevR
3092P95KQDkLVPXkUodZoZ4p9Ys6MAA1tyn6bxLHSIDrprbda+idhDqlWQA+UDDq
PXf50YI3B+P1CW++ArsUhStU4fuPBacEUPrYtEWEnnVb0ipOFyKyy89oyDMLV7/0
gFxsCVBWk08fyIqi1gZ47hd5sqoydLClJwqOkYxY6LgnGlK+Iuw87sRuaIi2aW4i
ZpbYziL2QuagCFjrbyoqOghnByMCAwEAATANBgkqhkiG9w0BAQsFAAOCAgEABri1
ABboks1DupNbDy+WDa4kNeh042jJUCZaHnmmFvhVvl5twe5I061VJrUefh48auiU
BBomhFDe8RIriQ8fSDiHtpuUJqg47720ZnFy/hFlYFyN7tmKadT5au+HF6WhwxUR
jGBsgA0GymsnImlpuJh44HHWatLhWRw50Yd0gSVBIe4idkyxyauo99Puqr71jkOC
uSZwNq3NDTbDo92qQsmoeJeRycC669Of9jPZsMEKQxuPeX+0l6gIs88zkphX2XMI
wC2AYywZ1FoZXHidwvgLaWIMTySd7RlXf0T6EVm9H4V6lnThTckBY07he6Bp6+1K
p29uWOLFYhLIgiPNpiH/dJzPUlrAyDWW3czyfIg7Zk9Oj5tBZ8g9tz9ju99HOvby
xi1QTNYGoBvQmOcnSSjrv9b3PLeIfdu1fckcP3l+XnlyyR15+ChslWnvqxDHl3X8
rdj+aMh7ozLW7lfXeICuuRBLm4HHUUw5z4Mpr5bXsqHmt4WHKc6qsWjNHzfz25gF
zVvhzTPP4mtpw3XtwVq4quOYxGGSUyygX+qDF9se6kVRpnq8NsQhxy4U0ydJgFCs
XEOiqyBjub3aHkqyPT4K8uF6R8jMU+yw8HI8rCBgOkI/K8W1zCV2lR1YJ7Q4u7Si
BFljENOW/OnyBAWfjKFRTXLU055+fy+msLRb+ok=
-----END CERTIFICATE-----
subject=CN = ioFTPD
issuer=CN = ioFTPD
---
No client certificate CA names sent
Peer signing digest: SHA256
Peer signature type: RSA-PSS
Server Temp Key: ECDH, prime256v1, 256 bits
---
SSL handshake has read 2168 bytes and written 717 bytes
Verification error: self-signed certificate
---
New, TLSv1.3, Cipher is TLS_AES_256_GCM_SHA384
Server public key is 4096 bit
Secure Renegotiation IS NOT supported
Compression: NONE
Expansion: NONE
No ALPN negotiated
Early data was not sent
Verify return code: 18 (self-signed certificate)
---
220 FTP Server ready.
---
Post-Handshake New Session Ticket arrived:
SSL-Session:
    Protocol  : TLSv1.3
    Cipher    : TLS_AES_256_GCM_SHA384
    Session-ID: AB02AA9E26C867786CAED689C23BC8EDBF034CA3952E1F161676C7E4B36C13A7
    Session-ID-ctx:
    Resumption PSK: DE3FEA3252307FAC73DF73A986C91FD64988C798FCA9AAA88AB980E8B8255DE157CDF4BEFF2C2334E32EB4E4376C4D7F
    PSK identity: None
    PSK identity hint: None
    SRP username: None
    TLS session ticket lifetime hint: 7200 (seconds)
    TLS session ticket:
    0000 - c8 7d ea 2c 07 ed d1 f9-fb 57 3f 07 f8 af b7 a5   .}.,.....W?.....
    0010 - c1 82 67 bd 8a 3d 45 21-66 3d c7 54 6d 2a 7b 76   ..g..=E!f=.Tm*{v
    0020 - c5 f5 bf 35 5f cc 66 9f-e7 94 43 c9 4b f1 f0 45   ...5_.f...C.K..E
    0030 - 12 91 8e 70 8d 99 4a 5d-a1 38 e1 1d 94 23 a8 b6   ...p..J].8...#..
    0040 - 04 2e ff 52 c2 f2 ac 2e-b9 f9 20 64 cf 6d 4e e8   ...R...... d.mN.
    0050 - bb 3c 30 d2 b0 51 1c 42-3b bf ae b2 56 64 46 48   .<0..Q.B;...VdFH
    0060 - b4 b6 4f 37 73 40 89 51-06 f0 dd b4 8a ac 84 c6   ..O7s@.Q........
    0070 - 66 da 49 dc 33 f2 24 a6-43 70 fe 44 af 2c 05 3f   f.I.3.$.Cp.D.,.?
    0080 - 02 63 81 1d fa 75 e0 d8-6d fc 85 0f 13 f7 0f 0a   .c...u..m.......
    0090 - 58 fc 58 5d 38 5d 58 48-08 04 00 57 85 c5 09 ef   X.X]8]XH...W....
    00a0 - dc 23 d6 fc 2e 93 44 1f-0f c8 58 54 9c e1 88 3d   .#....D...XT...=
    00b0 - f4 ad aa 56 d2 97 d4 d2-42 20 a4 4a e1 c5 75 1a   ...V....B .J..u.
    00c0 - 22 8c 50 b7 4b 1b 08 fa-01 4f ff 5a ba 5f ff 5c   ".P.K....O.Z._.\

    Start Time: 1635039219
    Timeout   : 7200 (sec)
    Verify return code: 18 (self-signed certificate)
    Extended master secret: no
    Max Early Data: 0
---
read R BLOCK
---
Post-Handshake New Session Ticket arrived:
SSL-Session:
    Protocol  : TLSv1.3
    Cipher    : TLS_AES_256_GCM_SHA384
    Session-ID: 935C77DC5A64550A8C64ECFE0ED8166BD6EF7ACB08C9FC2719DDB4E257DA7FF1
    Session-ID-ctx:
    Resumption PSK: DD74DE2C407D49FA31119FE4D0C311B482CF06762409F9AE3E72E7618F87AE9519A72951706B5BC706B7413E5B10A58E
    PSK identity: None
    PSK identity hint: None
    SRP username: None
    TLS session ticket lifetime hint: 7200 (seconds)
    TLS session ticket:
    0000 - c8 7d ea 2c 07 ed d1 f9-fb 57 3f 07 f8 af b7 a5   .}.,.....W?.....
    0010 - 9e 5b b0 7d 84 13 fa 73-52 34 68 76 c4 82 e5 4b   .[.}...sR4hv...K
    0020 - 87 81 b5 a8 ea 12 46 0e-d3 11 a7 e8 65 97 bb dc   ......F.....e...
    0030 - d8 6b 9e 24 2c c2 bf e8-9d 4d 2e 3b df 3a cc 66   .k.$,....M.;.:.f
    0040 - 14 68 b3 15 07 77 39 b5-3f ee 97 94 52 2b cf 58   .h...w9.?...R+.X
    0050 - 11 4b 3d f8 95 4c 13 5d-b0 10 ea 16 76 ae e9 c3   .K=..L.]....v...
    0060 - 2a 55 90 51 2b 43 8d 78-d0 82 9d 1c 7b 11 93 8d   *U.Q+C.x....{...
    0070 - 74 05 4d 89 d2 b5 76 3a-28 02 bf 2d 63 ae 8d df   t.M...v:(..-c...
    0080 - 9b b9 8c dc f4 41 cf fd-c0 85 b3 0d df 77 4d 6c   .....A.......wMl
    0090 - 82 26 47 19 e7 65 6c 7b-81 78 92 03 f8 07 69 54   .&G..el{.x....iT
    00a0 - 25 82 cc 2c 62 d8 79 4d-8a 2f 74 ef 3d 5c 9f a5   %..,b.yM./t.=\..
    00b0 - e4 13 fd ad d5 8b bc f4-28 04 d9 b6 2c b4 15 3f   ........(...,..?
    00c0 - 89 85 0c ed 2c cc 8d 50-6d 8a 79 de de 1d 34 99   ....,..Pm.y...4.

    Start Time: 1635039219
    Timeout   : 7200 (sec)
    Verify return code: 18 (self-signed certificate)
    Extended master secret: no
    Max Early Data: 0
---
read R BLOCK
```

What I have tried : 
```
*ppCtx = NULL;
pCtx - NULL;

before : 
pCtx = SSL_CTX_new(Method);
```

The question is how to on the fly (without restarting the app) changing the CTX properties/variables and restarting? the socket with new certificate and private key?.

The code above is successfully run in OpenSSL 1.1.1 branch with result able to changes the CTX on the fly.

How to properly do it in OpenSSL 3.0?



![ppctx](https://user-images.githubusercontent.com/1216215/146803901-f5ac73b9-efec-4929-9437-1de990e48919.png)

Looks like there is problem when copying pCtx into **ppCtx (&lpService->pSecureCtx)

It's always null in the destined already existing **ppCtx

How to copy a Ctx to another existed Ctx in 3.0, because those code is working perfectly fine in 1.1.1 branch.

Huh, I somehow missed this when it first came in; sorry.

> > It looks like your code is caching the `SSL_CTX`:
> > ```
> > 	if (lpService->pSecureCtx)
> > 	{
> > 		// already loaded
> > 		return;
> > 	}
> > ```
> 
> Removing it, doesn't make differences, hmm.
> 
> > You should probably try to add some diagnostics to clarify when Secure_Create_Ctx() is actually called at runtime, and whether the resulting `SSL_CTX` value actually gets used.
> 
> How to do this?, can you give a code example to 'extract' CTX parameters/variables inside a CTX?
> 

I had in mind just printing/logging the raw pointer value of the `SSL_CTX` pointers involved, both when you create/copy them and at a handful of the key call sites where they are actually used.  That would give an indication of whether new contexts are being created and whether they are actually being used.



> ![ppctx](https://user-images.githubusercontent.com/1216215/146803901-f5ac73b9-efec-4929-9437-1de990e48919.png)
> 
> Looks like there is problem when copying pCtx into **ppCtx (&lpService->pSecureCtx)
> 
> It's always null in the destined already existing **ppCtx
> 
> How to copy a Ctx to another existed Ctx in 3.0, because those code is working perfectly fine in 1.1.1 branch.
> 
> Previouse 1.1.1 code was without "SSL_CTX_up_ref" but when in 3.0 without it also not working.

I don't see anything obviously amiss with the posted (`SSL_CTX_up_ref()`) version, though checking the return value is typically a best practice (even though it's highly unlikely to actually be failing in this case)

@kaduk 
It's been months like you know trying to get the code ported into OpenSSL 3.0 but always hitting a dead end, these all is for not yet released Open Source project, would love if you can check the project if you don't mind?, can I contact you privately?.

I'm pretty over-extended at the moment and probably shouldn't take on anything new until my term as IETF Security Area Director ends in March, sorry.

@kadus
Thanks anyway 

@kadus
While debugging found out the real reason is the following :
```
12-31-2021 03:00:09 '127.0.0.1@' SSL_ERROR_SSL at SocketAPI.c - A non-recoverable, fatal error in the SSL library occurred, usually a protocol error.
12-31-2021 03:00:09 SSL_ERROR_SSL reason : error:1C8C0100:Provider routines::malloc failure
12-31-2021 03:00:09 '127.0.0.1@' SSL_ERROR_SYSCALL at SocketAPI.c - Some non-recoverable, fatal I/O error has been occurred.
12-31-2021 03:00:09 SSL_ERROR_SYSCALL reason : error:00000000:lib(0)::reason(0)
12-31-2021 03:00:09 '127.0.0.1@' SSL_ERROR_SSL at SocketAPI.c - A non-recoverable, fatal error in the SSL library occurred, usually a protocol error.
12-31-2021 03:00:09 SSL_ERROR_SSL reason : error:00000000:lib(0)::reason(0)
12-31-2021 03:00:14 '127.0.0.1@' SSL_ERROR_SSL at SocketAPI.c - A non-recoverable, fatal error in the SSL library occurred, usually a protocol error.
12-31-2021 03:00:14 SSL_ERROR_SSL reason : error:1C8C0100:Provider routines::malloc failure
12-31-2021 03:00:14 '127.0.0.1@' SSL_ERROR_SYSCALL at SocketAPI.c - Some non-recoverable, fatal I/O error has been occurred.
12-31-2021 03:00:14 SSL_ERROR_SYSCALL reason : error:00000000:lib(0)::reason(0)
12-31-2021 03:00:14 '127.0.0.1@' SSL_ERROR_SSL at SocketAPI.c - A non-recoverable, fatal error in the SSL library occurred, usually a protocol error.
12-31-2021 03:00:14 SSL_ERROR_SSL reason : error:00000000:lib(0)::reason(0)
```

The real reason is my init function has the folllowing : 
```
CRYPTO_secure_malloc_init(4096, 32);
```

If I am commenting in that line, the "*ppCtx = pCtx;" assignment is WORKING fine :-)

Tried the following code : 
```
	SSL_CTX_free(*ppCtx);
	OPENSSL_secure_free(*ppCtx);
	*ppCtx = pCtx;
```

But cannot managed to clear out the OpenSSL secure malloc before "*ppCtx = pCtx;"

The code with "CRYPTO_secure_malloc_init(4096, 32);" is working fine in OpenSSL 1.1.1 but somehow not working in OpenSSL 3.0, probably a pointer to a 'bug'?.

Make the size value in the call larger. 4096 bytes is too small.

Thanks @t-j-h !, changing it into "CRYPTO_secure_malloc_init(65536, 32);" working fine with enabled CRYPTO_secure_malloc_init.