Key Usage value judge

I use OpenSSL to verify the certificate.
Execute` openssl verify -CAfile RootCA.pem Cert17408145466.pem `to get the verification result.`Cert17408145466.pem: OK`
This result is different from WolfSSL.
WolfSSL believes that the key usage value of the certificate is wrong.
```
Verifying certificate: Cert17408145466.pem
wolfSSL_CertManagerVerify failed with return code -226 and error message Key Usage value error
```
I provide my test case.[Keyusage.zip](https://github.com/user-attachments/files/19053072/Keyusage.zip)

The key usage value is: cRLSign, keyAgreement, decipherOnly, nonRepudiation, dataEncipherment, keyCertSign (critical=True).

According to RFC5280 (section 4.2.1.3), the keyCertSign bit is asserted when the subject public key is used for verifying signatures on public key certificates. If the keyCertSign bit is asserted, then the cA bit in the basic constraints extension (Section 4.2.1.9) MUST also be asserted.
In this case, the key usage should have a problem as WolfSSL said, and OpenSSL passed the verification incorrectly.

This requirement to set the cA bit in basic constraints is on the signer. You're not asking OpenSSL to verify it as a CA certificate, and OpenSSL will not allow you to use it as a CA certificate.

Closing this issue. No security impact and not a bug.