PKCS12: allow adding arbitrary bag attributes

PKCS12 allows adding arbitrary attributes to its 'bags'. As far as I can tell OpenSSL's pkcs12 tool only supports the 'friendlyName' attribute (with the -name and -caname options).

Feature request: To better support the PKCS12 format add one or several command line options to the pkcs12 tool to allow adding arbitrary attributes to bags.

@t8m @mattcaswell What is the status of this issue?

The minimum necessary would be the ability to add OID `2.16.840.1.113894.746875.1.1` ('ORACLE_TrustedKeyUsage' attribute) to the CA certificate imported into `PKCS12` file.

Currently, OpenSSL barfs on it (i.e. doesn't even know what it is):
```
Certificate bag
Bag Attributes
    friendlyName: root-ca
    2.16.840.1.113894.746875.1.1: <Unsupported tag 6>
```
And it cannot be added to a new `PKCS12` file, which makes it impossible to generate `PKCS12` file to be used as a Java keystore.

is this issue still open? 

For this specific reason, we can't just use `openssl` binary for creating a PKCS12 keystore with trusted CA chain which will work with Java application. It doesn't recognise CAs as trusted.
But it works if importing CA chain with `keytool` which is part of JRE/JDK which is too fat for a sidecar container.
We had to split the PKCS12 keystore created using `openssl` and `truststore` created using `keytool` which is not optimal as have to use 2 different tools.

yes I was wondering whether I could look at implementing this within openssl, I don't understand the specific reason yo mention 

@t8m @mattcaswell is this something I could help fix/implement? 

@levicki wondering if you had any ideas on how I could implement/investigate a solution for this? I'm wondering whether we add a new cli arg to set the OID or whether under the hood we set that OID if that's what's missing anyway? 

@grahamwoodward I am not very familiar with OpenSSL source code tree, but I would imagine that first step would be to add the OID to the file(s) where other known OIDs reside (assuming that the OpenSSL team thinks it is OK to add it).

From there, CLI should have at least the following modifications:

1. It should be able to corectly parse the "unsupported tag 6" when decoding PKCS12 certificate bag attributes.
2. It should be able to not discard said tag when saving the modifed PKCS12 file (i..e. when another certificate / key pair is imported into it or when it is re-encrypted).
3. It should get command line options for both adding and removing the tag to / from certificates in a PKCS12 file.

As I said I am not an expert on the OpenSSL codebase, so it would be much better if we got some official pointers on how to proceed from someone on the team.

Are those bag attributes applied to the PKCS#12 file or the certificate(s) in it? 

when I look at a PKCS#12 file with no private key in I see
```
openssl-certs$ openssl pkcs12 -info -in cert.pfx -nodes
Enter Import Password:
MAC: sha256, Iteration 2048
MAC length: 32, salt length: 8
PKCS7 Encrypted data: PBES2, PBKDF2, AES-256-CBC, Iteration 2048, PRF hmacWithSHA256
Certificate bag
Bag Attributes: <No Attributes>
subject=CN = localhost
issuer=CN = localhost
-----BEGIN CERTIFICATE-----
MIIFCTCCAvGgAwIBAgIUCAeT9OWU56aEM3CEYE0CvEYEXa8wDQYJKoZIhvcNAQEL
BQAwFDESMBAGA1UEAwwJbG9jYWxob3N0MB4XDTIyMDgwNTE0MjgyMFoXDTIzMDgw
NTE0MjgyMFowFDESMBAGA1UEAwwJbG9jYWxob3N0MIICIjANBgkqhkiG9w0BAQEF
AAOCAg8AMIICCgKCAgEAnUeYykmsTbVP3tIXJxVnmAikSgH6CUdnDD5gEvEFpRjr
2xPxhRvCdfSMEN+FahiiongB4skiXjbnFSA4PL+EPV764G/rDZoPKiMvzu3KI3wK
DgIE73iNIx+GDmTaeAi0aeA9kODBc8SKun8pMoTOxgoj5obk1GMpaHaInAxqwhi3
4JXe38jdBgwWYFy4Yij7jzZD+WhGh61AM02jo4/Egt/XdDIy20/0uDTV37bNrCl8
Qm6HG76z/4Qd9uJ1LWvDpzC1I33NTuU6nsPXaOrqPuDgqVALKTzCQGwokVsEh+an
b4rcyH6J5lIT2I0EGD1CJMv3q+B8Vo4y43WWctsu1Ke5BJIRICwlJrw+mI3cfKz0
D/4kXvkYwbS/XNq4L0SKhMFU7JVfW3+Yyu3cVKQq5wx2brGbwVWhRHsFO3goM1gx
I23h3fqPJ7mUehQ9GfDzdmnxfRRW9DVf47vj/nocVsflKKIexyO+WEeNGSRu0nrr
ZJNwHRbRIh5yN8DYc9F19xyz5m4pm5cLnJ1eTuWqGTGFDiZ4YR+/tOKz1fH4yr5r
xb66uEL6pcEmDfHHaguS63H0VAx67QkVzhQ6Y9XQMRyvd+1XZnV0gpgdAH24nzNd
9V3Eyso2rFNBcXkegmq8vwwjo3JsHOlCTNQn9YWhoQ3XisDjB3DuVYM5KBeg9fEC
AwEAAaNTMFEwHQYDVR0OBBYEFKYdJHr1rV985+ZOpiYYaGaj8VKeMB8GA1UdIwQY
MBaAFKYdJHr1rV985+ZOpiYYaGaj8VKeMA8GA1UdEwEB/wQFMAMBAf8wDQYJKoZI
hvcNAQELBQADggIBAFW1wk9i5GrtXWyf4u72qB1Bdc2EltQ/o/38Dkr5GwRk+lRW
BLTC48b+o4Opz+jw6aiP9PFIiIujWH8bo3i69E/Qh0OWHIIUkW3wx2a3LTcceSLX
piUpZlaLHeFH5OLKbQ/YvtSMmq8o0fSKh/rz5QPgb65PkmZlSAANItk60UgDCyI7
U84yNIZk/pm14SW2M2ERSQ73l1do27orBeAFXa/SttOhG89dhtCvGiKsYyvfaDTU
TjjhJcSSG09kFw8fFJ5hlus0y7T+Yg+QXdvLuorXrZj8WZ6F85SQNirAcmWadG6D
eim3oiiec0z7LzdTztMj0jTAl04bUT3Jh5ZNmQ2R/SmD+Lh26r9WD2KeJZlpdNfj
ceC6rGjic08PhJ+2I56F9Ib/LsU94a162NTlWwhqAjLCGlVq1yPjbdmEdMcBWv++
gZr3+9r0m2N2IjaldyGKbk1Ie/R7tpnBm++Euv98IhcsfdcCRMMV9/Fl0lflimHs
5oXgVEiTEnzAwZq9I1WL2OZsC7BJzlNXAI1/TGEzxSKtKMCGD4hPBh+YMFdw+1of
qH4y+iW47lHdzQmrY/zNVfkO6JuFFv46q/GYEokogubi/W2wx8JQoQOFEHerOIsK
6FlqL+MAFTlfD0oUjRKRy+ZDjKdS+RJuJN9idiRt31220mUP+b8VCtvyFYuy
-----END CERTIFICATE-----
```

If I create the PKCS#12 with the private key as well, then I see

```Enter Import Password:
MAC: sha256, Iteration 2048
MAC length: 32, salt length: 8
PKCS7 Encrypted data: PBES2, PBKDF2, AES-256-CBC, Iteration 2048, PRF hmacWithSHA256
Certificate bag
Bag Attributes
    friendlyName: alias
    localKeyID: 9E 53 61 FD 10 18 56 F9 83 E8 51 86 6C EA 4F BB 23 A1 D9 3E
subject=CN = localhost
issuer=CN = localhost
-----BEGIN CERTIFICATE-----
...
-----END CERTIFICATE-----
PKCS7 Data
Shrouded Keybag: PBES2, PBKDF2, AES-256-CBC, Iteration 2048, PRF hmacWithSHA256
Bag Attributes
    friendlyName: alias
    localKeyID: 9E 53 61 FD 10 18 56 F9 83 E8 51 86 6C EA 4F BB 23 A1 D9 3E
Key Attributes: <No Attributes>
-----BEGIN PRIVATE KEY-----
```

And using keytool to view it I see
```
~/openssl-1.1.1/openssl-1.1.1q/apps$ keytool -list -v -keystore /home/graham/openssl-certs/cert.pfx -storetype PKCS12
Enter keystore password:
Keystore type: PKCS12
Keystore provider: SunJSSE

Your keystore contains 1 entry

Alias name: alias
Creation date: 05-Aug-2022
Entry type: PrivateKeyEntry
Certificate chain length: 1
Certificate[1]:
```
when it has the private key. When it doesn't have the private key the same command gives me
```
~/openssl-1.1.1/openssl-1.1.1q/apps$ keytool -list -v -keystore /home/graham/openssl-certs/cert.pfx -storetype PKCS12
Enter keystore password:
Keystore type: PKCS12
Keystore provider: SunJSSE

Your keystore contains 0 entries
```

From my output, I'm not sure why we think this OID value is missing/wrong? 

@levicki I appreciate your help with this, you know more than me lol

how do you end up seeing that OID value? Guessing it's how you created the certificate/PKCS#12 file? 

I'm doing the following 
```# Create key+cert
openssl req -x509 -newkey rsa:4096 -keyout key.pem -out cert.pem -sha256 -days 365 -nodes -subj '/CN=localhost'

# To view PKCS#12
keytool -list -v -keystore cert.pfx -storetype PKCS12

# Create PKCS#12 with no private key
openssl pkcs12 -export -name alias -passout pass:123456 -out cert.pfx -nokeys -in cert.pem

# To view PKCS#12 using openssl
openssl pkcs12 -info -in cert.pfx -nodes
```

ah so here https://github.com/openssl/openssl/blob/master/crypto/pkcs12/p12_crt.c#L87 we're only adding the two bag attributes we support (friendly name and local key set) ONLY if a pkey was specified as we get those from the pkey

spent some time looking through the code...looks like in pkcs12_main we parse the -infile argument into a local certs objects (a stack of x509 objects)..but because there's no keys, we never set another local ucert object. The ucert and certs objects are passed to the PKCS12_create() function and because the ucerts is NULL, we never set any Bag Attributes.

Not sure if that itself is an "issue" ?

I've tried a few hacks in the code, for instance if I set ucerts to be what's in my -infile argument, then I do see some Bag Attributes displayed when I run openssl pkcs12 -info -in <cert.pfx>...however the keytool still thinks there are 0 entries...guessing as mentioned previously I need this special OID attribute.

Looking around various files (obj_mac.h and obj_dat.c, x509_att.c) I can see anywhere where we're setting anything other than friendly name and local key id...

Do I need to create a new NID? Similar to 

```
#define LN_friendlyName         "friendlyName"
#define NID_friendlyName                156
#define OBJ_friendlyName                OBJ_pkcs9,20L

#define LN_localKeyID           "localKeyID"
#define NID_localKeyID          157
#define OBJ_localKeyID          OBJ_pkcs9,21L
```



@grahamwoodward You need to create a PKCS12 file using either Java [keytool](https://docs.oracle.com/javase/8/docs/technotes/tools/windows/keytool.html) or [KeyStore Explorer](https://github.com/kaikramer/keystore-explorer) GUI tool.

Furthermore, you need to import a trusted certificate, not a keypair into said PKCS12 file:

![image](https://user-images.githubusercontent.com/16415478/183257514-2738754c-7267-4bd0-bc68-d1d84d528be2.png)

If you now check the properties for this PKCS12 file, you will see that trusted certificate is shown in a separate "bag" from the keypair:

![image](https://user-images.githubusercontent.com/16415478/183257549-801c36ed-f5df-4f81-b1dd-3165ce438019.png)

If you check the file using OpenSSL CLI:
```
MAC: sha1, Iteration 100000
MAC length: 20, salt length: 20
PKCS7 Data
Shrouded Keybag: PBES2, PBKDF2, AES-256-CBC, Iteration 10000, PRF hmacWithSHA256
PKCS7 Encrypted data: PBES2, PBKDF2, AES-256-CBC, Iteration 10000, PRF hmacWithSHA256
Certificate bag
Bag Attributes
    friendlyName: wile e coyote
    localKeyID: 54 69 6D 65 20 31 36 35 39 38 30 32 39 34 31 36 33 32 
Key Attributes: <No Attributes>
-----BEGIN PRIVATE KEY-----
...
-----END PRIVATE KEY-----
Bag Attributes
    friendlyName: ssl.com ev root certification authority rsa r2
    2.16.840.1.113894.746875.1.1: <Unsupported tag 6>
subject=C = US, ST = Texas, L = Houston, O = SSL Corporation, CN = SSL.com EV Root Certification Authority RSA R2
issuer=C = US, ST = Texas, L = Houston, O = SSL Corporation, CN = SSL.com EV Root Certification Authority RSA R2

-----BEGIN CERTIFICATE-----
...
-----END CERTIFICATE-----
Bag Attributes
    friendlyName: wile e coyote
    localKeyID: 54 69 6D 65 20 31 36 35 39 38 30 32 39 34 31 36 33 32 
subject=C = CA, ST = Wileshire, L = Wilewood, O = "ACME, INC.", CN = Wile E Coyote
issuer=C = CA, ST = Wileshire, L = Wilewood, O = "ACME, INC.", CN = Wile E Coyote

-----BEGIN CERTIFICATE-----
...
-----END CERTIFICATE-----
```
The `test.pfx` file is attached, passphrase for both keystore and for the Wile E Coyote's private key is `1234` in case you want to play with it.

[test.zip](https://github.com/openssl/openssl/files/9275422/test.zip)

So, to reiterate, the problem with OpenSSL CLI is that it is impossible to create PKCS12 file and have imported standalone certificates (i.e. not part of a keypair) marked as trusted using the OID shown.

> Do I need to create a new NID?

Honestly I have no idea how that should be handled. Maybe looking at [keytool source code](https://github.com/eagle518/jdk-source-code/blob/master/jdk6u21_src/j2se/src/share/classes/sun/security/tools/KeyTool.java) could help.

I would also add that OpenSSL output is really confusing -- it is not clear if there is one certificate bag, or multiple bags, and if there is only one certificate bag it is not clear whether it includes shrouded keybag as well. Perhaps looking at the ASN.1 dump would clarify this.

OK I'll try with that but my Linux based test with those CLIs is still valid? I'm still creating a PKCS#12 with just a public certificate but unable to load into Java

"I would also add that OpenSSL output is really confusing and poorly structured -- it is not clear if there is one certificate bag, or multiple bags, and if there is only one certificate bag it is not clear whether it includes shrouded keybag as well. Perhaps looking at the ASN.1 dump would clarify this."

you're not wrong lol @levicki 

@grahamwoodward I edited my original comment to add some (hopefully helpful) clarification.

As for the second comment, in retrospect, it is easy to criticize. Great skill and knowledge are required to understand the standard and be capable of writing code that correctly implements it. It is often overlooked that presenting and allowing manipulation of the data in a structured form which is easily accessible to end users who have no clue about the underlying standard is a totally different, and I dare say, even greater skill.

@levicki yeah I hear you, the code is very complex and takes a lot of understanding. This is my first foray into this repo but keen to get this resolved.

Isn't this the issue

https://github.com/openjdk-mirror/jdk7u-jdk/blob/f4d80957e89a19a29bb9f9807d2a28351ed7f7df/src/share/classes/sun/security/pkcs12/PKCS12KeyStore.java#L105

https://github.com/openjdk-mirror/jdk7u-jdk/blob/f4d80957e89a19a29bb9f9807d2a28351ed7f7df/src/share/classes/sun/security/pkcs12/PKCS12KeyStore.java#L723

although guess that's JDK7 so fairly old

ah this is interesting
http://hg.openjdk.java.net/jdk8/jdk8/jdk/file/687fd7c7986d/src/share/classes/sun/security/pkcs12/PKCS12KeyStore.java#l139


https://github.com/openjdk/jdk18/blob/master/src/java.base/share/classes/sun/security/pkcs12/PKCS12KeyStore.java#L84

so this matches up to the patch posted originally 

I share some notes after looking at the code because i saw some misleading information on this thread.

- The java keytool adds an unsupported vendor attribute on some bags. 
- The bag itself is a Safebag (specified at https://www.rfc-editor.org/rfc/rfc7292#section-4.2), with a  CertBag type (type=3), which is correctly handled by openssl
- The keytool adds the unsupported attribute '2.16.840.1.113894.746875.1.1', which is registered to oracle (http://www.oid-info.com/get/2.16.840.1.113894), and the the '746875.1.1' suffix is documented in the java source code (http://hg.openjdk.java.net/jdk8/jdk8/jdk/file/687fd7c7986d/src/share/classes/sun/security/pkcs12/PKCS12KeyStore.java#l167) as {jdk(746875) crypto(1) id-at-trustedKeyUsage(1)}. So this attribute could be labelled as 'oracleJdkTrustedKeyUsage'.
- The single value of this attribute is set as `anyExtendedKeyUsage`, oid 2.5.29.37.0. (http://oid-info.com/get/2.5.29.37.0). The openssl prints `<Unsupported tag 6>` because the `print_attribute` function (defined at https://github.com/openssl/openssl/blob/master/apps/pkcs12.c#L1137) does not handle the type V_ASN1_OBJECT.

Im not sure openssl should support vendor attributes, and I cannot find any resources specifying this particular one besides java source code. However the use-case appears relevant, so we could still add a custom flag to handle this as Im not sure supporting custom attributes that may be encoded in different ways would be that simple.

Here is my quick analysis: the oid would need to be defined in objects.txt to provide a meaningful label and a type to check against and to know how to encode it.
To support writing this attribute: the attribute would need to be handled in crypto/pkcs12/pkcs12_attr, then the apps/pkcs12 would need to be updated to support a new option to add this attribute; and the demos and tests adapted.
To support displaying this attribute correctly: the apps/pkcs12 should handle the V_ASN1_OBJECT type, and use the appropriate formatter to parse and display the values. The 'ext-key-usage 0' is already defined for x509.

@t8m @mattcaswell  Is it ok to add a dedicated flag to pkcs12 in order to add a dedicated attribute to a CertBag?
We could use something similar to x509 `-addtrust anyExtendedKeyUsage`; for instance `-addoracletrust anyExtendedKeyUsage`.

@grahamwoodward I can help you with this if needed.

@cghislai that's excellent thanks, much appreciated. 

@cghislai one "issue" I see though is in PKCS12_create here https://github.com/openssl/openssl/blob/master/crypto/pkcs12/p12_crt.c#L66

in my example/use case because I'm creating the PKCS#12 like so 
`openssl pkcs12 -export -name alias -passout pass:123456 -out cert.pfx -nokeys -in cert.pem`

the cert.pem is added to the STACK_OF(X509) ca variable and cert is NULL, so I'd need to add this new attribute within the loop for what the code thinks are the the list of CA certs, although I don't specify any on the CLI

https://github.com/openssl/openssl/blob/master/crypto/pkcs12/p12_crt.c#L75

This kind of seems wrong to me but I'm probably missing something.

> This kind of seems wrong to me but I'm probably missing something.

I think its normal - a new bag is created for each of the ca you add, so the attribute must be added on each of those bags. Unless Im missing something?

It appears to me you would need to implement a method similar to https://github.com/openssl/openssl/blob/master/crypto/pkcs12/p12_attr.c#L29, and call it from within that loop depending on the option param, similar to what is done on line 69 above (https://github.com/openssl/openssl/blob/master/crypto/pkcs12/p12_crt.c#L68).

@cghislai 

> Im not sure openssl should support vendor attributes.

If bag attributes have a standard format defined by the RFC (say if they have to be formatted as OIDs and vendors respect that format), then how would supporting vendor defined bag attributes like `ORACLE_TrustedKeyUsage` be any different from supporting custom OIDs when creating a certificate?

Or are you saying that Netscape-specific OIDs or Microsoft-specific OIDs aren't vendor attributes?

I do agree that free-form bag attributes should be rejected, but I don't think that's the case here.

> `-addoracletrust anyExtendedKeyUsage`

Sorry, but that's a horrible syntax -- `anyExtendedKeyUsage` seems superfluous, and `-addoracletrust` is plain incorrect -- you aren't trusting Oracle (remember the end user doesn't know the OID definition), you are adding trusted(public)key property to enable trust in Java appllications when loading X509 certificate from PKCS12 file, which isn't exclusive to Oracle Java (OpenJDK most likely uses the same implementation). Therefore, I would suggest naming the flag `-javatrustedcert` or similar.

Please consider the behavior of `keytool` before deciding on the behavior of OpenSSL and on the syntax:

>Which type of import is intended is indicated by the value of the -alias option. If the alias does not point to a key entry, then the keytool command assumes you are adding a trusted certificate entry. In this case, the alias should not already exist in the keystore. If the alias does already exist, then the keytool command outputs an error because there is already a trusted certificate for that alias, and does not import the certificate. If the alias points to a key entry, then the keytool command assumes you are importing a certificate reply.

I believe that different usage options are possible:

1. Have OpenSSL CLI automatically add the OID to any certificate imported into the PKCS12 file which isn't imported with a matching private key (and an openssl.conf option to disable/enable that behavior which can default to disabled).
2. Have a flag `-javatrustedcert` which applies during import and errors out if you are importing a keypair.
3. Have a flag `-javatrustedcert` which can be applied to existing certificate by providing its alias as a parameter, again erroring out if its localkeyid matches a private key in the PKCS12 file.


@levicki 
We have to keep in mind the TODO in the java codebase, indicating the oid might be migrated in a future versions. Thats why i suggested the oracle name within the option; I had in mind `addjdktrust` for future jdk. I read it as `add an oracle trust anchor`, not as `trust oracle`.
Allowing to pass the option value (anyExtendedKeyUsage) would allow to support others key usages. Even though within java it does not appear anything else is supported at the moment, it mimics how this attributes is set for x509, which sounds better usability wise, but its superfluous for this specific use case indeed.

As for the behaviour, i think an option makes sense to prevent breaking other tools by adding a new unsupported attributes using default options. All public keys not part of the key pair, each put in its own bag, would get the extra attribute if specified on the command line. So I would go for your option 2, but I would not error if no certificate is imported. Rather, like for the `caname` option, i would just warn if it specified while nothing is exported.

> Or are you saying that Netscape-specific OIDs or Microsoft-specific OIDs aren't vendor attributes?

I agree, it should be supported. I find it inconvenient that it is not documented nowhere. For netscape, the attribute definitions have been published somewhere (https://www.ietf.org/rfc/rfc2798.txt).




I think I prefer option 2 but by import do you also mean the -export option ?
`openssl pkcs12 -export `

@cghislai 
"I think its normal - a new bag is created for each of the ca you add, so the attribute must be added on each of those bags."

but I'm not adding any ca's, I'm just using the -incert option, which I have to, to specify my one and only public certificate in the pfx file.

I guess I don't understand why for the ucert argument, which is only set if there are private keys, we'll set the friendly name and localkey id where as for anything else (via the -infile argument and I guess the -certfile argument) we just call PKCS12_add_cert() without setting any attributes.

Why are we setting the friendlyname/localkeyid for all the public certs?

@grahamwoodward 

> by import do you also mean the -export option 

yes, i meant it only makes sense to handle this attribute on export, so we should warn when used without -export option.
We could also default the value of the new option to 'anyExtendedKeyUsage' to avoid having to specify it while still supporting other uses.

> Why are we setting the friendlyname/localkeyid for all the public certs?

public keys not part of the key pair appear to be considered as ca certificate. you can alias them using -caname, which would set the 'friendyName' attribute.
the local key id is probably for matching the public/private key of the pair, each within its own bag.



Do I need to call the existing X509at_add1_attr_by_NID() and set up a new NID/OBJ for this trusted cert attribute? 

@grahamwoodward You need a new nid for the oracle oid.
But im not sure of the best way to add it.

I pushed a working solution you can check: https://github.com/openssl/openssl/compare/master...cghislai:openssl:issue-6684.
It temporarly set the trust anchor on the loaded certificates to later set the value on the bag attributes, which may be wrong.
Also, the specifics should be implemented in their own PKCS12_attr* methods.

You can use it like that: ` pkcs12 -export -passin pass:1234 -passout pass:1234 -inkey private.pem -in cert.pem -certfile othercert.pem  -out test.pfx -addoractletrust anyExtendedKeyUsage`
Then check the output using ` pkcs12 -info -in test.pfx -passin pass:1234 -passout pass:1234`

```
Certificate bag
Bag Attributes
    Trusted key usage (Oracle): Any Extended Key Usage (2.5.29.37.0)
subject=C=SK, L=Bratislava, O=Disig a.s., CN=CA Disig Root R2
issuer=C=SK, L=Bratislava, O=Disig a.s., CN=CA Disig Root R2
-----BEGIN CERTIFICATE-----
...
```


> @grahamwoodward You need a new nid for the oracle oid. But im not sure of the best way to add it.
> 
> I pushed a working solution you can check: [master...cghislai:openssl:issue-6684](https://github.com/openssl/openssl/compare/master...cghislai:openssl:issue-6684). It temporarly set the trust anchor on the loaded certificates to later set the value on the bag attributes, which may be wrong. Also, the specifics should be implemented in their own PKCS12_attr* methods.
> 
> You can use it like that: ` pkcs12 -export -passin pass:1234 -passout pass:1234 -inkey private.pem -in cert.pem -certfile othercert.pem -out test.pfx -addoractletrust anyExtendedKeyUsage` Then check the output using ` pkcs12 -info -in test.pfx -passin pass:1234 -passout pass:1234`
> 
> ```
> Certificate bag
> Bag Attributes
>     Trusted key usage (Oracle): Any Extended Key Usage (2.5.29.37.0)
> subject=C=SK, L=Bratislava, O=Disig a.s., CN=CA Disig Root R2
> issuer=C=SK, L=Bratislava, O=Disig a.s., CN=CA Disig Root R2
> -----BEGIN CERTIFICATE-----
> ...
> ```

There are issues in your code:
* `addoractletrust` => `addoracletrust`
* java keytool => Java keytool
* `apps/pkcs12.c:658/659` contains too much spaces
* `crypto/pkcs12/p12_crt.c:170`: oracle =>Oracle

@cghislai 

> I read it as `add an oracle trust anchor`, not as `trust oracle`.

Yes you read it like that, but that's not how any novice user of OpenSSL CLI is going to read it unless they are already aware of the issue.

Furthermore, the word "oracle" is ambiguous because it can also mean "a person through whom a deity is believed to speak" or "an authoritative or wise expression or answer" or it could even be understood as having something to do with "padding oracle" vulnerabilities discovered and patched few years ago in OpenSSL.

> As for the behaviour, i think an option makes sense to prevent breaking other tools by adding a new unsupported attributes using default options.

You seem to have misunderstood the first item on my list. I suggested adding a new option to `openssl.conf` which defaults to disabled (i.e. commented out). That way it wouldn't break anything unless you explicitly enable it in the config file.

For example, it could look like this:
```
[PKCS12_certBag]
attributes = bag_attributes

[bag_attributes]
keyUsage = jdkTrustedKey
```
That would also allow us to easily change the OID later if some sort of standard is established.

On top of that you could then override that on command line using the same syntax used for other extensions.

he way I implanted my initial fix was to make -trustedjavacert a flag, then I was going to add the hardcoded attribute?

I like how you defined the NID, I'll use that in my commit to fix this issue.

@levicki 
> You seem to have misunderstood the first item on my list. I suggested adding a new option to `openssl.conf` which defaults to disabled. That way it wouldn't break anything unless you explicitly enable it in the config file.

Yes this seems the most reasonable. Distributions could then be free to change the default as well. It would require more work though.
But then why not make it generic and support any arbitrary attribute like for x509 ? (https://www.openssl.org/docs/man1.1.1/man5/x509v3_config.html). 

The equivalent to your example could be something like

```
[bag_attributes]
2.16.840.1.113894.746875.1.1 =  ASN1:OID:2.5.29.37.0
```
or

```
[bag_attributes]
jdkTrustedKeyUsage = anyExtendedKeyUsage
```
with options -jdktrustedkeyusage and -nojdktrustedkeyusage for instance.

@grahamwoodward Sure, feel free to use it any way you want. Please take note of the issues mentioned by @michael-o 

"with options -jdktrustedkeyusage and -nojdktrustedkeyusage for instance."

why both? don't we just default to nojdktrustedkeyusage and then only allow -jdktrustedkeyusage to set that attribute? 

i was thinking if the default openssl config adds this attribute but you want to export a keystore without it. Might not be necessary.

so then wouldn't it be the opposite? We'd just support a new -nojdktrustedkeyusage flag?

> @t8m @mattcaswell Is it ok to add a dedicated flag to pkcs12 in order to add a dedicated attribute to a CertBag?
We could use something similar to x509 -addtrust anyExtendedKeyUsage; for instance -addoracletrust anyExtendedKeyUsage.

Not really following this thread, but just responding to this ping. We can add flags to the pkcs12 app as we see fit - but I think we should avoid something very specific to one particular vendor (although there is precedent so it *can* be done). At least I would certainly try and keep the vendor name out of the option name.

Personally I preferred the `-javatrustedcert` although if we're saying this will be on by default via the openssl.conf file, then I think we should add `-nojavatrustedcert` to disable it

I would say keep it simple. 99% of the use case would be to produce a keystore compatible with java, a configuration file can come later.

> Personally I preferred the `-javatrustedcert` although if we're saying this will be on by default via the openssl.conf file, then I think we should add `-nojavatrustedcert` to disable it

Clean and simple from a user PoV. To solve such a problem I was forced to write a Java application. At the end the integrator does not care about the OID of former Sun.

Seems though some prefer the configuration approach, some don't? 

@cghislai 

> But then why not make it generic and support any arbitrary attribute like for x509?

From the RFC 7292 section 4.2:

```
SafeBag ::= SEQUENCE {
     bagId          BAG-TYPE.&id ({PKCS12BagSet})
     bagValue       [0] EXPLICIT BAG-TYPE.&Type({PKCS12BagSet}{@bagId}),
     bagAttributes  SET OF PKCS12Attribute OPTIONAL
 }

 PKCS12Attribute ::= SEQUENCE {
     attrId      ATTRIBUTE.&id ({PKCS12AttrSet}),
     attrValues  SET OF ATTRIBUTE.&Type ({PKCS12AttrSet}{@attrId})
 } -- This type is compatible with the X.500 type 'Attribute'

 PKCS12AttrSet ATTRIBUTE ::= {
     friendlyName | -- from PKCS #9
     localKeyId,    -- from PKCS #9
     ... -- Other attributes are allowed
 }
```

So basically, `PKCS12Attribute` is compatible with X.500 attributes, and given that other attributes are allowed (and it is not explicitly spelled out which ones are not allowed) it would make sense to treat them in the same way X.500 attributes are treated, both configuration and command line option wise.

What you are proposing for the config section seems ok, however command line part does not match existing usage.

I would suggest to check `openssl req` context:

```
 -addext val         Additional cert extension key=value pair (may be given more than once)
 -extensions val     Cert extension section (override value in config file)
```

And also `openssl x509` context:

```
 -extfile infile            File with X509V3 extensions to add
 -extensions val            Section from config file to use
```

I know that would be much more work to implement but that would be preferred if you want to support future arbitrary attributes -- you don't want to have a command line option for each one of them.

@levicki  i tend to agree it would be better, and it would better fulfill this feature request.

But i wonder if its worth it as the single identified use-case is making a java-compatible keystore (i could find some other uses on the web though); and its not really better from the user point of view for that specific use-case (it would need a custom config, rather than a command to copy/paste, and knowledge of the custom attributes required by java, which are documented in the source code only).

i think the agreement seems to go towards arbitrary attributes provided like certificate extensions for x509. Either provided on the command line using something similar to `-addext`, either from the openssl.cnf config file like its done for x509/requests (an option to designate a default section containing the attributes).  The section could be overridden using something similar to `-extensions`. Additionally, a specific config file could be provided similar to `-extfile`.

The difference is that those are not certificate extensions, but bag attributes, so names could be better chosen.
It should also be made clear those attributes will only be added on bags for public keys not part of any key pair. 

For the java use-case, we would need to label the 'jdk trusted key usage' attribute correctly to be able to specify something like `-addext jdkTrustedKeyUsage=anyExtendedKeyUsage`. Distributions would be free to make this a default.

@cghislai 

> it would need a custom config

Which could be optional (so no error if user upgrades `openssl.exe` but does not upgrade their `openssl.cnf`), and provided by default but inactive (see below for an example).

> The difference is that those are not certificate extensions, but bag attributes, so names could be better chosen.

Certificate extensions are also attributes, the only difference is that these apply to the enclosing bag not to the certificate itself.

After thinking a bit more on the possible config syntax, I believe that `pkcs12_extensions` option would be a sensible name, and that it belongs in the CA section which already specifies where to find various extensions (x509, crl).

So, we could go with something like this:

```
[ ca ]
default_ca = CA_default
...
[ CA_default ]
...
x509_extensions = v3_ca
crl_extensions	= crl_ext
...
pkcs12_extensions = pkcs_ext # The extensions to add to the cert bag
...
# Uncomment this if you need Java compatible PKCS12 files
[ pkcs_ext ]
#jdkTrustedKeyUsage = anyExtendedKeyUsage
```

It may seem not worth the effort, but arbitrary bag attributes are actually part of the PKCS12 standard even if there is only one usage example so far. Implementing it so that it can be extended instead of implementing it on a case by case basis should be a no brainer.

my only suggestion would be to rename `pkcs12_extensions` to stick to the nomenclature of the spec. rfc2459 (x509 pki) describes 'certificate extensions', but rfc7292 (pkcs12) only mentions 'bag attributes', and only uses the word 'extension' to indicate possible future extensions.

@cghislai 

> my only suggestion would be to rename `pkcs12_extensions` to stick to the nomenclature of the spec. rfc2459 (x509 pki) describes 'certificate extensions', but rfc7292 (pkcs12) only mentions 'bag attributes', and only uses the word 'extension' to indicate possible future extensions.

The only reason why I suggested `pkcs12_extensions` is because both `x509_extensions` and `crl_extensions` actually contain attribute sets, but are called extensions in the `openssl.cnf` file.

I don't see practical difference between that, and the attribute set which you can have on a PKCS12 bag -- I would rather have consistent naming in the `openssl.cnf` file than tailor it to a standard which will eventually be updated or replaced.

Frankly, at this point I think it would be for the best if OpenSSL maintainers chimed in, triaged the issue, and told us how we should proceed. I believe they are in the best position to understand whether the change we proposed matches the spirit of the project and its codebase.

I just noticed a commented out `#extendedKeyUsage = critical,timeStamping` under the ` [ usr_cert ]` section

@levicki who are those people? can we tag them here to get their input then? 

@grahamwoodward @levicki i think a thread on the [openssl-project@openssl.org](mailto:openssl-project@openssl.org) mailing list would be more suitable to discuss this. 

So you join the mailing list for openssl and it emails you with your password in plaintext?!?! Oh the irony 

> @levicki who are those people? can we tag them here to get their input then?

FYI, the list of committers is here:

https://www.openssl.org/community/committers.html

A subset of those people are OTC members. The OTC are responsible for major design decisions:

https://www.openssl.org/community/otc.html


is this a major design decision? I don't wanna spam too many people but I don't know which people exactly to include in the thread

> After thinking a bit more on the possible config syntax and naming, I believe that pkcs12_extensions option would be a sensible name, and that it belongs in the CA section which already specifies where to find various extensions (x509, crl).

The "ca" section in the OpenSSL config file is named after the "ca" command line app. Similarly there is "req" section named after the "req" application that uses it. What it seems like you are proposing here is a modification to the "pkcs12" app, so it seems more like there should be a new "pkcs12" section.

What I don't see discussed here is what (if any) changes are required to the PKCS12 API functions in order to support this. Any changes to the PCKS12 app will need to be implemented in terms of those functions - so I'd like to understand what those changes are.

> is this a major design decision? I don't wanna spam too many people but I don't know which people exactly to include in the thread

Minor decisions can just be outlined in an issue or PR and appropriate people can be pinged (I can help with identifying appropriate people). Although right at the moment a lot of the more active members of the team are on vacation. More normal service should be resumed next week :-)

This seems to be a bigger thing - we are talking about new application options, config file changes and (probably) new API functions. It might benefit from an actual design document describing the proposed solution. Here's an example one that @hlandau has been pulling together for OTC consideration: #18864. With a design document you are more likely to get reviews from OTC members, and it will be discussed by the whole OTC at one of their regular weekly meetings.

@mattcaswell I'll need some help with that from others because I'm not 100% sure I'm still understanding the proposed design/solution 

@mattcaswell 

> The "ca" section in the OpenSSL config file is named after the "ca" command line app. Similarly there is "req" section named after the "req" application that uses it. What it seems like you are proposing here is a modification to the "pkcs12" app, so it seems more like there should be a new "pkcs12" section.

That makes sense -- I wasn't sure whether we should be defining a new section or not but you are right.

In that case, we should have something like this in the `openssl.cnf`:

```
[ pkcs12 ]
certBagAttr = cb_attr

# Uncomment this if you need Java compatible PKCS12 files
[ cb_attr ]
#jdkTrustedKeyUsage = anyExtendedKeyUsage
```

TL;DR version of the feature request:

Enable OpenSSL pkcs12 app to add arbitrary `PKCS12Attribute` (compatible with X.500 type 'Attribute') to a `SafeBag` of type `certBag` as the [RFC 7292](https://www.rfc-editor.org/rfc/rfc7292#section-4.2) allows this, and it is already being used by Java keytool to mark certificates which aren't part of a keypair as trusted.

I'd like to point out that OpenSSL pkcs12 app already implicitly adds some attributes to the `SafeBag` containers of different types -- `friendlyName` and `localKeyId`, so that the public/private keypair can be matched.

Ideally, the implementation should support adding arbitrary attributes to any type of `SafeBag`, but initially it does not need to support types other than `certBag`.

Frankly, I have no idea how that would translate to PKCS12 API changes since I am not familiar with the codebase -- I am just trying to help formulate this request into a generic feature instead of a vendor-specific kludge. Any further advice you can offer is much appreciated.

After a bit of digging it looks like we actually already have APIs for adding arbitrary attributes to a safebag. They were added to OpenSSL 3.0 by @jon-oracle via #10063. The relevant functions are documented here:

https://www.openssl.org/docs/man3.0/man3/PKCS12_add1_attr_by_NID.html

So libcrypto already supports what you need. It's just not been exposed in the pkcs12 app.
 

Driving it through the cnf file should be relatively straight forward. You can use the helper function `app_load_config` to load the config file, e.g.

https://github.com/openssl/openssl/blob/cd854f225bbef9561fad680e2628dfd55be1b141/apps/ca.c#L776-L782

There are various CONF_* functions for reading the contents. An example of usage is here:

https://github.com/openssl/openssl/blob/cd854f225bbef9561fad680e2628dfd55be1b141/crypto/x509/v3_conf.c#L301-L346

@mattcaswell

> After a bit of digging it looks like we actually already have APIs for adding arbitrary attributes to a safebag. They were added to OpenSSL 3.0 by @jon-oracle via #10063. The relevant functions are documented here:
> 
> https://www.openssl.org/docs/man3.0/man3/PKCS12_add1_attr_by_NID.html
> 
> So libcrypto already supports what you need. It's just not been exposed in the pkcs12 app.

I skimmed the documentation for those APIs and I was wondering if you can clarify the following:

> These functions do not check whether an existing attribute of the same type is present. **There can be multiple attributes with the same type assigned to a safeBag.**

From my admittedly brief reading of RFC 7292, I have not seen a provision to allow multiple attributes with the same type assigned to a **single** safeBag (that's how I am reading that paragraph from the OpenSSL docs).

At best the behavior in that case seems undefined. Should adding duplicate attributes to safeBags really be allowed?

> At best the behavior in that case seems undefined. Should adding duplicate attributes to safeBags really be allowed and what would be the consequences of a safeBag having multiple instances of, for example, friendlyName and localKeyId?

Good question. I don't know. Perhaps @jon-oracle can provide some insight.

Sure.

At the time I added this I wanted the API to be as unrestricted as possible to allow the application freedom to decide how any custom attributes are used. It was not the intention that duplicates of the already-defined friendlyName and localKeyId attributes be added, as they already have a separate API. Internally the way attributes are stored (in a stack) allows duplicates. 

Re-reading the ASN.1 spec though does indicate that this probably should not be allowed, due to the attributes being grouped in a SET. My own use cases do not require duplicate attributes so maybe the code could be changed?

I'm trying to test my code for this and I was expecting NCONF_get_string to simply return NULL if it doesn't find my group/name combo but it actually spits out an error. Is this something I can switch off? I want it to silently fail and continue assuming the user's openssl.cnf doesn't have the [pkcs12] section


also if I do something like 
```
[pkcs12]
certBagAttr = cb_attr

[cb_attr]
jdkTrustedKeyUsage = whatDoesThisMean
```
then I get an error, which I guess is kind of expected?

40075031097F0000:error:04000067:object identifier routines:OBJ_txt2obj:unknown object name:crypto/objects/obj_dat.c:408:

> I'm trying to test my code for this and I was expecting NCONF_get_string to simply return NULL if it doesn't find my group/name combo but it actually spits out an error. Is this something I can switch off? I want it to silently fail and continue assuming the user's openssl.cnf doesn't have the [pkcs12] section

I see a *lot* of this in the ca and req apps:

https://github.com/openssl/openssl/blob/2d46a44ff24173d2cf5ea2196360cb79470d49c7/apps/ca.c#L516-L518

As an API that's quite rubbish :-(

yeah that works....and yeah that's horrible! 

> 40075031097F0000:error:04000067:object identifier routines:OBJ_txt2obj:unknown object name:crypto/objects/obj_dat.c:408:

What API call gives you that error? It's trying to convert a string into an OID from the known internal database of such things.

the OBJ_txt2obj()

Oh...right - called OBJ_txt2obj() directly?

Any text that you pass to that function needs to exist in crypto/objects/objects.txt otherwise you will get that error. (if you make any updates to objects.txt you need to run "make update" afterwards).

yeah the text exists, I was just testing what happens if in my openssl.cnf I've got the attribute set completely wrong e.g
`
[cb_attr]
jdkTrustedKeyUsage = thisIsCompletelyWrong
`

"Oh...right - called OBJ_txt2obj() directly?" 

is that a no no then? What's the correct API to take the value read from the conf then? 

I'm using NCONF_get_string, NCONF_get_section and NCONF_get_value() for each attribute. Then I'm passing the val->value to OBJ_txt2obj() to add it

> yeah the text exists, I was just testing what happens if in my openssl.cnf I've got the attribute set completely wrong e.g `[cb_attr] jdkTrustedKeyUsage = thisIsCompletelyWrong`

You can try setting say `extendedKeyUsage` value to `someJunk` when generating a certificate, and see if you get the same error you are getting when you use `thisIsCompletelyWrong` as a value for `jdkTrustedKeyUsage`.

One other thing to test is what happens if you set `jdkTrustedKeyUsage` to numerical OID.

"One other thing to test is what happens if you set jdkTrustedKeyUsage to numerical OID."

you mean `jdkTrustedKeyUsage = 12345`

> you mean `jdkTrustedKeyUsage = 12345` ?

No, a properly formed OID:
```
jdkTrustedKeyUsage = ASN1:OID:2.5.29.37.0

And even:

2.16.840.1.113894.746875.1.1 = ASN1:OID:2.5.29.37.0
```
And probably user-defined OIDs in the config file itself, I don't know how that is handled by the config parser.

It didn't like any of those, I get the same error in OBJ_txt2obj:unknown object name

It's only happy with
`jdkTrustedKeyUsage = anyExtendedKeyUsage`

To load new OID definitions from the config file use the apps helper function `add_oid_section`. As done (for example) in the ca app here:

https://github.com/openssl/openssl/blob/d272ef5372a16924a5804b74a76491b1bc8529b5/apps/ca.c#L529-L530

This will load the `oid_section` from the standard config file and enable an end user to define their own arbitrary OIDs and refer to them via a simple string:

https://github.com/openssl/openssl/blob/d272ef5372a16924a5804b74a76491b1bc8529b5/apps/openssl.cnf#L24-L43

I expect that the left hand side of your config section entries will be an OID (or a string that maps to an OID). All OIDs will have a corresponding unique internal integer identifier (a NID). So I would suggest running the left hand side of your config section entries through `OBJ_txt2nid()` to get that NID value.

I then expect that certain NIDs will be well known and therefore you will know what type of data should be expected on the right hand side of the config file entry. In the case of `jdkTrustedKeyUsage` we expect the right hand side to be an OID. In this case run it through `OBJ_txt2obj()` to get the ASN1_OBJECT. I assume (haven't checked) that the "data" for this attribute is simply the DER encoding of that ASN1_OBJECT which you can obtain via `d2i_ASN1_OBJECT`. Or maybe it has to be wrapped up in a OCTET_STRING??? not sure...

To do the arbitrary parsing of DER in string form ("OID:1.2.34.5" or "INTEGER:0X0001010") you need to use `ASN1_generate_nconf`:
https://www.openssl.org/docs/man3.0/man3/ASN1_generate_nconf.html

So something like this:

```` C
void doit(PCKS12_SAFEBAG *bag, CONF *conf, CONF_VALUE *val)
{
    int nid, len:
    ASN1_TYPE *typ;
    char *bytes

    nid = OBJ_txt2nid(val->name);
    switch(nid) {
    case NID_jdkTrustedKeyUsage: /* Assumes this NID is registered in objects.txt */
        /* Do something with val->value to set bytes and len */
        /* Possibly something with OBJ_txt2obj(val->value) following by d2i_ASN1_OBJECT() */
        break
    case /*other NIDs here */
        break;
    default:
        /* Unknown attribute here*/
        /* Perhaps parse arbitrary config file DER data using ASN1_generate_nconf() */
       typ = ASN1_generate_nconf(val->value, conf);
       /* Do something with typ here: set bytes and len */
    }
    PKCS12_add1_attr_by_NID(bag, nid, ??, bytes, len);
}

````

@mattcaswell Thanks for clarifying that.

So far we only need `jdkTrustedKeyUsage` on the left side (for which @grahamwoodward  has presumably already added a NID and OID.

Since `friendlyName` and `localKeyId` are already handled automatically I would not allow them to be specified manually in pkcs12 section either as a string or as an OID -- IMO hardcoding those should result in an error, though what message should be shown to the user, and where the string should be added is another question for people with more codebase experience than me.

As for the right side of `jdkTrustedKeyUsage` as far as we know currently there is only one valid option -- `anyExtendedKeyUsage` or its numerical (OID/ASN.1) equivalent so this should be enforced too with an error message.

As for all other atributes (both left and right side) they should be allowed as long as they aren't duplicates, and as long as they are well formed.

I emailed my ICLA form yesterday so I'll push what I've got when I get confirmation (assuming I will, I don't know what the process is) then it'll be easy for you to point me at what I've got wrong etc.

> I emailed my ICLA form yesterday so I'll push what I've got when I get confirmation (assuming I will, I don't know what the process is) then it'll be easy for you to point me at what I've got wrong etc.

You should get a confirmation back once its set up. Ping if you have heard anything after a couple of (working) days.

"I have added you to our CLA database and you should now be able to contribute."

We're in whoop whoop.

So first question is how to I push my change to get some review comments/feedback etc?

https://github.com/openssl/openssl/pull/19025

@mattcaswell @levicki @cghislai feel free to comment/review please

https://github.com/openssl/openssl/pull/19025 has been closed, is there any reason why this is still open?