OpenSSL accepts a certificate whose serial number is zero

OpenSSL accepts a certificate whose serial number is zero which is forbidden by RFC 5280 and its errata.The version I use is openssl-1.1.1c. 
The certificate should be rejected according to Sec. 4.1.2.2 in RFC 5280 "The serial number MUST be a positive integer assigned by the CA to each certificate" and the errata #3200 "The serial number MUST be a positive **non-zero** integer assigned by the CA to each certificate".
[test.zip](https://github.com/user-attachments/files/19550501/test.zip)

This is a misreading of RFC 5280. RFC 5280 requires conforming CAs to only issue certificates with positive serial numbers. However, it specifically notes that non-conforming CAs may issue certificates with serial numbers that are negative or zero. This is because RFC 5280 is just a profile of X.509, and there is no requirement for all certificates issuers to comply with this profile. That is why Section 6.1 of RFC 5280 specifies recommends that certificate verification not include checks for conformance to RFC 5280. (See also #24258, #26958)

Per 4.1.2.2 of RFC 5280:
```
   Note: Non-conforming CAs may issue certificates with serial numbers
   that are negative or zero.  Certificate users SHOULD be prepared to
   gracefully handle such certificates.
```
And, I guess, the current OpenSSL's behaviour (accepting the certificate) falls under "graceful handling", closing this as WONTFIX.